.log{
  display: block !important;
}
.reg{
  display: none !important;
}
.result{
  margin-top: 2%;
}
.btn-primary {
    color: #fff;
    background-color: #163B5A;
    border-color: #163B5A;
    border-radius: 0;
}
.page-header {
    padding-bottom: 0;
    margin: 20px 0 0px;
    border-bottom: 1px solid #eee;
}
.footer{
  min-height: 10.6%
}
