
#header_search_form .search_input {
    margin-right: 0;
    outline: 0;
}

#search_terms {
   
    padding: 2px 2rem;
    width: 70%;
    border-radius: 40px;
    background: #FFF;
    border: 1px solid rgba(214,214,214,.61);
    display: inline-block;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}



#col8{
    padding: 0px;
    height: 100%;
}


#col4{
    padding: 0px;
    height: 100%;
}


#jumboalert{
    height: 100%;
    margin-bottom: 0px;
    background-color: white;
    border-color: white;
    /*color: #a94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;*/
}


.navbar {
    display: none;
}

.footer {
  display: none;
  height: 6%;
}



#page-content-wrapper {
    min-height: 600px;
}


.panel-heading {
    height: 6%;
}

#panel-heading2 {
    height: 6%;
    color: black;
    background-color: #F1D9F7;
    border-color: #E4BCF1;

}


#searchTag{
    color: #79318F;
}
/*
#panel-heading2 >li a{
    color: black;
}
*/

/* #8C33B7*/

#panel-footer {
    height: 8%;
    /*background-color: #d9edf7*/
}

.footer > .navbar {
  height: 100%;
  margin: 0;
}

.viewContainer {
  height: 100%;
}

/***** class content all *******/
.chatContainer {
  height: 100%;
}





#navbarfooter{

    padding-bottom: 0px;
}

.navbar-brand>img {
    margin-left: 20em;

}

.messageContainer>p{
    margin-left: 25em;
}


.content {


  min-height: 570px;
  height: 100%
}



/* General Styles */

.btn#menu-toggle {
    /*color: rgb(250,250,250);
    background-color: rgba(0,0,0,0.87);
    border-color: rgba(0,0,0,0.87);
    margin-top: -5.5em;
    margin-left: 1em;
    /*margin-left:-3em;
    margin-top:-5.2em;*/
}

.btn#menu-toggle2 {
    color: rgb(250,250,250);
    background-color: rgba(0,0,0,0.87);
    border-color: rgba(0,0,0,0.87);
    /*margin-left:-3em;
    margin-top:2.15em;*/
}

img#avatar {
    height: 3em;
    margin-bottom:10px;
    margin-top:20px;
}

.fa {  color: white; }


/*#jumboalert .fa {  color: black; }*/


#jumboalert .editable-error {

    font-size: 12px;
}


#panel-settings {

}


.c-align-left {    text-align: left; }


li {   text-align: center; }

ul {   list-style-type: none; }

.fa-heart-o, .fa-heart  {
	margin-right: 5px;
    margin-left: -20px;
}


/* Wrapper Styles */

#wrapper {

    padding-left: 0;
    margin: 0;
    padding: 0;
    min-height: 525px;
    height: 100% ;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;


}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {

    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;

    margin-top: 0;
    min-height: 600px;


    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    border-color: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    /*position: absolute;*/
    height: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    color: white;
}

.activeInvitations li {
    text-indent: 1px;
    text-align-last: justify;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav ul>li a:hover {
    text-decoration: none;
}

.emphasis a:hover {
    text-decoration: none;
    color: rgba(255,152,0,1);
    cursor: pointer;


}
#jumboalert .fa:hover  { 
    text-decoration: none;
    cursor: pointer;
}




.emphasis li .fa:hover {
    text-decoration: none;
    color: rgba(255,152,0,1);
}


.activeInvitations li .fa:hover {
    text-decoration: none;
    color: white;
}

#tagGroup:hover,
#tagGroup:focus {
    text-decoration: none;
    font-weight:bolder;
    cursor: pointer;


}

#menu-toggle:hover,
#menu-toggle:focus {
    text-decoration: none;


}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 85px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {


    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
        height: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
        /*padding-top:17px;*/

        padding-bottom: 0px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Chat Styles */

#alert
{
	margin-bottom: 0;
}

#btn-group-settings
{
  margin-top:-1px;
  color: rgba(255,152,0,1);
  background-color: black;
  border-color: black;
}

#btn-private-channel-settings
{
  margin-top:-1px;
  color: rgba(255,152,0,1);
  background-color: black;
  border-color: black;
}

#btn-public-channel-settings
{
  margin-top:-1px;
  color: rgba(255,152,0,1);
  background-color: black;
  border-color: black;
}

#btn-chat-choose
{
	margin-top:-1px;
}

/**
<div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="panel panel-info">

**/

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    width: 75%;

}

.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: #31b0d5;
    cursor: pointer;
}


.row {
  height: 100%;
}

.container-fluid {
  height: 100%;
}


#row-settings {
    margin: 0px;
    height: 18.2%;
}

#row-settings1 {
    margin: 0px;
    height: 81.8%;
}

#panel-set {
    margin: 0px;
    border-color: white;
}

#panel-set1 {
    margin: 0px;
    border-color: white;
}

#panel-info
{
   /* margin-left: -1.4em;
    /*margin-top: -2.8em;
    margin-right: -1.46em;*/
    min-height: 581px;
    height: 100%;
    margin-bottom: 0px;

}

#panel-info0
{
    height: 100%;
    margin-bottom: 0px;
    /*border-color: #bce8f1;*/
    /*border-color: white;*/
}
#panel-heading-settings {
    border-color: #bce8f1;
    height:10%;
}


#panel-info1
{

    height: 100%;
    margin-bottom: 0px;
    /*border-color: #bce8f1;*/
    /*border-color: white;*/

}


#panel-info2{

    /*color: #79318F;*/
    /*background-color: #F1D9F7;
    border-left-color: #bce8f1;*/
    border-color: #E4BCF1;
    margin: 0px;
    min-height: 581px;
    height: 100%;
}


.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.chat hr {
  border:none;
  border-top:1px dotted #B3A9A9;
  margin-top: 5px;
  margin-bottom: 15px;
}

.chat li.left .chat-body
{
    margin-left: 70px;
}

.chat li.right .chat-body
{
    margin-right: 70px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.chat li .username {
  font-size: 16px;
}

.chat li .date {
  color: #777;
  font-style: italic;
  margin-right: 20px;
  margin-left: 20px;
}

.chat li .header {
  margin-bottom: 10px;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    /*overflow-y: scroll;*/
    /*min-height: 525px;*/
    min-height: 33em;
    height: 86%;
}

#panel-body
{
    overflow-y: scroll;
}

#panel-body1
{
    /*overflow-y: scroll;*/
    /*min-height: 525px;*/
    min-height: 33em;
    height: 94%;
    padding: 0px;
}



#panel-body2
{
    overflow-y: scroll;
    /*min-height: 525px;*/
    min-height: 33em;
    height: 94%;
}


#panel-settings {
   height: 94%;
   border-color: transparent;
   min-height: 1px;


}

#list-group {
   
   border-color: transparent;
   min-height: 1px;
   overflow-y: scroll;
   max-height: 25.4em;

}





::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}





