/*Añadidos para izaskun*/


/********nuevo********/


#menusearch-toggle:hover,
#menusearch-toggle:focus {
    text-decoration: none;
    font-weight:bolder;
    cursor: pointer;
}

#menusearch-toggle {
    color: mediumorchid;
}

.searchcontent img{
  height: 2em;
}


.date2 {
   float: right;
}


#panel-body2 h3{
  text-align: center;
}



.searchcontent
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.searchcontent li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.searchcontent li.left .searchcontent-body
{
    margin-left: 60px;
}

/*
.searchcontent li.right .searchcontent-body
{
    margin-right: 60px;
}
*/

.searchcontent li .searchcontent-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .searchcontent .glyphicon
{
    margin-right: 5px;
}
/*
.panel-body
{
    overflow-y: scroll;
    height: 250px;
}
*/


::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}






/*****************/
#searchresult h3{
  color: mediumorchid;
  margin: 0px;
}


#panel-settings {
	/*antes 11*/
  height: 15%!important;
}

#panel-settingschannels {
  /*antes 11*/
  height: 15%!important;
}



.selectpicker{
  style: 'btn-info'
}


#inline-group{
  margin-top: -5px;
}


#searchbox{

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


/*
#list-group {
  height: 100%;
  max-height: none!important;
  margin-bottom: 0px;
}*/

/*Fin de añadidos para izaskun*/
/*
.list-group-item:first-child {
    border-radius: 50%;
}

.list-group-item {
    border-radius: 50%;
}

.list-group-item:last-child {
    border-radius: 50%;
}
*/




#labeladmin{
    float: right;
    background-color: #F44336;
}


#img-circle{
    float:left;
}


#alertnotusers {
    text-align: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0em;

}

#containermembersettings{
	height: 75%;
	padding-right: 0px;
  text-align: center;
}


#btnremoveuser{
    background-color: #D9534F;
}

#btneditgroup button{
	float:left;
}

#btnviewinvitation{
     background-color: #F0AD4E;
}

#btnviewright a{
	float:right;
}


.highlightedText {
    background: yellow;
}


.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    display: none;
}



#header_search_form .search_input {
    margin-right: 0;
    outline: 0;
}

#search_terms {

    padding: 2px 2rem;
    width: 70%;
    border-radius: 40px;
    background: #FFF;
    border: 1px solid rgba(214,214,214,.61);
    display: inline-block;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}



#col8{
    padding: 0px;
    height: 100%;
}


#col4{
    padding: 0px;
    height: 100%;
}


#jumboalert{
    height: 100%;
    margin-bottom: 0px;
    background-color: white;
    border-color: white;
    /*color: #a94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;*/
}


.navbar {
    display: none;
}

.footer {
  display: none;
  height: 6%;
}



#page-content-wrapper {
    min-height: 600px;
}



#panel-heading {
  font-size: large;
  height: 8%;
}

#panel-heading2 {
    height: 8%;
    color: black;
    background-color: #F1D9F7;
    border-color: #E4BCF1;

}


#searchTag{
    color: #79318F;
}
/*
#panel-heading2 >li a{
    color: black;
}
*/

/* #8C33B7*/

#panel-footer {
    height: 8%;
    /*background-color: #d9edf7*/
}

.footer > .navbar {
  height: 100%;
  margin: 0;
}

.viewContainer {
  height: 100%;
}

/***** class content all *******/
.chatContainer {
  height: 100%;
}





#navbarfooter{

    padding-bottom: 0px;
}

.navbar-brand>img {
    margin-left: 20em;

}

.messageContainer>p{
    margin-left: 25em;
}


.content {

  min-width: 900px;
  min-height: 570px;
  height: 100%
}



/* General Styles */

.btn#menu-toggle {
    /*color: rgb(250,250,250);
    background-color: rgba(0,0,0,0.87);
    border-color: rgba(0,0,0,0.87);
    margin-top: -5.5em;
    margin-left: 1em;
    /*margin-left:-3em;
    margin-top:-5.2em;*/
}

.btn#menu-toggle2 {
    color: rgb(250,250,250);
    background-color: rgba(0,0,0,0.87);
    border-color: rgba(0,0,0,0.87);
    /*margin-left:-3em;
    margin-top:2.15em;*/
}

img#avatar {
    height: 3em;
    margin-bottom:10px;
    margin-top:20px;
}

#sidebar-wrapper .fa,
#panel-settings .fa {
  color: white;
}


#panel-settingschannels .fa {
  color: white;
}


/*#jumboalert .fa {  color: black; }*/


#jumboalert .editable-error {

    font-size: 12px;
}




.c-align-left {    text-align: left; }


#sidebar-wrapper li {   text-align: center; }

ul {   list-style-type: none; }

.fa-heart-o, .fa-heart  {
	margin-right: 5px;
    margin-left: -20px;
}


/* Wrapper Styles */

#wrapper {

    padding-left: 0;
    margin: 0;
    padding: 0;
    min-height: 525px;
    height: 100% ;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;


}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {

    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;

    margin-top: 0;
    min-height: 600px;


    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    border-color: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    min-width: 900px;
    width: 100%;
    /*position: absolute;*/
    height: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    color: white;
}

.activeInvitations li {
    text-indent: 1px;
    text-align-last: justify;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav ul>li a:hover {
    text-decoration: none;
}

.emphasis a:hover {
    text-decoration: none;
    color: rgba(255,152,0,1);
    cursor: pointer;


}
#jumboalert .fa:hover  {
    text-decoration: none;
    cursor: pointer;
}




.emphasis li .fa:hover {
    text-decoration: none;
    color: rgba(255,152,0,1);
}


.activeInvitations li .fa:hover {
    text-decoration: none;
    color: white;
}

#tagGroup:hover,
#tagGroup:focus {
    text-decoration: none;
    font-weight:bolder;
    cursor: pointer;


}

#menu-tag:hover,
#menu-tag:focus {
    text-decoration: none;
    font-weight:bolder;
    cursor: pointer;


}



#menu-toggle:hover,
#menu-toggle:focus {
    text-decoration: none;


}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    /*height: 85px;*/
    font-size: 18px;
    /*line-height: 60px;*/
    height: 7.7em;
}

.sidebar-brand h3{
  margin-bottom: 0px;
  margin-top: 10px;

}


.sidebar-nav > .sidebar-brand a {
    color: white;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}




@media(max-width:458px) {

	/*.panel-body {

	    height: 80% !important;
	}
	.panel-heading {
	    height: 12%;
	}

	#btnviewright {
	float:inherit;
	}

	#btnviewright a{
	float:inherit;
	}


	/*#panel-body1
	{

    height: 88%;

	}*/



}


/*@media(max-width:433px) {

	/*.panel-body {

	    height: 80% !important;
	}
	.panel-heading {
	    height: 12%;
	}
	*/
	/*#btnviewright {
	float:inherit;
	}

	#btnviewright a{
	float:inherit;
	}
*/

	/*#panel-body1
	{

    height: 88%;

	}



}*/





@media(min-width:768px) {


    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
        height: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
        /*padding-top:17px;*/

        padding-bottom: 0px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Chat Styles */

#alert
{
	margin-bottom: 0;
}

#btn-group-settings
{
  margin-top:-1px;
  color: rgba(255,152,0,1);
  background-color: black;
  border-color: black;
}

#btn-private-channel-settings
{
  margin-top:-1px;
  color: rgba(255,152,0,1);
  background-color: black;
  border-color: black;
}

#btn-public-channel-settings
{
  margin-top:-1px;
  color: rgba(255,152,0,1);
  background-color: black;
  border-color: black;
}

#btn-chat-choose
{
	margin-top:-1px;
}

/**
<div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="panel panel-info">

**/

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    width: 100%;

}

.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: #31b0d5;
    cursor: pointer;
}

#btnadduser {
	background-color: #61B95C;
}


/*
.input-group-addon1 {

    background-color: white;
    cursor: pointer;
}
*/

.row {
  height: 100%;
}

.container-fluid {
  height: 100%;
}




#row-settings {
    margin: 0px;
    height: 20%;
}

#row-settingschannels {
    margin: 0px;
    height: 20%;
}



#row-settings0 {
    margin: 0px;
    height: 20%;
}

#row-settings1 {
    margin: 0px;
    height: 80%;
}

#row-settings1channels {
    margin: 0px;
    height: 80%;
}

#panel-set {
    margin: 0px;
    border-color: white;
}

#panel-setchannels {
    margin: 0px;
    border-color: white;
}




#panel-set1 {
    margin: 0px;
    border-color: white;
    height: 100%;

}

#panel-set1channels {
    margin: 0px;
    border-color: white;
    height: 100%;

}




#panel-info
{
   /* margin-left: -1.4em;
    /*margin-top: -2.8em;
    margin-right: -1.46em;*/
    min-height: 581px;
    height: 100%;
    margin-bottom: 0px;
    border-radius: 0px;

}

#panel-info0
{
    height: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
    /*border-color: #bce8f1;*/
    /*border-color: white;*/
}
#panel-heading-settings {
    border-color: #bce8f1;
    height:10%;
}

#panel-heading-settings h3{
    /*font-size: inherit;*/
}


#panel-heading-settingschannels {
    border-color: #bce8f1;
    height:10%;
}

#panel-heading-settingschannels h3{
    /*font-size: inherit;*/
}



#panel-info1
{

    height: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
    /*border-color: #bce8f1;*/
    /*border-color: white;*/

}


#panel-info2{

    /*color: #79318F;*/
    /*background-color: #F1D9F7;
    border-left-color: #bce8f1;*/
    border-color: #E4BCF1;
    margin: 0px;
    min-height: 581px;
    height: 100%;
    border-radius: 0px;
}


.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.chat hr {
  border:none;
  border-top:1px dotted #B3A9A9;
  margin-top: 5px;
  margin-bottom: 15px;
}

.chat li.internal-message hr {
  margin-bottom: 5px;
}

.chat li.left .chat-body
{
    margin-left: 70px;
}

.chat li.right .chat-body
{
    margin-right: 70px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.chat li .username {
  font-size: 16px;
}

.chat li .date {
  color: #777;
  font-style: italic;
  margin-right: 20px;
  margin-left: 20px;
}

.chat li .header {
  margin-bottom: 10px;
}

.chat li.internal-message {
  font-style: italic;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.chat li.internal-message .header {
  margin-bottom: 5px;

}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

#panel-body
{
  overflow-y: scroll;
  min-height: 33em;
  height: 84%;
}

#panel-body1
{
    /*overflow-y: scroll;*/
    /*min-height: 525px;*/
    min-height: 33em;
    height: 92%;
    padding: 0px;
}

#panel-body1channels
{

    min-height: 33em;
    height: 94%;
    padding: 0px;
}



#panel-body2
{
    overflow-y: scroll;
    /*min-height: 525px;*/
    min-height: 33em;
    height: 92%;
}


#panel-settings {
   height: 94%;
   border-color: transparent;
   min-height: 1px;


}


#panel-settingschannels {
   height: 94%;
   border-color: transparent;
   min-height: 1px;


}




#list-group {

   border-color: transparent;
   min-height: 1px;
   overflow-y: scroll;
   height: 100%;
   max-height: none;
   margin-bottom: 0px;





}

.list-group-item {
	/*border: none;*/
	padding-bottom: 0px;
	border-color: transparent;
}





::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}




uib-accordion.question-panels .panel-group .panel {
  margin-top: 3px;
  border-radius: 1px;
  border: none;
}

uib-accordion.question-panels.text-left .panel {
  margin-right: 60px;
}
uib-accordion.question-panels.text-right .panel {
  margin-left: 60px;
}

uib-accordion.question-panels .panel-heading {
  padding: 5px 10px;
  background-color: rgba(238, 238, 238, 1);
  border: none;
  color: #777777;
}

uib-accordion.question-panels .panel-heading h4 {
  font-size: 14px;
  color: #777777;
}

uib-accordion.question-panels a:focus,
uib-accordion.question-panels a:hover {
  outline: none;
  text-decoration: none;
}


span.question-title,
span.question-new-answer{
  font-weight: 700;
  font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-right: 5px;
}

span.question-title {
  text-decoration: underline;
  font-style: italic;
}

a.question-link {
  color: #777777;
  font-weight: bold;
  cursor: pointer;
}
a.question-link:hover {
  color: #555555;
  text-decoration: none;
}

.badge-mod {
  min-width: 6px;
  padding: 4px 8px;
  font-size: 11px;
  font-weight: 700;
  line-height: 2;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: super;
  background-color: maroon;
  display: inline;
  border-radius: 10px;
  position:relative;
  top: -12px;
  right: -3px;
}

.badge-mod:empty {
  display: none;
}





