@font-face{
    font-family:roboto;
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}
@font-face{
    font-family: lora;
    src: url('../fonts/Lora-Regular.ttf');
}
p
{
  font-family: lora;
  font-size: 1.5rem;
}
h1, h2 {
  font-family: Oswald;
}
h2 a, h1 a
{
  color:#000000;
}



.classtoggle:hover,
.classtoggle:focus {
    text-decoration: none;
    cursor: pointer;


}


.navbar, .footer {
  display: none;
}

.new-question-container {
  margin-top: 25px;

}
.dropdown-menu.menu-logout {
  font-size: 12px;
  left: 90px;
  top: 25px;
  background: rgba(94, 100, 117, 0.98);
  background-image: url('../images/patern.png');
  min-width: 120px;
  padding-left: 10px;
}
.logged-user .dropdown-toggle {
    cursor: pointer;
}

.boton-menu {
  padding-top: 10px;
  padding-left: 15px;
  font-size: large;

}
.boton-menu a {
  color: #33282E;
}
.boton-menu a:hover {
  text-decoration: none;
  color: #DA7341;;
}

a.btn-title-menu,
a.btn-title-menu:hover {
  color: white;
  test-decoration: none;
  background-color: #286090;
  border-color: #204d74;
  cursor: default;
}

.emphasis a:hover {
  text-decoration: none;
  color: rgba(255, 152, 0, 1);
  cursor: pointer;
}

.question-body {
  margin-top: 20px;
}

.tags-content {
  margin-top: 30px;
}


/* MENU IZQUIERDA */
#wrapper {

  padding-left: 0;
  margin: 0;
  padding: 0;
  min-height: 525px;
  height: 100% ;

  background: rgba(0, 37, 128, 0.5);
  background-image: url('../images/patern.png');

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;



}

#wrapper.toggled {
  padding-left: 250px;
}


#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0px;
  margin-top: 0;
  min-height: 600px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  border-color: #000;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
  min-height: 600px;
  background: white;
  font-family: lora;

}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-brand .logo {
  width: 150px;
  max-width: 180px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.sidebar-brand .logged-user {
  font-size: 18px;
  text-align: center;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logged-user .avatar {
  margin-right: 4px;
  width: 25px;
}

.zone-buttons {
  text-align: center;
  font-size: 12px;
  display: block;
  margin-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

a.loginButton
{
  text-align:center!important;
}
.sidebar-nav > .sidebar-brand a.btn-zone {
  display: inline-block;
  width: 60px;
  padding: 2px;
  text-align: center;
  color: #ddd;
  border: 1px dotted #ddd;
  border-radius: 0;

  background-color: rgba(221, 221, 221, 0.37);
  color: rgba(221, 221, 221, 0.67);
}

.sidebar-nav > .sidebar-brand a.btn-zone.right {
  border-top-right-radius: 135px;
  border-bottom-right-radius: 135px;
}

.sidebar-nav > .sidebar-brand a.btn-zone.left {
  border-top-left-radius: 135px;
  border-bottom-left-radius: 135px;
}

.sidebar-nav > .sidebar-brand a.btn-zone:hover {
  background-color: rgba(221, 221, 221, 0.22);
  color: rgba(221, 221, 221, 0.67);
}

.sidebar-nav > .sidebar-brand a.btn-zone.active,
.sidebar-nav > .sidebar-brand a.btn-zone.active:hover {
  background-color: transparent;
  color: #ddd;

  cursor: default;
}

.sidebar-nav  ul {
  padding-left: 34px;
  list-style-type: none;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: left;
  cursor: pointer;
}

.sidebar-nav .menu-option {
  padding: 10px 12px;
}

.sidebar-nav .menu-option.addlink {
  border:1px dotted #B3A9A9;
}

.sidebar-nav .fa {
  margin-left: 5px;
  margin-right: 8px;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.sidebar-nav li {
    color: white;
}

a
{
    color:#DA7341;
}
.btn-primary {
    color: #fff;
    border-radius: 0;
}
.nav-pills > li.active > a
{
    color: #ffffff;
    background-color: #33282E;
    border-color: #33282E;
}
.nav-pills > li > a {
    color:#33282E;
    text-decoration: none;
}
/*Nav bar*/
.logo-black{
  display: block;
  padding-top: 0%;
  max-width: none;
  width: 150px !important;
}
.logo-white{
  display: none !important;
}



/***********CABECERA FORO***********/
.headRight
{
    margin-top: 20px;
    margin-bottom: 10px;
}
.headLeft .btn-group
{
    margin-top: 20px;
}
.headLeft .col-md-6
{
    padding-left:0;
}

/*SEARCH FORM*/
#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
    float:right;
}
#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.search-query:focus + button {
    z-index: 3;
}
.search-query:focus{
    width: 260px;
}

#exTab2 ul.nav
{
    margin-top:13%;
}


/************CONTENIDO PRINCIPAL FORO*************/
.pregunta
{
    overflow: hidden;
}
.votes-count
{
  font-size:1.4rem;
}
.votes,.answers,.views
{
    display:inline-block;
    margin:0 2px;
    color: #777;
}
.votes
{
    font-size: 2.0rem;
}
.votes .glyphicon,.answers .glyphicon,.views .glyphicon
{
    margin-right:4px;
}
.tags
{
    line-height: 18px;
    text-align: left;
}
.tags a
{
    border: 1px solid #e1ecf4;
    display: inline-block;
    margin: 2px 2px 2px 0;
}
.tags a:hover,.questiontitle a:hover
{
    text-decoration: none;
    cursor: pointer;
}
.tags .label-info
{
  font-weight: 400;
  background-color: rgba(40, 96, 144, 0.82);
  font-size: 83%;
  border-radius: 4px;
}
.tags .label-info:hover,
.tags .label-info:focus
{
     background-color: #337AB7;
}

.questiontitle
{
    text-transform: uppercase;
}

.time span
{
    padding:2px;
}

.time-asked, .time-edited
{
    overflow: hidden;
    float: right;
    width: 100%;
    text-align: right;
}


/************DETALLE DE LA PREGUNTA y Respuesta***********/
.preguntadetalle .left, .respuestadetalle .left
{
    float: left;
    width: 8%;
    padding: 1%;
    text-align: center;
}
.preguntadetalle .right
{
    float: left;
    width: 92%;
}
.respuestadetalle .right
{
    margin-top: 3%;
    float: left;
    width: 92%;
}

/*VOTOS*/
.preguntadetalle button.voteup, .respuestadetalle button.voteup
{
    font-size:3vw;
    color:#33CC33;
    display: block;
    border:none;
    background-color:transparent;
    white-space: normal;
    width: 100%;
}
.preguntadetalle button.downvote, .respuestadetalle button.downvote
{
    font-size:3vw;
    color:#CC0000;
    display: block;
    border:none;
    background-color:transparent;
    white-space: normal;
    width: 100%;
}
.preguntadetalle button.voteup:hover,.preguntadetalle button.downvote:hover,.respuestadetalle button.voteup:hover, .respuestadetalle button.downvote:hover
{

    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;

}

.respuestas
{
    overflow: hidden;
    clear: both;
    width: 100%;
}
/*COMENTARIOS*/
.comment
{
    padding: 6px 6px 6px 0;
    border-bottom: 1px solid #f0f0f0;
    border-top:1px solid #f0f0f0;
    line-height: 1.4;
    font-size: 13px;
    vertical-align: top;
}



/*FORMULARIO AÑADIR COMENTARIOS*/
.modal textarea
{
    width:100%;
}


/*********** FOrmulario nueva pregunta **********/
.form-group
{
    overflow: hidden;
}
.questionform input
{
    width: 100%;
}
/*Editor*/
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}


/*BUSCADOR DE TAGS*/
.search
{
  padding-top: 4%;
}
.tagbutton
{
    text-align: center;
    margin-bottom: 2%;

}
.tagbutton button
{
    width: 120px;
}


/***********RESPONSIVE*********/

@media (max-width: 990px) {
 #custom-search-form
 {
    float:none
 }
 .headRight,.headLeft
 {
    text-align: center;
 }
 .time-asked, .time-edited
{
    overflow: hidden;
    float: none;
    text-align: left;
}

}

@media(min-width:768px) {


  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
    height: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    /*padding: 20px;*/
    position: relative;
    /*padding-top:17px;*/

    padding-bottom: 0px;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
