@font-face{
    font-family:roboto;
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}
@font-face{
    font-family: lora;
    src: url('../fonts/Lora-Regular.ttf');
}
p
{
    font-family: lora;
    font-size: 1.5rem;
}
h1 a
{
    font-family: roboto;
    color:#333333;
}

/***********CABECERA FORO***********/
.headRight
{
    margin-top: 20px;
    margin-bottom: 10px;
}
.headLeft .btn-group
{
    margin-top: 20px;
}
.headLeft .col-md-6
{
    padding-left:0;
}

/*SEARCH FORM*/
#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
    float:right;
}
#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.search-query:focus + button {
    z-index: 3;
}
.search-query:focus{
    width: 260px;
}

#exTab2 ul.nav
{
    margin-top:13%;
}


/************CONTENIDO PRINCIPAL FORO*************/
.pregunta
{
    overflow: hidden;
}
.votes,.answers,.views
{
    display:inline-block;
    margin:0 2px;
}
.votes
{
    font-size: 2.0rem;
}
.votes .glyphicon,.answers .glyphicon,.views .glyphicon
{
    margin-right:4px;
}
.tags
{
    line-height: 18px;
    width:100%;
    text-align: left;
}
.tags a
{
    border: 1px solid #e1ecf4;
    display: inline-block;
    margin: 2px 2px 2px 0;
}
.tags a:hover,.questiontitle a:hover
{
    text-decoration: none;
    cursor: pointer;
}
.questiontitle
{
    text-transform: uppercase;
}

.time span
{
    padding:2px;
}




/************DETALLE DE LA PREGUNTA y Respuesta***********/
.preguntadetalle .left, .respuestadetalle .left
{
    float: left;
    width: 8%;
    padding: 1%;
    text-align: center;
}
.preguntadetalle .right
{
    float: left;
    width: 92%;
}
.respuestadetalle .right
{
    margin-top: 3%;
    float: left;
    width: 92%;
}

/*VOTOS*/
.preguntadetalle button.voteup, .respuestadetalle button.voteup
{
    font-size:3vw;
    color:#33CC33;
    display: block;
    border:none;
    background-color:transparent;
    white-space: normal;
    width: 100%;
}
.preguntadetalle button.downvote, .respuestadetalle button.downvote
{
    font-size:3vw;
    color:#CC0000;
    display: block;
    border:none;
    background-color:transparent;
    white-space: normal;
    width: 100%;
}
.preguntadetalle button.voteup:hover,.preguntadetalle button.downvote:hover,.respuestadetalle button.voteup:hover, .respuestadetalle button.downvote:hover
{

    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;

}

.respuestas
{
    overflow: hidden;
    clear: both;
    width: 100%;
}
/*COMENTARIOS*/
.comment
{
    padding: 6px 6px 6px 0;
    border-bottom: 1px solid #f0f0f0;
    border-top:1px solid #f0f0f0;
    line-height: 1.4;
    font-size: 13px;
    vertical-align: top;
}



/*FORMULARIO AÑADIR COMENTARIOS*/
.modal textarea
{
    width:100%;
}


/*********** FOrmulario nueva pregunta **********/
.form-group
{
    overflow: hidden;
}
.questionform input
{
    width: 100%;
}
/*Editor*/
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

/*BUSCADOR DE TAGS*/
.tagbutton
{
    text-align: center;
    margin-bottom: 2%;

}
.tagbutton button
{
    width: 120px;
}


/***********RESPONSIVE*********/

@media (max-width: 990px) {
 #custom-search-form
 {
    float:none
 }
 .headRight,.headLeft
 {
    text-align: center;
 }
}
