.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

nav {
  background-color: #5cb85c !important;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-right: 4em;
  padding-left: 4em;
}

.forumjumbo {
  background-color: #9966FF;
  margin-bottom: 0px;
  text-align: center;
}

.chatjumbo {
  background-color: #33CCFF;
  text-align: center;
  margin-bottom: 0px;
}

.mobilejumbo {
  background-color: #9966FF;
  text-align: center;
  margin-bottom: 0px;
}

.messageContainer {
  text-align: center;
}

.navbar-text {
  float: none;
}

.descargaMessage {
  font-size: 3vw;
  color: white;
  text-align: center;
}

.flex {
  display: flex;
  direction: row;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-column {
  -webkit-flex: 1;
  flex: 1;
}
/*
.animation-element {
  opacity: 0;
  position: relative;
}
*/
.bounce-up {
  opacity: 0;
}

.bounce-up.in-view {
  opacity: 1;
  -moz-transition: all 1300ms ease-in;
  -webkit-transition: all 1300ms ease-in;
  -o-transition: all 1300ms ease-in;
  transition: all 1300ms ease-in;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.logo {
  max-width:30px;
}
