.log{
  display: block !important;
}
.reg{
  display: none !important;
}
.alert-danger {
    color: #FFFFFF;
    background-color: #140F27;
    border-color: #ebccd1;
}
.footer{
  min-height: 10.6% !important;
}

.form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
}
.btn {
      height: 46px !important;
    color: #fff;

    font-size: 18px !important;
    line-height: 1.3333333;
    border-radius: 0px !important;
}
.collapse, .navbar-collapse{
    background: white !important;
}
