.log{
  display: block !important;
}
.reg{
  display: none !important;
}
.alert-danger {
    color: #FFFFFF;
    background-color: #140F27;
    border-color: #ebccd1;
}

.form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
}
.btn {
      height: 46px !important;
    color: #fff;
    background-color: #163B5A;
    border-color: #163B5A;
    font-size: 18px !important;
    line-height: 1.3333333;
    border-radius: 0px !important;
}




.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
}
