.log{
  display: block !important;
}
.reg{
  display: none !important;
}

.content .btn {
    padding: 10px 16px !important;
    height: 46px !important;
    color: #fff;
    background-color: #163B5A;
    background: rgba(0, 37, 128, 0.5);
    background-image: url('../images/patern.png');
    border-color: #163B5A;
    font-size: 18px !important;
    line-height: 1.3333333;
    border-radius: 1px !important;
    width: 150px;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}

.collapse ul .btn {
    background: white !important;
}
.collapse ul .btn {
    margin: 0;
}


.footer{
  min-height: 10.6%;
}
.close {
    float: left !important;
    font-size: 15px;
    color: #163B5A !important;
    opacity: 1 !important;
    text-shadow: none !important;
    font-weight: normal !important;
}
