
<!-- estoy ya en body -->

<!-- si no hemos seleccionado canal se muestra otro panel (settings grupo) -->
<!--<div class="panel-body" id="panel-body1"> -->


<!-- no estaria mal saber cuantos estan new, cuantos in progress y cuantos closed dentro de cada sprint
-->
<div class="row row-all-content" ng-show="!item.viewinDetail" >
<div class="row row-backlog-chart">
    <div class="panel panel-info" id="panel-backlog-chart">


      <div class="panel-body panel-body-backlog-charts">

        <!-- max:: num de userstories totales
            current:: num userstories closed
            color, es el color del circulo current
            bdcolor:: el color de fondo -->


        <!-- cambiarlo xdatos reales -->


        <round-progress
          max=50
          current=20
          color="#69F0F0"
          bgcolor="#eaeaea"
          radius="50"
          stroke="10"
          semi="true"
          rounded="true"
          clockwise="false"
          responsive="false"
          duration="800"
          animation="easeInOutQuart"
          animation-delay="0">
          50/20
        </round-progress>



          <div class="summary-stats">
            <span class="percent">50%</span>
          </div>



          <div class="summary-stats">
            <p class="number">0</p>

            <p class="description">
              defined<br>
              points
            </p>


          </div>

          <div class="summary-stats">
            <p class="number">0</p>

            <p class="description">
              closed<br>
              points
            </p>


          </div>


          <div class="summary-stats">
            <p class="number">0</p>

            <p class="description">
              points /<br>
              sprint
            </p>


          </div>


          <div class="summary-stats">
            <!-- boton que muestra o no el grafico -->
            <a ng-show="rowCollectionUserStories.length > 0" class="btn btn-graphic" ng-click="changePercentClass()">
              <span class="fa fa-area-chart fa-3x"></span>
            </a>

          </div>





      </div>  <!-- end panel body -->
    </div>   <!-- end panel-info -->
  </div>     <!-- end row:: <div ng-if= "tagGroup !== '' " class="row" id="row-settings">
                              (Panel1: borrar, editar, unlink:: settings de grupo) -->








<div ng-show="showgraph.show && rowCollectionUserStories.length > 0"
     class="row row-backlog-charts-show-graph">
  <div class="panel panel-info" id="panel-backlog-graphs">


    <div class="panel-body panel-body-backlog-graphs">

      <!-- y aqui meteriamos la grafica -->
      <!-- hay que modificarla en base a los puntos que haya -->


      <!-- .chart-line
      chart-data: series data
      chart-labels: x axis labels
      chart-legend (default: false): show legend below the chart
      chart-options (default: {}): Chart.js options
      chart-series (default: []): series labels
      chart-click (optional): onclick event handler
      chart-hover (optional): onmousemove event handler
      chart-colours (default to global colours): colours for the chart -->




      <canvas id="line" class="chart chart-line" chart-data="chartdata"
              chart-labels="labels" chart-legend="false" chart-series="series"
              chart-click="onClickpoints" >
      </canvas>

    </div> <!-- end panel-body -->


  </div> <!-- end panel-info -->
</div> <!-- end row-settings1::<div ng-if= "tagGroup !== '' " class="row" id="row-settings1">
                              (Panel1: borrar, editar, unlink:: settings de grupo) -->






  <div class="row"
       ng-class="showgraph.show ? 'row-backlog-userstories-show-graph': 'row-backlog-userstories'">
    <div class="panel panel-info" id="panel-backlog-userstories">




      <!-- dejamos el panel anterior para que se cubra la pantalla -->

      <div class="panel-body panel-body-backlog-userstories" ng-show="rowCollectionUserStories.length == 0">

        <div class="panel-backlog-empty">
          <div class="container">
          </div>
        </div>

        <div class="carousel-caption">



          <a class="btn btn-large btn-success" data-toggle="modal" data-target="#newUserStoryModal">
            <i class="fa fa-plus"></i>
            Add a new userstory
          </a>
        </div>


      </div>







      <!-- tod esto se muestra si hay userstories -->
      <div class="panel-body panel-body-backlog-userstories" ng-show="rowCollectionUserStories.length > 0">

      <!-- hay que meter container fluid para dividir nivel btn aniadir y la lista -->
        <!-- boton de aniadir userstory -->


        <div class="row row-backlog-userstories-new-btn">
          <div class="panel panel-info" id="panel-backlog-userstories-new-btn">
            <div class="panel-body panel-body-backlog-userstories-new-btn">


              <form>
                <div class="form-group">
                  <div class="input-group">


                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                    </span>

                    <span class="input-group-btn">
                      <oi-select
                        oi-options="item.name for item in comboOptions track by item.name"
                        ng-model="comboOptionsSelected">
                      </oi-select>
                    </span>


                    <input ng-show="comboOptionsSelected.num == 0" type="text" class="form-control" placeholder="Search" ng-model="search"/>
                    <input ng-show="comboOptionsSelected.num == 1" type="text" class="form-control" placeholder="Search" ng-model="search.subject"/>

                    <input ng-show="comboOptionsSelected.num == 2" type="text" class="form-control" placeholder="Search" ng-model="search.status"/>
                    <input ng-show="comboOptionsSelected.num == 3" type="text" class="form-control" placeholder="Search" ng-model="search.tags"/>


                    <!-- no hay seleccionados -->
                    <span ng-show="tableCells.selected.length == 0" class="input-group-btn">
                      <div class="input-group-btn">
                      <button class="btn btn-success" type="button" data-toggle="modal" data-target="#newUserStoryModal">
                        <i class="fa fa-plus"></i>
                        Add a new userstory
                      </button>
                        </div>
                    </span>


                    <!-- si hay varios seleccionados -->
                    <span ng-show="tableCells.selected.length > 0" class="input-group-btn">
                      <div class="input-group-btn">
                        <button class="btn btn-warning" type="button">
                          <i class="fa fa-exchange"></i>
                          Move to sprint
                        </button>
                        <button ng-show="tableCells.selected.length == 1" class="btn btn-info" type="button">
                          <i class="fa fa-pencil"></i>
                          Edit
                        </button>
                        <button class="btn btn-danger" type="button">
                          <i class="fa fa-trash"></i>
                          Delete
                        </button>
                      </div>
                    </span>



                  </div>
                </div>
              </form>





              </div>
            </div>
          </div>





        <div class="row row-backlog-userstories-list">
          <div class="panel panel-info" id="panel-backlog-userstories-list">
            <div class="panel-body panel-body-backlog-userstories-list">


              <!-- esto es 1 tabla con status,points, userstory y votes  -->

              <!-- <th class="table-cell24">Subject</th>
                  <th class="table-cell1">Status</th>
                  <th class="table-cell06">Points</th>
                  <th class="table-cell1">Tags</th> --->


              <table class="table table-without-margin">
                <thead>
                <tr>


                  <th class="table-cell01">
                    <input type="checkbox" ng-click="checkAllNone()">

                  </th>



                  <th class="table-cell05">
                    <a href="" ng-click="sortType = 'voters'; sortReverse = !sortReverse">
                      Votes
                      <span ng-show="sortType == 'voters'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell23">
                    <a href="" ng-click="sortType = 'num'; sortReverse = !sortReverse">
                      User Stories
                      <span ng-show="sortType == 'num'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell1">
                    <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                      Status
                      <span ng-show="sortType == 'status'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell06">
                    <a href="" ng-click="sortType = 'totalPoints'; sortReverse = !sortReverse">
                      Points
                      <span ng-show="sortType == 'totalPoints'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell1">
                    <a href="" ng-click="sortType = 'tags'; sortReverse = !sortReverse">
                      Tags
                      <span ng-show="sortType == 'tags'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>
                  </th>
                </tr>

                </thead>


                <tbody>
                <tr ng-show="row.sprint == undefined "
                    ng-repeat="row in rowCollectionUserStories | orderBy:sortType:sortReverse |filter:search"
                    ng-class="row.selectedCell ? 'cellSelectedClass' : ''">




                  <td class="table-cell01">
                    <input type="checkbox" data-checklist-model="tableCells.selected" data-checklist-value="row" ng-click="changeCheckedTableCell(row)">

                    <!--cellSelectedClass -->

                  </td>


                  <td data-ng-click="viewDetailsUserstory($index, row)" class="table-cell05">{{row.voters.length}}</td>
                  <td data-ng-click="viewDetailsUserstory($index, row)" class="table-cell23">#{{row.num}} {{row.subject}}</td>
                  <td data-ng-click="viewDetailsUserstory($index, row)" class="table-cell1">{{row.status}}</td>
                  <td data-ng-click="viewDetailsUserstory($index, row)" class="table-cell06">{{row.totalPoints}}</td>
                  <td data-ng-click="viewDetailsUserstory($index, row)" class="table-cell1">
                    <span class="label label-info" ng-repeat="tag in row.tags">{{tag}}</span><br ng-repeat="tag in row.tags">
                  </td>

                </tr>
                </tbody>


              </table>




            </div> <!-- end panel-body-backlog-userstories-list -->
          </div> <!-- end panel-backlog-userstories-list -->
        </div> <!-- end row-backlog-userstories-list -->




      </div> <!-- end panel-body-backlog-userstories -->

    </div> <!-- panel-info-->
  </div> <!-- end row--->

</div>





<!---------- new new new ---------------------------------------->



<!-- vista en detalle -->
<div class="row row-all-content" ng-show="item.viewinDetail">
    <div class="panel panel-info" id="panel-detail-userstory">

      <!-- le hacemos flexbox y metemos colums -->
      <div class="panel-body panel-body-detail-userstory" id="panel-body-detail-userstory">

        <!-- esto sería la cabecera con votar, subject y puntos -->
        <!-- tmbn flex pero de rows -->

        <div class="summary-header-detail-userstory-parent">

          <div class="summary-header-detail-userstory">

            <div class="summary-detail-view">

              <span class="votes">{{tagUserstory.voters.length}}
              </span>
              <i ng-click="editVoteUserstory(0)" ng-show="!tagUserstoryTemp.disableVote" class="fa fa-plus"></i>
              <i ng-click="editVoteUserstory(1)" ng-show="tagUserstoryTemp.disableVote" class="fa fa-minus"></i>

            </div>

            <div class="summary-detail-view1">
              <span class="subject">#{{tagUserstory.num}}</span>

            </div>

            <div class="summary-detail-view2">
              <!--<span class="subject">Añadir un userstory con scrum en el canal con scrum diemdo tu llepa</span>-->
              <span class="subject" editable-text="tagUserstory.subject" e-required onbeforesave="editSubjectUserstory($data, tagUserstory)">
                                  {{ tagUserstory.subject || 'empty' }}
                                     </span>
            </div>

            <div class="summary-detail-view3">
              <span class="nextuserstory">
                <i class="fa fa-angle-right fa-lg"></i>
              </span>
            </div>

          </div><!-- end div summary-header-detail-userstory -->


          <div class="summary-detail-body1">
            <div class="created-by">
              <p> Created by
                <a ng-click=""> {{tagUserstory.createdby.username}}
                </a>
              </p>
              <p> {{tagUserstory.datetime | date:'medium'}}</p>
            </div>

            <div>
              <img
                ng-src="http://www.gravatar.com/avatar/{{getHash(tagUserstory.createdby.mail)}}?s=50&d=identicon"
                alt="User Avatar"
                class="avatar" id="img-circle"/>
            </div>

            <div class="view-task-detail-userstory">

              <button class="btn btn-default related-tasks" type="button">
                Related tasks
                <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </button>
            </div>


          </div>

        </div> <!-- end div summary-header-detail-userstory-parent -->







        <div class="summary-body-detail-userstory">
          <!-- aqui metemos los datos y ademas metemos tags-->
          <!-- aqui dentro hay que seguir haciendo columnas -->

          <div class="summary-detail-body2">
            <div class="form-group">

              <div class="btn-group btn-group-justified">
                <label>UX</label>
                <label>Design</label>
                <label>Back</label>
                <label>Front</label>
              </div>


              <div class="btn-group btn-group-justified">
                <button uib-popover-template="dynamicPopoverEdit.templateUrl" popover-placement="bottom"
                        type="button" class="btn btn-default"
                        popover="Popover 1">
                  {{tagUserstory.point.ux}}
                </button>

                <button uib-popover-template="dynamicPopoverDesEdit.templateUrl" popover-placement="bottom"
                        type="button" class="btn btn-default"
                        popover="Popover 2">
                  {{tagUserstory.point.design}}
                </button>

                <button uib-popover-template="dynamicPopoverFrontEdit.templateUrl" popover-placement="bottom"
                        type="button" class="btn btn-default"
                        popover="Popover 3">
                  {{tagUserstory.point.front}}
                </button>

                <button uib-popover-template="dynamicPopoverBackEdit.templateUrl" popover-placement="bottom"
                        type="button" class="btn btn-default"
                        popover="Popover 4">
                  {{tagUserstory.point.back}}
                </button>
              </div>




              <br>
              <label class="total-points">Total points: {{
                parseFloat(tagUserstory.point.ux) +
                parseFloat(tagUserstory.point.design) +
                parseFloat(tagUserstory.point.front) +
                parseFloat(tagUserstory.point.back) }}</label>


            </div> <!-- end form-group -->


          </div>

          <div class="summary-detail-body3">
            <div class="form-group">
              <label for="userstoryTag"> Tags: </label>
              <br>

              <tags-input ng-model="tagUserstoryTemp.tags" display-property="text"
                          placeholder="Tag me.."
                          replace-spaces-with-dashes="false"
                          on-tag-added="onAddedTag($tag)"
                          on-tag-removed="onRemovedTag($tag)">
              </tags-input>
            </div>
          </div>

          <div class="summary-detail-body4">
              <div class="form-group">
                <label for="userstoryDescr">Description:</label>
                <p editable-textarea="tagUserstory.description"
                   e-required
                   onbeforesave="editDescriptionUserstory($data, tagUserstory)">
                  {{ tagUserstory.description || 'Enter description to helps others better understand...' }}

                </p>
              </div>
          </div>


          <div class="summary-detail-body5">
            <div class="form-group requirements">

              <div class="btn-group">
                <label type='button' ng-click="editRequirementUserstory(0)" class="btn btn-default" ng-model="tagUserstory.requirement.team" uib-btn-checkbox>Team Requirement</label>
                <label type='button' ng-click="editRequirementUserstory(1)" class="btn btn-default" ng-model="tagUserstory.requirement.client" uib-btn-checkbox>Client Requirement</label>
                <label type='button' ng-click="editRequirementUserstory(2)" class="btn btn-default" ng-model="tagUserstory.requirement.blocked" uib-btn-checkbox>Blocked</label>
              </div>

            </div>

          </div>






        </div>
       <!-- <div class="tasks">
          <!-- aqui metemos los datos y ademas metemos tags--



        </div>
-->





      </div>  <!-- end panel body:: flexbox con columns, que en realidad son filas -->
    </div>   <!-- end panel-info -->
 <!-- </div>     <!-- end row:: row-detail-subject -->





</div> <!--ng-show="item.viewinDetail" vista en detalle -->

















<!--
</div> <!--  panel-body1 (( ng-if= "tagChannel == '' "))-->




<!--- ********** MODALS ************ -->


<!-- New User Story Modal (meter integracion SCRUM -->
<div id="newUserStoryModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header" >


        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="initVarsNewUserstoryModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">New User Story</h4>
      </div>

      <div class="modal-body" >


        <div class="alert alert-danger" role="alert" ng-if="modalsError.messageNewUserstoryModal !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewUserstoryModal =''">
            <span aria-hidden="true">&times;</span>
          </button>
          {{modalsError.messageNewUserstoryModal}}

        </div>






        <!-- subject -->
        <div class="form-group">
          <label for="userstorySubject">Subject:</label>
          <input type="text" class="form-control" name="userstorySubjectTxt"
                 id="userstorySubject" placeholder="Enter Userstory Subject..."
                 ng-model="userstory.subject">

          <div class="alert alert-danger" role="alert" ng-if="modalsError.messageNewUserstoryRequiredSubModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewUserstoryRequiredSubModal =''">
              <span aria-hidden="true">&times;</span>
            </button>
            {{modalsError.messageNewUserstoryRequiredSubModal}}

          </div>

        </div>



        <!-- points -->
        <div class="form-group">

          <div class="btn-group btn-group-justified">
            <label>UX</label>
            <label>Design</label>
            <label>Back</label>
            <label>Front</label>
          </div>



          <div class="btn-group btn-group-justified">

            <button uib-popover-template="dynamicPopover.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryUX"
                    popover="Popover 1">
              {{userstory.point.ux}}
            </button>

            <button uib-popover-template="dynamicPopoverDes.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryDes"
                    popover="Popover 2">
              {{userstory.point.design}}
            </button>

            <button uib-popover-template="dynamicPopoverFront.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryFront"
                    popover="Popover 3">
              {{userstory.point.front}}
            </button>

            <button uib-popover-template="dynamicPopoverBack.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryBack"
                    popover="Popover 4">
              {{userstory.point.back}}
            </button>

          </div>




            <br>
            <label class="total-points">Total points: {{
              parseFloat(userstory.point.ux) +
              parseFloat(userstory.point.design) +
              parseFloat(userstory.point.front) +
              parseFloat(userstory.point.back) }}</label>


          </div> <!-- end form-group -->




          <!-- tags (separar con tabulador) -->
        <div class="form-group">
          <label for="userstoryTag"> Tags: </label>
          <br>

          <tags-input ng-model="userstory.tags" display-property="text"
                      placeholder="Tag me.."
                      replace-spaces-with-dashes="false"
                      id="userstoryTag">
          </tags-input>
        </div>



        <!-- descripcion -->
        <div class="form-group">
          <label for="userstoryDescr">Description:</label>
          <textarea class="form-control" id="userstoryDescr"
                 placeholder="Enter description to helps others better understand..."
                 ng-model="userstory.description">
          </textarea>
        </div>


        <!-- requirement:: checkbox type requirement-->
        <div class="form-group requirements">

          <div class="btn-group">
            <label class="btn btn-default" ng-model="userstory.requirement.team" uib-btn-checkbox>Team Requirement</label>
            <label class="btn btn-default" ng-model="userstory.requirement.client" uib-btn-checkbox>Client Requirement</label>
            <label class="btn btn-default" ng-model="userstory.requirement.blocked" uib-btn-checkbox>Blocked</label>
          </div>

        </div>



        <!-- falta votes ?-->

      </div> <!-- end modal body -->



      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="btn-new-group" ng-click="createNewUserstory()"><span class="fa fa-floppy-o">
        </span> Create</button>

        <!-- inicializar variables -->
        <button type="button" class="btn btn-danger" id="btn-new-group-close" data-dismiss="modal" ng-click="initVarsNewUserstoryModal()">
          <span class="fa fa-remove"></span> Close</button>

      </div>
    </div>
  </div>
</div>



<!-- --------------------- notification error modal -----------------------  --->

<!--
$scope.modalsError.messageErrorUserstory = '';

<div id="errorUserStoryModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content--

    <div class="modal-content">
      <div class="modal-header" >

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="initErrorUserstoryModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">New User Story</h4>
      </div>

      <div class="modal-body" >


        <div class="alert alert-danger" role="alert" ng-if="modalsError.messageNewUserstoryModal !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewUserstoryModal =''">
            <span aria-hidden="true">&times;</span>
          </button>
          {{modalsError.messageNewUserstoryModal}}

        </div>






        <!-- subject --
        <div class="form-group">
          <label for="userstorySubject">Subject:</label>
          <input type="text" class="form-control" name="userstorySubjectTxt"
                 id="userstorySubject" placeholder="Enter Userstory Subject..."
                 ng-model="userstory.subject">

          <div class="alert alert-danger" role="alert" ng-if="modalsError.messageNewUserstoryRequiredSubModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewUserstoryRequiredSubModal =''">
              <span aria-hidden="true">&times;</span>
            </button>
            {{modalsError.messageNewUserstoryRequiredSubModal}}

          </div>

        </div>



        <!-- points --
        <div class="form-group">

          <div class="btn-group btn-group-justified">
            <label>UX</label>
            <label>Design</label>
            <label>Back</label>
            <label>Front</label>
          </div>



          <div class="btn-group btn-group-justified">

            <button uib-popover-template="dynamicPopover.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryUX"
                    popover="Popover 1">
              {{userstory.point.ux}}
            </button>

            <button uib-popover-template="dynamicPopoverDes.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryDes"
                    popover="Popover 2">
              {{userstory.point.design}}
            </button>

            <button uib-popover-template="dynamicPopoverFront.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryFront"
                    popover="Popover 3">
              {{userstory.point.front}}
            </button>

            <button uib-popover-template="dynamicPopoverBack.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryBack"
                    popover="Popover 4">
              {{userstory.point.back}}
            </button>

          </div>




          <br>
          <label class="total-points">Total points: {{
            parseFloat(userstory.point.ux) +
            parseFloat(userstory.point.design) +
            parseFloat(userstory.point.front) +
            parseFloat(userstory.point.back) }}</label>


        </div> <!-- end form-group -->




        <!-- tags (separar con tabulador) --
        <div class="form-group">
          <label for="userstoryTag"> Tags: </label>
          <br>

          <tags-input ng-model="userstory.tags" display-property="text"
                      placeholder="Tag me.."
                      replace-spaces-with-dashes="false"
                      id="userstoryTag">
          </tags-input>
        </div>



        <!-- descripcion --
        <div class="form-group">
          <label for="userstoryDescr">Description:</label>
          <textarea class="form-control" id="userstoryDescr"
                    placeholder="Enter description to helps others better understand..."
                    ng-model="userstory.description">
          </textarea>
        </div>


        <!-- requirement:: checkbox type requirement--
        <div class="form-group requirements">

          <div class="btn-group">
            <label class="btn btn-default" ng-model="userstory.requirement.team" uib-btn-checkbox>Team Requirement</label>
            <label class="btn btn-default" ng-model="userstory.requirement.client" uib-btn-checkbox>Client Requirement</label>
            <label class="btn btn-default" ng-model="userstory.requirement.blocked" uib-btn-checkbox>Blocked</label>
          </div>

        </div>



        <!-- falta votes ?--

      </div> <!-- end modal body --



      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="btn-new-group" ng-click="createNewUserstory()"><span class="fa fa-floppy-o">
        </span> Create</button>

        <!-- inicializar variables --
        <button type="button" class="btn btn-danger" id="btn-new-group-close" data-dismiss="modal" ng-click="initVarsNewUserstoryModal()">
          <span class="fa fa-remove"></span> Close</button>

      </div>
    </div>
  </div>
</div>

-->









