
<!-- estoy ya en body -->

<!-- si no hemos seleccionado canal se muestra otro panel (settings grupo) -->
<!--<div class="panel-body" id="panel-body1"> -->


<!-- no estaria mal saber cuantos estan new, cuantos in progress y cuantos closed dentro de cada sprint
-->

<div class="row row-backlog-chart">
    <div class="panel panel-info" id="panel-backlog-chart">


      <div class="panel-body panel-body-backlog-charts">

        <!-- max:: num de userstories totales
            current:: num userstories closed
            color, es el color del circulo current
            bdcolor:: el color de fondo -->
        <round-progress
          max=50
          current=20
          color="#69F0F0"
          bgcolor="#eaeaea"
          radius="50"
          stroke="10"
          semi="true"
          rounded="true"
          clockwise="false"
          responsive="false"
          duration="800"
          animation="easeInOutQuart"
          animation-delay="0">
          50/20
        </round-progress>



          <div class="summary-stats">
            <span class="percent">50%</span>
          </div>



          <div class="summary-stats">
            <p class="number">0</p>

            <p class="description">
              defined<br>
              points
            </p>


          </div>

          <div class="summary-stats">
            <p class="number">0</p>

            <p class="description">
              closed<br>
              points
            </p>


          </div>


          <div class="summary-stats">
            <p class="number">0</p>

            <p class="description">
              points /<br>
              sprint
            </p>


          </div>


          <div class="summary-stats">
            <!-- boton que muestra o no el grafico -->
            <a class="btn btn-graphic" ng-click="changePercentClass()">
              <span class="fa fa-area-chart fa-3x"></span>
            </a>

          </div>





      </div>  <!-- end panel body -->
    </div>   <!-- end panel-info -->
  </div>     <!-- end row:: <div ng-if= "tagGroup !== '' " class="row" id="row-settings">
                              (Panel1: borrar, editar, unlink:: settings de grupo) -->








<div class="row row-backlog-charts-show-graph" ng-show="showgraph.show">
  <div class="panel panel-info" id="panel-backlog-graphs">


    <div class="panel-body panel-body-backlog-graphs">

      <!-- y aqui meteriamos la grafica -->


      <!-- .chart-line
      chart-data: series data
      chart-labels: x axis labels
      chart-legend (default: false): show legend below the chart
      chart-options (default: {}): Chart.js options
      chart-series (default: []): series labels
      chart-click (optional): onclick event handler
      chart-hover (optional): onmousemove event handler
      chart-colours (default to global colours): colours for the chart -->




      <canvas id="line" class="chart chart-line" chart-data="chartdata"
              chart-labels="labels" chart-legend="false" chart-series="series"
              chart-click="onClickpoints" >
      </canvas>

    </div> <!-- end panel-body -->


  </div> <!-- end panel-info -->
</div> <!-- end row-settings1::<div ng-if= "tagGroup !== '' " class="row" id="row-settings1">
                              (Panel1: borrar, editar, unlink:: settings de grupo) -->



<!-- end new************************* -->
  <div class="row"
       ng-class="showgraph.show ? 'row-backlog-userstories-show-graph': 'row-backlog-userstories'">
    <div class="panel panel-info" id="panel-backlog-userstories">

      <div class="panel-body panel-body-backlog-userstories">

      <!-- hay que meter container fluid para dividir nivel btn aniadir y la lista -->
        <!-- boton de aniadir userstory -->

        <!-- esto hay que cambiarlo -->

        <div class="row row-backlog-userstories-new-btn">
          <div class="panel panel-info" id="panel-backlog-userstories-new-btn">
            <div class="panel-body panel-body-backlog-userstories-new-btn">


              <form>
                <div class="form-group">
                  <div class="input-group">


                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                    </span>
                    <span class="input-group-btn">
                    <!--<button class="btn btn-secondary" type="button">Love it</button>-->
                      <oi-select
                        oi-options="item.name for item in comboOptions track by item.name"
                        ng-model="comboOptionsSelected">

                      </oi-select>
                    </span>


                    <input ng-show="comboOptionsSelected.num == 0" type="text" class="form-control" placeholder="Search" ng-model="search"/>
                    <input ng-show="comboOptionsSelected.num == 1" type="text" class="form-control" placeholder="Search" ng-model="search.subject"/>

                    <input ng-show="comboOptionsSelected.num == 2" type="text" class="form-control" placeholder="Search" ng-model="search.status"/>
                    <input ng-show="comboOptionsSelected.num == 3" type="text" class="form-control" placeholder="Search" ng-model="search.tags"/>



                    <!-- si hay mas de 1 seleccionado -->

                    <span ng-show="tableCells.selected.length > 0" class="input-group-btn">
                      <button class="btn btn-warning" type="button" title="Move to sprint">
                        <i class="fa fa-exchange"></i>
                        Move to sprint
                      </button>
                    </span>
                    <span ng-show="tableCells.selected.length == 1" class="input-group-btn">
                      <button class="btn btn-info" type="button">
                        <i class="fa fa-pencil"></i>
                        Edit
                      </button>
                    </span>

                    <span ng-show="tableCells.selected.length > 0" class="input-group-btn">
                      <button class="btn btn-danger" type="button" >
                        <i class="fa fa-trash"></i>
                        Delete
                      </button>
                    </span>



                    <!-- si no hay ninguno seleccionado -->
                    <span ng-show="tableCells.selected.length == 0" class="input-group-btn">
                      <button class="btn btn-success" type="button">
                        <i class="fa fa-plus"></i>
                        Add a new userstory
                      </button>
                    </span>


                  </div>
                </div>
              </form>





              </div>
            </div>
          </div>




        <!-- esto hay que cambiarlo -->
        <div class="row row-backlog-userstories-list">
          <div class="panel panel-info" id="panel-backlog-userstories-list">
            <div class="panel-body panel-body-backlog-userstories-list">


              <!-- esto es 1 tabla con status,points, userstory y votes  -->

              <!-- <th class="table-cell24">Subject</th>
                  <th class="table-cell1">Status</th>
                  <th class="table-cell06">Points</th>
                  <th class="table-cell1">Tags</th> --->


              <table class="table table-without-margin">
                <thead>
                <tr>


                  <th class="table-cell01">
                    <input type="checkbox" ng-click="checkAllNone()">

                  </th>



                  <th class="table-cell05">
                    <a href="" ng-click="sortType = 'votes'; sortReverse = !sortReverse">
                      Votes
                      <span ng-show="sortType == 'votes'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell23">
                    <a href="" ng-click="sortType = 'subject'; sortReverse = !sortReverse">
                      User Stories
                      <span ng-show="sortType == 'subject'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell1">
                    <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                      Status
                      <span ng-show="sortType == 'status'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell06">
                    <a href="" ng-click="sortType = 'points'; sortReverse = !sortReverse">
                      Points
                      <span ng-show="sortType == 'points'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell1">
                    <a href="" ng-click="sortType = 'tags'; sortReverse = !sortReverse">
                      Tags
                      <span ng-show="sortType == 'tags'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>
                  </th>
                </tr>

                </thead>


                <tbody>
                <tr ng-repeat="row in rowCollectionUserStories | orderBy:sortType:sortReverse |filter:search"
                    ng-class="row.selectedCell ? 'cellSelectedClass' : ''">




                  <td class="table-cell01">
                    <input type="checkbox" data-checklist-model="tableCells.selected" data-checklist-value="row" ng-click="changeCheckedTableCell(row)">

                    <!--cellSelectedClass -->

                  </td>


                  <td class="table-cell05">{{row.votes}}</td>
                  <td class="table-cell23">{{row.subject}}</td>
                  <td class="table-cell1">{{row.status}}</td>
                  <td class="table-cell06">{{row.points}}</td>
                  <td class="table-cell1"><span class="label label-info" ng-repeat="tag in row.tags">{{tag}}</span></td>

                </tr>
                </tbody>


              </table>




            </div> <!-- end panel-body-backlog-userstories-list -->
          </div> <!-- end panel-backlog-userstories-list -->
        </div> <!-- end row-backlog-userstories-list -->




      </div> <!-- end panel-body-backlog-userstories -->

    </div> <!-- panel-info-->
  </div> <!-- end row--->



<!--
</div> <!--  panel-body1 (( ng-if= "tagChannel == '' "))-->



