<div class="panel panel-info" id="panel-detail-task">

  <!-- le hacemos flexbox y metemos colums -->

  <div class="panel-body panel-body-detail-task" id="panel-body-detail-task">
    <div class="summary-header-detail-task-parent">


      <div class="summary-header-detail-task">

        <div class="summary-detail-view">

              <span title="Issue votes" class="votes">{{rowCollectionIssues[tagIssue].voters.length}}
              </span>
          <i ng-click="editVoteIssue(0)" ng-show="!tagIssueTemp.disableVote" class="fa fa-plus"></i>
          <i ng-click="editVoteIssue(1)" ng-show="tagIssueTemp.disableVote" class="fa fa-minus"></i>

        </div>

        <div class="summary-detail-view1">
          <span class="subject">#{{rowCollectionIssues[tagIssue].num}}</span>

        </div>

        <div class="summary-detail-view2-issue">
              <span class="subject" editable-text="rowCollectionIssues[tagIssue].subject" e-required
                    onbeforesave="editSubjectIssue($data, rowCollectionIssues[tagIssue])">
                                  {{ rowCollectionIssues[tagIssue].subject }}
                                     </span>


          <span class="subject2">
            <p>This issue has been promoted to US:
            <span ng-if="rowCollectionIssues[tagIssue].userstories.length > 0"
               ng-repeat="rowus in rowCollectionIssues[tagIssue].userstories">
              <a ng-click = "viewUserstory(rowus.id)">
                #{{ rowus.num }}
              </a>

            </span>
            </p>

          </span>




        </div>

        <div class="summary-detail-view3">
              <span class="nexttask">
                <i class="fa fa-angle-right fa-lg"></i>
              </span>
        </div>

      </div><!-- end div summary-header-detail-userstory -->


      <div class="summary-detail-body1">
        <div class="created-by">
          <p> Created by
            <a ng-click=""> {{rowCollectionIssues[tagIssue].createdby.username}}
            </a>
          </p>
          <p> {{rowCollectionIssues[tagIssue].datetime | date:'medium'}}</p>
        </div>

        <div>
          <img
            ng-src="http://www.gravatar.com/avatar/{{getHash(rowCollectionIssues[tagIssue].createdby.mail)}}?s=50&d=identicon"
            alt="User Avatar"
            class="avatar" id="img-circle3"/>
        </div>


        <!-- boton para ver o no los comments y volver atras  -->
        <div class="view-comments-detail-task">
          <button class="btn related-comments" type="button">

              <span ng-click="goBackFromDetailIssue()"
                    aria-hidden="true">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>

              </span>

            Related comments

                <span
                  ng-click ="viewRelatedCommentsIssue()"
                  ng-class="item.viewRelatedComments ? 'glyphicon glyphicon glyphicon-chevron-up' :'glyphicon glyphicon glyphicon-chevron-down'"
                  aria-hidden="true">

                </span>



          </button>




        </div>
      </div>

    </div> <!-- end div summary-header-detail-task-parent -->








    <!-- class to view tasks in detail -->
    <div class="summary-body-detail-task animate-show" ng-hide="item.viewRelatedComments" >

      <!-- tenemos subject 3 combos + assignedto, description y related comments + us -->


      <div class="summary-detail-task-body2"> <!-- column -->
        <div class="summary-detail-task-body2-child"> <!-- row -->

          <div class="summary-detail-task-body2-child-body1-repeat"> <!-- column -->


            <!-- ponemos todos los combos juntos -->


            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!-- type -->
                <div class="form-group">
                  <label for="issueType">Type:</label>
                  <oi-select oi-options="item for item in statics.type track by item"
                             ng-model="rowCollectionIssues[tagIssue].type"
                             id="issueType"
                             ng-change="editCombosIssue(0)"
                             required> </oi-select>
                </div>
              </div>



              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!-- severity -->
                <div class="form-group">
                  <label for="issueSeverity">Severity:</label>
                  <oi-select oi-options="item for item in statics.severity track by item"
                             ng-model="rowCollectionIssues[tagIssue].severity"
                             id="issueSeverity"
                             ng-change="editCombosIssue(1)"
                             required> </oi-select>
                </div>
              </div>


              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!-- priority -->
                <div class="form-group">
                  <label for="issuePriority">Priority:</label>
                  <oi-select oi-options="item for item in statics.priority track by item"
                             ng-model="rowCollectionIssues[tagIssue].priority"
                             id="issuePriority"
                             ng-change="editCombosIssue(2)"
                             required> </oi-select>
                </div>
              </div>




            </div>





            <div class="row">





              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <!-- assigned -->


                <div class="summary-detail-task-body21-child-body2"
                     ng-show="rowCollectionIssues[tagIssue].assignedto !== undefined
                 && rowCollectionIssues[tagIssue].assignedto.id !== undefined"> <!-- este es column -->

                  <div>
                    <img
                      ng-src="http://www.gravatar.com/avatar/{{getHash(rowCollectionIssues[tagIssue].assignedto.mail)}}?s=50&d=identicon"
                      alt="User Avatar"
                      class="avatar" id="img-circle6"
                      ng-click="changeIssueAssignedto(rowCollectionIssues[tagIssue], tagIssue)"/>
                  </div>

                  <div class="summary-detail-task-body2-child-body2-assignedto">
                    <p> Assigned to </p>
                    <a> {{rowCollectionIssues[tagIssue].assignedto.username}}
                    </a>
                  </div>



                <span>
                  <i ng-click="unassignedIssue(rowCollectionIssues[tagIssue])" class="fa fa-times" aria-hidden="true"></i>
                </span>



                </div>


                <!-- lo mismo para NOT ASSIGNED -->
                <div class="summary-detail-task-body21-child-body2"
                     ng-show="rowCollectionIssues[tagIssue].assignedto == undefined ||
                          rowCollectionIssues[tagIssue].assignedto.id == undefined"> <!-- este es column -->

                  <div>
                    <img
                      ng-src="http://www.gravatar.com/avatar/{{getHash('internalUser@localhost')}}?s=50&d=identicon"
                      alt="User Avatar"
                      class="avatar" id="img-circle7"
                      ng-click="changeIssueAssignedto(rowCollectionIssues[tagIssue], tagIssue)"/>
                  </div>

                  <div class="summary-detail-task-body2-child-body2-assignedto">
                    <p> Assigned to </p>
                    <a ng-click=""> Not assigned
                    </a>
                  </div>

                </div>


              </div> <!-- end row 6 -->


              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

              </div> <!-- end row md-2 -->



              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!-- status  -->
                <div class="form-group">
                  <label for="issueStatus">Status:</label>
                  <oi-select oi-options="item for item in statics.status track by item"
                             ng-model="rowCollectionIssues[tagIssue].status"
                             id="issueStatus"
                             ng-change="editCombosIssue(3)"
                             required> </oi-select>
                </div>


              </div> <!-- end row md-4 -->









            </div> <!-- end row normal -->




          </div>








        </div> <!-- end hacemos columnas:: row -->

      </div> <!-- end hacemos filas:: columns -->






      <!-- description -->
      <div class="summary-detail-body4-repeat">
        <div class="form-group">
          <label for="taskDescr">Description:</label>
          <p id="taskDescr" editable-textarea="rowCollectionIssues[tagIssue].description"
             e-required
             onbeforesave="editDescriptionIssue($data, rowCollectionIssues[tagIssue])">
            {{ rowCollectionIssues[tagIssue].description || 'Enter description to helps others better understand...' }}

          </p>
        </div>
      </div>


      <div class="summary-detail-body5">
        <div class="form-group requirements-task">
          <!-- solo requirement -->

          <div class="btn-group">
            <button type="button" class="btn btn-primary pull-center btn-all" ng-click="promoteIssuetoUS()">
              Promote to User Story
              <span class="fa fa-tasks fa-lg"></span>
            </button>
          </div>


        </div>
      </div>






    </div> <!-- end view detail -->






    <!-- aqui ponemos los comments -->
    <div class="summary-body-detail-task-comments animate-show" ng-show="item.viewRelatedComments" >


      <div class="well well-custom" scroll-bottom-on-last="rowCollectionIssues[tagIssue].comments">
        <ul class="media-list list-group">



          <!-- elfalso -->
          <li class="media list-group-item"
              ng-show="rowCollectionIssues[tagIssue].comments == undefined || rowCollectionIssues[tagIssue].comments.length == 0">
            <div class="comment">

              <img
                ng-src="http://www.gravatar.com/avatar/{{getHash('internalUser@localhost')}}?s=50&d=identicon"
                alt="User Avatar"
                class="avatar-comments"/>


              <div class="media-body">

                <strong class="username">MeanStack </strong>
                <small class="date date-comments" >
                  <span class="glyphicon glyphicon-time"></span>

                  <span>Right now</span>
                </small>

                <p> Empty space is so boring ... </p>

              </div>
              <div class="clearfix"></div>

            </div>
          </li>



          <!-- --------------- el real ------------------ -->
          <li class="media list-group-item"
              ng-repeat="comment in rowCollectionIssues[tagIssue].comments" send-last
              ng-show="rowCollectionIssues[tagIssue].comments !== undefined && rowCollectionIssues[tagIssue].comments.length > 0"
              name="{{comment.id}}" id="{{comment.id}}">

            <div class="comment">

              <img
                ng-src="http://www.gravatar.com/avatar/{{getHash(comment.user.mail)}}?s=50&d=identicon"
                alt="User Avatar"
                class="avatar-comments"/>


              <div class="media-body">

                <strong class="username">{{comment.user.username}}</strong>
                <small class="date date-comments" >
                  <span class="glyphicon glyphicon-time"></span>
                  <span am-time-ago="comment.created"></span>

                </small>




                <p ng-if="isInternalComment($index)" class="text-left">
                  <span ng-show="getInternalComment($index, comment)!== ''" bind-html-compile="getInternalComment($index, comment)"></span>
                </p>

                <p ng-if="!isInternalComment($index)" class="text-left">
                    {{comment.comment}}
                </p>








                <small class="date date-comments" ng-show="comment.isEditable" ng-click="removeCommentIssue(comment)">
                  <span class="glyphicon glyphicon-trash"></span>
                </small>

              </div>
              <div class="clearfix"></div>
            </div>

          </li>


        </ul>

        <!-- 2 ul's para well class:: comments -->


      </div>

      <!-- end divs con 2 ul's para well class:: comments -->



      <!--<div class="well">-->
      <div class="panel-body comments">
            <textarea class="form-control" placeholder="Type your comment"
                      rows="2" id="commentText"
                      ng-model="item.commentText">
            </textarea>
        <button type="button" class="btn btn-info pull-right" ng-click="sendCommentTextIssue()">
          Submit comment
        </button>
      </div>
      <!-- </div>-->






    </div>





  </div><!-- detail tasks -->

</div> <!--panel-detail-task end detail-task -->
