<button class="btn" id="timeline" ng-class="item.itemMenuScrumClicked == 1 ?'btn-scrum-menu-active' : 'btn-scrum-menu-normal'"
        ng-click="initVarsAndSelectOptionsScrumMenu(1)"
        title="Timeline">

  <span ng-show = "badge.scrummenu == 0" class="fa fa-comment-o fa-lg"></span>
  <span ng-show = "badge.scrummenu > 0" class="badge">{{badge.scrummenu}}</span>
</button> <!-- timeline -->

<!--
<button class="btn" id="backlog" ng-class="item.itemMenuScrumClicked == 2 ?'btn-scrum-menu-active' : 'btn-scrum-menu-normal'"
        ng-click="item.itemMenuScrumClicked = 2"
        title="Backlog">-->

<button class="btn" id="backlog" ng-class="item.itemMenuScrumClicked == 2 ?'btn-scrum-menu-active' : 'btn-scrum-menu-normal'"
        ng-click="initVarsAndSelectOptionsScrumMenu(2)"
        title="Backlog">

  <span class="fa fa-tasks fa-lg"></span></button> <!-- userstories, backlog -->


<button class="btn" id="sprint" ng-class="item.itemMenuScrumClicked == 3 ?'btn-scrum-menu-active' : 'btn-scrum-menu-normal'"
        ng-click="initVarsAndSelectOptionsScrumMenu(3)"
        title="Sprints">
  <span class="fa fa-table fa-lg fa-lg"></span></button> <!-- sprints -->


<button class="btn" id="issues" ng-class="item.itemMenuScrumClicked == 4 ?'btn-scrum-menu-active' : 'btn-scrum-menu-normal'"
        ng-click="initVarsAndSelectOptionsScrumMenu(4)"
        title="Issues">
  <span class="fa fa-check-square-o fa-lg"></span></button> <!-- issues -->



<button class="btn" id="charts" ng-class="item.itemMenuScrumClicked == 5 ?'btn-scrum-menu-active' : 'btn-scrum-menu-normal'"
        ng-click="initVarsAndSelectOptionsScrumMenu(5)"
        title="Team">
  <span class="fa fa-area-chart fa-lg"></span></button> <!--  chart -->

