


<div class="row row-all-content" ng-show="!item.viewinDetail && tagTask == -1" >
  <div class="row row-backlog-chart">
    <div class="panel panel-info" id="panel-backlog-chart">



      <!-- ---- ------------  cabecera  ---------------------- --- -->
      <div class="panel-body panel-body-backlog-charts">

        <!-- max:: num de userstories totales
            current:: num userstories closed
            color, es el color del circulo current
            bdcolor:: el color de fondo -->


        <!-- cambiarlo xdatos reales -->


        <round-progress
          max=50
          current=20
          color="#69F0F0"
          bgcolor="#eaeaea"
          radius="50"
          stroke="10"
          semi="true"
          rounded="true"
          clockwise="false"
          responsive="false"
          duration="800"
          animation="easeInOutQuart"
          animation-delay="0"
          id="roundprogress-sprint">
          50/20
        </round-progress>



        <div class="summary-stats">
          <span class="percent">50%</span>
        </div>



        <div class="summary-stats">
          <p class="number">0</p>

          <p class="description">
            total<br>
            points
          </p>


        </div>

        <div class="summary-stats">
          <p class="number">0</p>

          <p class="description">
            completed<br>
            points
          </p>


        </div>


        <div class="summary-stats">
          <p class="number">0</p>

          <p class="description">
            open<br>
            tasks
          </p>


        </div>

        <div class="summary-stats">
          <p class="number">0</p>

          <p class="description">
            closed<br>
            tasks
          </p>


        </div>


        <div class="summary-stats">
          <p class="number">0</p>

          <p class="description">
            blocked<br>
            tasks
          </p>


        </div>


        <div class="summary-stats">
          <p class="number">0</p>

          <p class="description">
            power<br>
            dosis
          </p>


        </div>



        <!-- esto lo quitamos --

        <div class="summary-stats">
          <!-- boton que muestra o no el grafico --
          <a ng-show="rowCollectionUserStories.length > 0" class="btn btn-graphic" ng-click="">
            <span class="fa fa-area-chart fa-3x"></span>
          </a>

        </div> -->





      </div>  <!-- end panel body -->
    </div>   <!-- end panel-info -->
  </div>     <!-- end row:: <div ng-if= "tagGroup !== '' " class="row" id="row-settings">
                              (Panel1: borrar, editar, unlink:: settings de grupo) -->
  <!----------------- end cabecera ---------------------------------------------------------->






<!--- grafico demomento lo quitamos -----------------------------------

  <div ng-show="showgraph.show && rowCollectionUserStories.length > 0"
       class="row row-backlog-charts-show-graph">
    <div class="panel panel-info" id="panel-backlog-graphs">


      <div class="panel-body panel-body-backlog-graphs">

        <!-- y aqui meteriamos la grafica -->
        <!-- hay que modificarla en base a los puntos que haya -->


        <!-- .chart-line
        chart-data: series data
        chart-labels: x axis labels
        chart-legend (default: false): show legend below the chart
        chart-options (default: {}): Chart.js options
        chart-series (default: []): series labels
        chart-click (optional): onclick event handler
        chart-hover (optional): onmousemove event handler
        chart-colours (default to global colours): colours for the chart --




        <canvas id="line" class="chart chart-line" chart-data="chartdata"
                chart-labels="labels" chart-legend="false" chart-series="series"
                chart-click="onClickpoints" >
        </canvas>

      </div> <!-- end panel-body --


    </div> <!-- end panel-info --
  </div> <!-- end row-settings1::<div ng-if= "tagGroup !== '' " class="row" id="row-settings1">
                              (Panel1: borrar, editar, unlink:: settings de grupo) -->






  <div class="row row-backlog-sprints">
    <div class="panel panel-info" id="panel-backlog-sprints">




      <!-- dejamos el panel anterior para que se cubra la pantalla -->

      <div class="panel-body panel-body-backlog-sprints" ng-show="rowCollectionSprints.length == 0">

        <div class="panel-sprints-empty">
          <div class="container">
          </div>
        </div>

        <div class="carousel-caption">



          <a class="btn btn-large btn-success" data-toggle="modal" data-target="#newSprintModal" ng-click="initVarsNewSprintModal()">
            <i class="fa fa-plus"></i>
            Add a new sprint
          </a>
        </div>


      </div>







      <!-- ------------ tod esto se muestra si hay sprints:: tabla -------------------- -->
      <div class="panel-body panel-body-backlog-sprints" ng-show="rowCollectionSprints.length > 0">

        <!-- hay que meter container fluid para dividir nivel btn aniadir y la lista -->
        <!-- boton de aniadir userstory -->


        <div class="row row-backlog-sprints-new-btn">
          <div class="panel panel-info" id="panel-backlog-sprints-new-btn">
            <div class="panel-body panel-body-backlog-sprints-new-btn">


              <form>
                <div class="form-group">

                  <!------------------- busquedas para sprints + botones edit, delete ... ------------------------------------>
                  <div class="input-group" ng-show="tagSprint.num == undefined">


                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                    </span>


                    <input type="text" class="form-control searchSprint" placeholder="Search by name" ng-model="searchSprint"/>

                    <!-- no hay seleccionados -->
                    <span ng-show="tableCells.selected.length == 0" class="input-group-btn">
                      <div class="input-group-btn">
                        <button class="btn btn-success" type="button" data-toggle="modal"
                                data-target="#newSprintModal" ng-click="initVarsNewSprintModal()">
                          <i class="fa fa-plus"></i>
                          Add a new sprint
                        </button>
                      </div>
                    </span>


                    <!-- si hay varios seleccionados delete -->
                    <span ng-show="tableCells.selected.length > 1" class="input-group-btn">
                      <div class="input-group-btn">

                        <button class="btn btn-danger" type="button" ng-click="removeSprints()">
                          <i class="fa fa-trash"></i>
                          Delete
                        </button>
                      </div>
                    </span>

                    <!-- hay 1 seleccionado:: editar, borrar -->
                    <span ng-show="tableCells.selected.length ==1" class="input-group-btn">
                      <div class="input-group-btn">
                        <button class="btn btn-info" type="button" data-toggle="modal"
                                data-target="#editSprintModal" ng-click="initVarsEditSprintModal()">

                          <i class="fa fa-pencil"></i>
                          Edit
                        </button>

                        <button class="btn btn-danger" type="button" ng-click="removeSprints()">
                          <i class="fa fa-trash"></i>
                          Delete
                        </button>
                      </div>
                    </span>



                  </div>





                  <!------------------------ busquedas para US + botones ----------------------------------->
                  <div class="input-group" ng-show="tagSprint.num !== undefined">


                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                    </span>



                    <span class="input-group-btn">
                      <oi-select
                        oi-options="item.name for item in comboOptions track by item.name"
                        ng-model="comboOptionsSelected" ng-change="clearValuesofSearchUS(comboOptionsSelected.num)">
                      </oi-select>
                    </span>


                    <input ng-show="comboOptionsSelected.num == 0" type="text" class="form-control searchUS" placeholder="Search by all fields" ng-model="searchUS.$"/>
                    <input ng-show="comboOptionsSelected.num == 1" type="text" class="form-control searchUS" placeholder="Search by subject" ng-model="searchUS.subject"/>

                    <input ng-show="comboOptionsSelected.num == 2" type="text" class="form-control searchUS" placeholder="Search by status" ng-model="searchUS.status"/>
                    <input ng-show="comboOptionsSelected.num == 3" type="text" class="form-control searchUS" placeholder="Search by tags" ng-model="searchTags"/>
                    <!--ng-model="searchUS.tags"-->


                    <!-- no hay seleccionados -->
                    <span ng-show="tableCells.selected.length == 0" class="input-group-btn">
                      <div class="input-group-btn">
                        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#newSprintModal" ng-click="initVarsNewSprintModal()">
                          <i class="fa fa-plus"></i>
                          Add a new sprint
                        </button>
                      </div>
                    </span>


                    <!-- si hay varios seleccionados -->
                    <span ng-show="tableCells.selected.length > 0" class="input-group-btn">
                      <div class="input-group-btn">
                        <button class="btn btn-warning" type="button"
                                data-toggle="modal" data-target="#changeSprintToUserStoryModal">
                          <i class="fa fa-exchange"></i>
                          Move to sprint
                        </button>
                        <button class="btn btn-info" type="button"
                                ng-click="unsassignedUSfromSprint()">
                          <i class="fa fa-exchange"></i>
                          Move to backlog
                        </button>

                        <button class="btn btn-danger" type="button" ng-click="removeUSs()">
                          <i class="fa fa-trash"></i>
                          Delete
                        </button>
                      </div>
                    </span>



                  </div>
                </div>
              </form>





            </div>
          </div>
        </div>





        <div class="row row-backlog-sprints-list">
          <div class="panel panel-info" id="panel-backlog-sprints-list">
            <div class="panel-body panel-body-backlog-sprints-list">


              <!-- esto es 1 tabla con status,points, userstory y votes  -->

              <!-- <th class="table-cell24">Subject</th>
                  <th class="table-cell1">Status</th>
                  <th class="table-cell06">Points</th>
                  <th class="table-cell1">Tags</th> --->



<!--table-without-margin-sprints-->

              <table class="table"
                ng-class="tagSprint.num == undefined ? 'table-without-margin-sprints' : 'table-without-margin-sprints-us'">
                <thead>

                <tr>


                  <!-- esto solo quiero que se muestre cuando no hay sprint seleccionado -->
                  <th class="table-cell01"
                      ng-show="tagSprint.num == undefined" >

                    <input type="checkbox" ng-click="checkAllNone(2)"
                           ng-checked="ischeckedAllCells">

                  </th>


                  <th class="table-cell23">
                    <a ng-click="sortType = 'num'; sortReverse = !sortReverse">
                      Sprints
                      <span ng-show="sortType == 'num'" class="fa"
                            ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'" ng-show="tagSprint.num == undefined"></span>

                      <span ng-show="tableCells.selected.length > 0 && tagSprint.num == undefined"
                            class="badge badge-warning pull-right">{{tableCells.selected.length}}</span>
                    </a>
                  </th>

                  <th class="table-cell23">
                    <a ng-click="sortType = 'startdate'; sortReverse = !sortReverse">
                      Start date
                      <span ng-show="sortType == 'startdate'" class="fa"
                            ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'" ng-show="tagSprint.num == undefined"></span>
                    </a>
                  </th>

                  <th class="table-cell23">
                    <a ng-click="sortType = 'enddate'; sortReverse = !sortReverse">
                      Ending date
                      <span ng-show="sortType == 'enddate'" class="fa"
                            ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'" ng-show="tagSprint.num == undefined"></span>

                    </a>
                  </th>



                </thead>


                <tbody>

                <tr ng-repeat="row in rowCollectionSprints | orderBy:sortType:sortReverse | filter: searchSprint"
                    ng-class="row.selectedCell ? 'cellSelectedClass' : ''"
                    ng-show="row.viewTableUs">




                  <td class="table-cell01" ng-show="tagSprint.num == undefined">
                    <input type="checkbox" data-checklist-model="tableCells.selected" data-checklist-value="row" ng-click="changeCheckedTableCell(row)">

                    <!--cellSelectedClass -->

                  </td>

                  <!--{{message.time | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}-->
                  <td data-ng-click="viewSprintTableUS(row)" class="table-cell23">#{{row.num}} {{row.name}}</td>
                  <td data-ng-click="viewSprintTableUS(row)" class="table-cell23">{{row.startdate | amDateFormat:'ddd, MMM D, YYYY'}} </td>
                  <td data-ng-click="viewSprintTableUS(row)" class="table-cell23">{{row.enddate | amDateFormat:'ddd, MMM D, YYYY'}}</td>


                </tr>
                </tbody>


              </table>









              <!-- tabla US -->
              <table class="table table-without-margin" ng-show="tagSprint.num !== undefined">
                <thead>

                <tr>


                  <th class="table-cell01">
                    <input type="checkbox" ng-click="checkAllNone(0)"
                           ng-checked="ischeckedAllCells"
                           ng-show="lookforUS() == false">

                  </th>



                  <th class="table-cell05">
                    <a ng-click="sortType = 'voters'; sortReverse = !sortReverse">
                      Votes
                      <span ng-show="sortType == 'voters'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell23">
                    <a ng-click="sortType = 'num'; sortReverse = !sortReverse">
                      User Stories
                      <span ng-show="sortType == 'num'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                      <span ng-show="tableCells.selected.length > 0"
                            class="badge badge-warning pull-right">{{tableCells.selected.length}}</span>
                    </a>

                  </th>
                  <th class="table-cell1">
                    <a ng-click="sortType = 'status'; sortReverse = !sortReverse">
                      Status
                      <span ng-show="sortType == 'status'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell06">
                    <a ng-click="sortType = 'totalPoints'; sortReverse = !sortReverse">
                      Points
                      <span ng-show="sortType == 'totalPoints'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell1">
                    <a ng-click="sortType = 'tags'; sortReverse = !sortReverse">
                      Tags
                      <span ng-show="sortType == 'tags'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>
                  </th>
                </tr>

                </thead>


                <tbody>

                <!--  | orderBy:sortType:sortReverse |filter:searchUS:strict"
                    ng-show="row.sprint == undefined "
                    ng-class="row.selectedCell ? 'cellSelectedClass' : ''"-->
                <tr ng-repeat="row in rowCollectionUserStories | orderBy:sortType:sortReverse | filter: (comboOptionsSelected.num == 3 ? {tags: searchTags} : searchUS)"
                    ng-show="row.sprint !== undefined && tagSprint.id == row.sprint"
                    ng-class="row.selectedCell ? 'cellSelectedClass' : ''">




                  <td class="table-cell01">
                    <input type="checkbox" data-checklist-model="tableCells.selected" data-checklist-value="row" ng-click="changeCheckedTableCell(row)">

                    <!--cellSelectedClass -->

                  </td>


                  <td data-ng-click="viewDetailsUserstory(row)" class="table-cell05">{{row.voters.length}}</td>
                  <td data-ng-click="viewDetailsUserstory(row)" class="table-cell23">#{{row.num}} {{row.subject}}</td>
                  <td data-ng-click="viewDetailsUserstory(row)" class="table-cell1">{{row.status}}</td>
                  <td data-ng-click="viewDetailsUserstory(row)" class="table-cell06">{{row.totalPoints}}</td>
                  <td data-ng-click="viewDetailsUserstory(row)" class="table-cell1">
                    <span class="label label-info" ng-repeat="tag in row.tags ">{{tag}}</span><br ng-repeat="tag in row.tags">
                  </td>

                </tr>
                </tbody>


              </table>


              <div ng-show="tagSprint.num !== undefined && lookforUS() == false"
                   class = "table-sprints-empty-table-us">


                <div class="panel-sprints-empty">
                  <div class="container">
                  </div>
                </div>

                <div class="carousel-caption" >

                  <a class="btn btn-large btn-success" data-toggle="modal" data-target="#newUserStorySprintModal">
                    <i class="fa fa-plus"></i>
                    Add a new userstory
                  </a>
                </div>
              </div>






            </div> <!-- end panel-body-backlog-userstories-list -->
          </div> <!-- end panel-backlog-userstories-list -->
        </div> <!-- end row-backlog-userstories-list -->




      </div> <!-- end panel-body-backlog-userstories -->

    </div> <!-- panel-info-->
  </div> <!-- end row--->

</div><!-- end row-all-content :: !item.viewinDetail && tagTask.num == undefined"-->





<!--- ********** MODALS ************ -->


<!------------------------ new US modal ------------------------------------->

<div id="newUserStorySprintModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header" >


        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="initVarsNewUserstoryModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">New User Story</h4>
      </div>

      <div class="modal-body" >


        <div class="alert alert-danger" role="alert" ng-if="modalsError.messageNewUserstoryModal !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewUserstoryModal =''">
            <span aria-hidden="true">&times;</span>
          </button>
          {{modalsError.messageNewUserstoryModal}}

        </div>






        <!-- subject -->
        <div class="form-group">
          <label for="userstorySubject">Subject:</label>
          <input type="text" class="form-control" name="userstorySubjectTxt"
                 id="userstorySubject" placeholder="Enter Userstory Subject..."
                 ng-model="userstory.subject">

          <div class="alert alert-danger" role="alert" ng-if="modalsError.messageNewUserstoryRequiredSubModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewUserstoryRequiredSubModal =''">
              <span aria-hidden="true">&times;</span>
            </button>
            {{modalsError.messageNewUserstoryRequiredSubModal}}

          </div>

        </div>



        <!-- points -->
        <div class="form-group">

          <div class="btn-group btn-group-justified">
            <label>UX</label>
            <label>Design</label>
            <label>Back</label>
            <label>Front</label>
          </div>



          <div class="btn-group btn-group-justified">

            <button uib-popover-template="dynamicPopover.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryUX"
                    popover="Popover 1">
              {{userstory.point.ux}}
            </button>

            <button uib-popover-template="dynamicPopoverDes.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryDes"
                    popover="Popover 2">
              {{userstory.point.design}}
            </button>

            <button uib-popover-template="dynamicPopoverFront.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryFront"
                    popover="Popover 3">
              {{userstory.point.front}}
            </button>

            <button uib-popover-template="dynamicPopoverBack.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryBack"
                    popover="Popover 4">
              {{userstory.point.back}}
            </button>

          </div>




          <br>
          <label class="total-points">Total points: {{
            parseFloat(userstory.point.ux) +
            parseFloat(userstory.point.design) +
            parseFloat(userstory.point.front) +
            parseFloat(userstory.point.back) }}</label>


        </div> <!-- end form-group -->




        <!-- tags (separar con tabulador) -->
        <div class="form-group">
          <label for="userstoryTag"> Tags: </label>
          <br>

          <tags-input ng-model="userstory.tags" display-property="text"
                      placeholder="Tag me.."
                      replace-spaces-with-dashes="false"
                      id="userstoryTag">
          </tags-input>
        </div>



        <!-- descripcion -->
        <div class="form-group">
          <label for="userstoryDescr">Description:</label>
          <textarea class="form-control" id="userstoryDescr"
                    placeholder="Enter description to helps others better understand..."
                    ng-model="userstory.description">
          </textarea>
        </div>


        <!-- requirement:: checkbox type requirement-->
        <div class="form-group requirements">

          <div class="btn-group">
            <label class="btn btn-default" ng-model="userstory.requirement.team" uib-btn-checkbox>Team Requirement</label>
            <label class="btn btn-default" ng-model="userstory.requirement.client" uib-btn-checkbox>Client Requirement</label>
            <label class="btn btn-warning" ng-model="userstory.requirement.blocked" uib-btn-checkbox>Blocked</label>
          </div>

        </div>



        <!-- falta votes ?-->

      </div> <!-- end modal body -->



      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="btn-new-userstory" ng-click="createNewUserstory()"><span class="fa fa-floppy-o">
        </span> Create</button>

        <!-- inicializar variables -->
        <button type="button" class="btn btn-danger" id="btn-new-userstory-close" data-dismiss="modal" ng-click="initVarsNewUserstoryModal()">
          <span class="fa fa-remove"></span> Close</button>

      </div>
    </div>
  </div>
</div>






<!-- ---- New Sprint Modal ---- -->
<div id="newSprintModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header" >

        <!-- hay que cambiar el initVarsNewUserstoryModal() -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="initVarsNewSprintModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">New Sprint</h4>
      </div>

      <div class="modal-body" >


        <div class="alert alert-danger" role="alert" ng-show="modalsError.messageNewSprintModal !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewSprintModal =''">
            <span aria-hidden="true">&times;</span>
          </button>
          {{modalsError.messageNewSprintModal}}

        </div>


        <!-- name -->
        <div class="form-group">
          <label for="sprintName">Name:</label>
          <input type="text" class="form-control" name="sprintName"
                 id="sprintName" placeholder="Enter Sprint Name..."
                 ng-model="sprint.name">

          <div class="alert alert-danger" role="alert" ng-show="modalsError.messageNewSprintRequiredNameModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewSprintRequiredNameModal =''">
              <span aria-hidden="true">&times;</span>
            </button>
            <!-- cambiar esto diciendo que necesita que elcampo este completo -->
            {{modalsError.messageNewSprintRequiredNameModal}}

          </div>

        </div>




        <div class="row">

          <div class="col-md-6">
            <label for="sprintStartDate">From:</label>
            <p class="input-group">

              <input type="text" class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="sprint.startdate"
                     is-open="popup1.opened"
                     datepicker-options="dateOptions"
                     ng-required="true"
                     close-text="Close"
                     show-button-bar="false"
                     id ="sprintStartDate"
                     readonly />

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>

          <div class="col-md-6">
            <label for="sprintEndDate">To:</label>
            <p class="input-group">

              <input type="text" class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="sprint.enddate"
                     is-open="popup2.opened"
                     datepicker-options="dateOptionsEnd"
                     ng-required="true"
                     close-text="Close"
                     show-button-bar="false"
                     id ="sprintEndDate"
                     readonly />

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>




        </div>

      </div> <!-- end modal body -->



      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="btn-new-sprint" ng-click="createNewSprint()"><span class="fa fa-floppy-o">
        </span> Create</button>

        <!-- inicializar variables -->
        <button type="button" class="btn btn-danger" id="btn-new-sprint-close" data-dismiss="modal" ng-click="initVarsNewSprintModal()">
          <span class="fa fa-remove"></span> Close</button>

      </div>
    </div>
  </div>
</div>



<!--------------------------------- select sprint to US modal------------------------------------------------>
<!-- hacemos 1 lista de sprints : # num name :start date end date ------------->

<div id="changeSprintToUserStoryModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header" >

        <!-- hay que cambiar el initVarsNewUserstoryModal() -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Move to Sprint</h4>
      </div>

      <div class="modal-body" >


        <!-- puede que no haya sprints creados , en esecaso lo dices -->
        <div class="alert alert-danger" role="alert"
             ng-show="rowCollectionSprints == undefined ||
             rowCollectionSprints == null ||
             rowCollectionSprints == '' ||
             rowCollectionSprints.length < 0 ">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
          Not sprints yet, create a new sprint...

        </div>



        <table class="table table-hover">
          <thead>

          <tr>

            <th class="table-cell23">
              <a ng-click="sortType = 'num'; sortReverse = !sortReverse">
                Sprints
                      <span ng-show="sortType == 'num'" class="fa"
                            ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
              </a>
            </th>

            <th class="table-cell23">
              <a ng-click="sortType = 'startdate'; sortReverse = !sortReverse">
                Start date
                      <span ng-show="sortType == 'startdate'" class="fa"
                            ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
              </a>
            </th>

            <th class="table-cell23">
              <a ng-click="sortType = 'enddate'; sortReverse = !sortReverse">
                Ending date
                      <span ng-show="sortType == 'enddate'" class="fa"
                            ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
              </a>
            </th>

          </thead>




          <tbody>
          <tr ng-repeat="row in rowCollectionSprints | orderBy:sortType:sortReverse"
              ng-show="row.id !== tagSprint.id">
            <!-- row -->
            <td data-ng-click="editSprintUserstory(row)" class="table-cell23">#{{row.num}} {{row.name}}</td>
            <td data-ng-click="editSprintUserstory(row)" class="table-cell23">{{row.startdate | amDateFormat:'ddd, MMM D, YYYY'}} </td>
            <td data-ng-click="editSprintUserstory(row)" class="table-cell23">{{row.enddate | amDateFormat:'ddd, MMM D, YYYY'}}</td>

          </tr>
          </tbody>


        </table>


      </div> <!-- end modal body -->


      <div class="modal-footer">

        <button type="button" class="btn btn-danger" id="btn-closed-choose-sprint" data-dismiss="modal">
          <span class="fa fa-remove"></span> Close</button>

      </div>
    </div>
  </div>
</div>







<!-- ---- FALTA           !!!!!!!!!!! Edit Sprint Modal ---- -->
<div id="editSprintModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header" >

        <!-- hay que cambiar el () initVarsEditSprintModal-->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="initVarsEditSprintModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Edit Sprint</h4>
      </div>

      <div class="modal-body" >


        <div class="alert alert-danger" role="alert" ng-show="modalsError.messageEditSprintModal !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageEditSprintModal =''">
            <span aria-hidden="true">&times;</span>
          </button>
          {{modalsError.messageEditSprintModal}}

        </div>






        <!-- name -->
        <div class="form-group">
          <label for="sprintNameEdit">Name:</label>
          <input type="text" class="form-control" name="sprintName"
                 id="sprintNameEdit" placeholder="Enter Sprint Name..."
                 ng-model="tagSprintTemp.name">

          <div class="alert alert-danger" role="alert" ng-show="modalsError.messageEditSprintRequiredNameModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageEditSprintRequiredNameModal =''">
              <span aria-hidden="true">&times;</span>
            </button>
            <!-- cambiar esto diciendo que necesita que elcampo este completo -->
            {{modalsError.messageEditSprintRequiredNameModal}}

          </div>

        </div>




        <div class="row">

          <div class="col-md-6">
            <label for="tagSprintStartDate">From:</label>
            <p class="input-group">

              <input type="text" class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="tagSprintTemp.startdate"
                     is-open="popupEdit1.opened"
                     datepicker-options="dateEditOptions"
                     ng-required="true"
                     close-text="Close"
                     show-button-bar="false"
                     id ="tagSprintStartDate"
                     readonly />

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEdit1()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>

          <div class="col-md-6">
            <label for="tagSprintEndDate">To:</label>
            <p class="input-group">

              <input type="text" class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="tagSprintTemp.enddate"
                     is-open="popupEdit2.opened"
                     datepicker-options="dateEditOptionsEnd"
                     ng-required="true"
                     close-text="Close"
                     show-button-bar="false"
                     id ="tagSprintEndDate"
                     readonly />

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEdit2()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>




        </div>



      </div> <!-- end modal body -->



      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="btn-edit-sprint" ng-click="editSprint()"><span class="fa fa-floppy-o">
        </span> Create</button>

        <!-- inicializar variables -->
        <button type="button" class="btn btn-danger" id="btn-edit-sprint-close" data-dismiss="modal" ng-click="initVarsEditSprintModal()">
          <span class="fa fa-remove"></span> Close</button>

      </div>
    </div>
  </div>
</div>





