
<div class="row row-all-content-sprint-dash"
     ng-show="item.viewTaskboard && tagSprint.id !== undefined
              && (tagUserstory == undefined ||tagUserstory.id == undefined)">
  <div class="row row-dashboard-sprints">
    <div class="panel panel-info" id="panel-dashboard-sprints">
      <div class="panel-body panel-body-dashboard-sprints">


        <div class="panel-body panel-body-dashboard-sprints-row">


          <div class="panel panel-info" ng-repeat="rowUS in rowCollectionUserStories"
               ng-show="rowUS.sprint == tagSprint.id && $index % 2 == 0">
            <div class="panel-heading" id="panel-heading-color-white">

              <div class="form-contributors-btn">

                <a class="try-label">
                  #{{rowUS.num}} {{rowUS.subject}}
                </a>
                <button title="new task" type="button" class="btn btn-info pull-left"
                        data-toggle="modal" data-target="#newTaskSprintModal" ng-click="assignUStoRow($index)">
                  <span class="fa fa-plus"></span>
                </button>
                <button type="button" class="btn btn-info pull-left"
                        ng-show="rowUS.viewTaskContainer == false "
                        ng-click="viewTasksContainer($index)">
                  <span class="fa fa-chevron-down"></span>
                </button>

                <button type="button" class="btn btn-info pull-left"
                        ng-show="rowUS.viewTaskContainer !== false && (rowUS.tasks!== undefined && rowUS.tasks.length >0)"
                        ng-click="viewTasksContainer($index)">
                  <span class="fa fa-chevron-up"></span>
                </button>





              </div>


            </div>




            <!-- ha esto le tengo que llamar:: viewTasksContainer($parent.$index) -->
            <div class="panel-body">

              <ul dnd-list="rowUS.tasks"
                  ng-show="rowUS.viewTaskContainer !== false && rowUS.tasks!== undefined && rowUS.tasks.length >0">

                <li ng-repeat="rowTask in rowUS.tasks"
                    ng-class="rowTask.status == 'New' ? 'status-new' :
                              (rowTask.status == 'In progress' ? 'status-in-progress' :
                               (rowTask.status == 'Closed' ? 'status-closed' :'status-ready-for-test'))">

                  <!-------------- sin assignar -------------------------------->
                  <div class="text-img">
                    <img ng-show="rowTask.assignedto == undefined || rowTask.assignedto.id == undefined"
                         ng-src="http://www.gravatar.com/avatar/{{getHash('internalUser@localhost')}}?s=40&d=identicon"
                         alt="User Avatar"
                         class="avatarin avatarin-opacity"
                         ng-click="changeTaskAssignedtoFromList(rowUS, rowTask, $index)"/>



                    <!--------------------- assignado ------------------------------>
                    <img ng-show="rowTask.assignedto !== undefined && rowTask.assignedto.id !== undefined"
                         ng-src="http://www.gravatar.com/avatar/{{getHash(rowTask.assignedto.mail)}}?s=40&d=identicon"
                         alt="User Avatar"
                         class="avatarin"
                         ng-click="changeTaskAssignedtoWithUnassignedFromList(rowUS, rowTask, $index)"/>




                    <p ng-click="">#{{rowTask.num}} {{rowTask.subject}}</p>


                    <!--------------- ponemos icono de borrar ------------------------>


                    <div class="dropdown">
                      <span class="nexttask-edit nexttaskk-edit-dropdown"
                            ng-class="rowTask.status == 'New' ? 'status-new-color' :
                              (rowTask.status == 'In progress' ? 'status-in-progress-color' :
                               (rowTask.status == 'Closed' ? 'status-closed-color' :'status-ready-for-test-color'))">
                      {{rowTask.status}}
                    </span>
                      <div class="dropdown-content">
                        <a ng-repeat="status in statics.status" ng-show="status !== rowTask.status"
                           ng-click="editStatusTaskFromSprint(status, rowUS, rowTask)"
                           ng-class="status == 'New' ? 'status-new-color-no-margin' :
                              (status == 'In progress' ? 'status-in-progress-color-no-margin' :
                               (status == 'Closed' ? 'status-closed-color-no-margin' :'status-ready-for-test-color-no-margin'))">
                          {{status}}

                        </a>
                      </div>
                    </div>



                    <!-- queremos ver taskdetail -->
                    <span class="nexttask-edit" ng-click="viewSprintDetailTaskFromDash(rowUS, $index)">
                      <i class="fa fa-pencil"></i>
                    </span>
                    <span class="nexttask-edit" ng-click="removeTaskFromSprint(rowUS.id, rowTask.id)">
                      <i class="fa fa-trash-o"></i>
                    </span>

                  </div>






                </li>
              </ul>

            </div>
          </div>
        </div> <!-- fin end row -->




<!--      Por si quiero arrastrar

              <ul dnd-list="rowUS.tasks"
                  dnd-inserted="onAddedItemSprint($index, $parent.$index)"
                  ng-show="rowUS.viewTaskContainer !== false && rowUS.tasks!== undefined && rowUS.tasks.length >0">

                <li ng-repeat="rowTask in rowUS.tasks"
                    dnd-draggable="rowTask"
                    dnd-moved="onMoved($parent.$index, $index ,rowTask)"
                    dnd-copied="logEvent('Item copied', event)"
                    dnd-effect-allowed="copyMove"
                    dnd-selected="onSelected($parent.$index, $index ,rowTask)"
                    ng-class="rowTask.status == 'New' ? 'status-new' :
                              (rowTask.status == 'In progress' ? 'status-in-progress' :
                               (rowTask.status == 'Closed' ? 'status-closed' :'status-ready-for-test'))">







------------------------------------



        <div class="panel-body panel-body-dashboard-sprints-row">


          <div class="panel panel-info" ng-repeat="rowUS in rowCollectionUserStories"
               ng-show="rowUS.sprint == tagSprint.id && $index % 2 !== 0">
            <div class="panel-heading" id="panel-heading-color-white2">

              <div class="form-contributors-btn">

                <button title="new task" type="button" class="btn btn-info pull-left"
                        data-toggle="modal" data-target="#newTaskSprintModal" ng-click="assignUStoRow($index)">
                  <span class="fa fa-plus"></span>
                </button>
                <a class="try-label" ng-click="">
                  #{{rowUS.num}} {{rowUS.subject}}
                </a>
                <button type="button" class="btn btn-info pull-left" ng-click="viewTasksContainer($index)">
                  <span class="fa fa-chevron-down"></span>
                </button>





              </div>


            </div>




            <!-- ha esto le tengo que llamar:: viewTasksContainer($parent.$index) --
            <div class="panel-body">

              <ul dnd-list="rowUS.tasks"
                  dnd-inserted="onAddedItemSprint($index, $parent.$index)"
                  ng-show="rowUS.viewTaskContainer !== false && rowUS.tasks!== undefined && rowUS.tasks.length >0">

                <li ng-repeat="rowTask in rowUS.tasks"
                    dnd-draggable="rowTask"
                    dnd-moved="onMoved($parent.$index, $index ,rowTask)"
                    dnd-copied="logEvent('Item copied', event)"
                    dnd-effect-allowed="copyMove"
                    dnd-selected="onSelected($parent.$index, $index ,rowTask)"
                    ng-class="rowTask.status == 'New' ? 'status-new' :
                              (rowTask.status == 'In progress' ? 'status-in-progress' :
                               (rowTask.status == 'Closed' ? 'status-closed' :'status-ready-for-test'))">

                  <!-------------- sin assignar --------------------------------
                  <div class="text-img">
                    <img ng-show="rowTask.assignedto == undefined || rowTask.assignedto.id == undefined"
                         ng-src="http://www.gravatar.com/avatar/{{getHash('internalUser@localhost')}}?s=40&d=identicon"
                         alt="User Avatar"
                         class="avatarin avatarin-opacity"
                         ng-click="changeTaskAssignedtoFromList(rowUS, rowTask, $index)"/>



                    <!--------------------- assignado ------------------------------
                    <img ng-show="rowTask.assignedto !== undefined && rowTask.assignedto.id !== undefined"
                         ng-src="http://www.gravatar.com/avatar/{{getHash(rowTask.assignedto.mail)}}?s=40&d=identicon"
                         alt="User Avatar"
                         class="avatarin"
                         ng-click="changeTaskAssignedtoWithUnassignedFromList(rowUS, rowTask, $index)"/>




                    <p>#{{rowTask.num}} {{rowTask.subject}}</p>


                    <!--------------- ponemos icono de borrar ------------------------

                    <span uib-popover-template="dynamicPopoverChooseStatus.templateUrl"
                            popover-placement="bottom"
                            popover="Popover 4"
                          class="nexttask-edit"
                          ng-click=""
                          ng-class="rowTask.status == 'New' ? 'status-new-color' :
                              (rowTask.status == 'In progress' ? 'status-in-progress-color' :
                               (rowTask.status == 'Closed' ? 'status-closed-color' :'status-ready-for-test-color'))">
                      {{rowTask.status}}
                    </span>



                    <span class="nexttask-edit" ng-click=""
                          ng-class="rowTask.status == 'New' ? 'status-new-color' :
                              (rowTask.status == 'In progress' ? 'status-in-progress-color' :
                               (rowTask.status == 'Closed' ? 'status-closed-color' :'status-ready-for-test-color'))">
                      {{rowTask.status}}
                    </span>

                    <span class="nexttask-edit" ng-click="">
                      <i class="fa fa-pencil"></i>
                    </span>
                    <span class="nexttask-edit" ng-click="removeTaskFromSprint(rowUS.id, rowTask.id)">
                      <i class="fa fa-trash-o"></i>
                    </span>

                  </div>






                </li>
              </ul>

            </div>
          </div>
        </div> <!-- fin end row -->













        <!-- start row ---------------
        <div class="panel-body panel-body-dashboard-sprints-row">


          <div class="panel panel-info" ng-repeat="rowUS in rowCollectionUserStories"
               ng-show="rowUS.sprint == tagSprint.id && $index % 2 == 0">
            <div class="panel-heading" id="panel-heading-color-white2">

              <div class="form-contributors-btn">
                <button title="new task" type="button" class="btn btn-info pull-left">
                  <span class="fa fa-plus"></span>
                </button>
                <p class="try-label">#{{rowUS.num}} {{rowUS.subject}}</p>
              </div>


            </div>



            <div class="panel-body">

              <ul dnd-list="rowUS.tasks"
                  dnd-inserted="onAddedItemSprint($index, $parent.$index)">

                <li ng-repeat="rowTask in rowUS.tasks"
                    dnd-draggable="rowTask"
                    dnd-moved="onMoved($parent.$index, $index ,rowTask)"
                    dnd-copied="logEvent('Item copied', event)"
                    dnd-effect-allowed="copyMove"
                    dnd-selected="onSelected($parent.$index, $index ,rowTask)"
                    ng-class="rowTask.status == 'New' ? 'status-new' :
                              (rowTask.status == 'In progress' ? 'status-in-progress' :
                               (rowTask.status == 'Closed' ? 'status-closed' :'status-ready-for-test'))">

                  <div class="text-img">
                    <img ng-show="rowTask.assignedto == undefined || rowTask.assignedto.id == undefined"
                         ng-src="http://www.gravatar.com/avatar/{{getHash(rowTask.assignedto.mail)}}?s=40&d=identicon"
                         alt="User Avatar"
                         class="avatarin"/>
                    <img ng-show="rowTask.assignedto !== undefined && rowTask.assignedto.id !== undefined"
                         ng-src="http://www.gravatar.com/avatar/{{getHash(rowTask.assignedto.mail)}}?s=40&d=identicon"
                         alt="User Avatar"
                         class="avatarin"/>
                    <p>#{{rowTask.num}} {{rowTask.subject}}</p>

                  </div>






                </li>
              </ul>

            </div>
          </div>
        </div> <!-- find e row -->
















        <!--------------------------- ejemplo que funciona ---------------------------------------------->
        <!--------------------

        <div class="panel-body panel-body-dashboard-sprints-row">


          <div class="panel panel-default">
            <div class="panel-heading">Title</div>
              <div class="panel-body">

              <ul dnd-list="models.lists.A"
                  dnd-inserted="onAddedItemSprint(index, 1)">

                <li ng-repeat="item in models.lists.A"
                    dnd-draggable="item"
                    dnd-moved="onMoved(models.lists.A, $index ,item)"
                    dnd-copied="logEvent('Item copied', event)"
                    dnd-effect-allowed="copyMove"
                    dnd-selected="onSelected(models.lists.A, $index ,item)">
                  {{item.label}}
                </li>
              </ul>

            </div>
          </div>
        </div> <!-- find e row -->










      </div> <!-- panel-body-backlog-sprints -->
    </div> <!-- panel-dashboard-sprints -->
  </div> <!-- row row-dashboard-sprints-->



</div> <!--row row-all-content-sprint-dash -->



<!----------------------- hasta aqui dashboard --------------------------------------------------->


<div class="row row-all-content" id="row-all-content"
     ng-show="!item.viewTaskboard && (tagUserstory == undefined ||tagUserstory.id == undefined)">
  <div class="row row-backlog-chart">
    <div class="panel panel-info" id="panel-backlog-chart">



      <!-- ---- ------------  cabecera  ---------------------- --- -->
      <div class="panel-body panel-body-backlog-charts">

        <!-- max:: num de userstories totales
            current:: num userstories closed
            color, es el color del circulo current
            bdcolor:: el color de fondo -->


        <!-- cambiarlo xdatos reales -->


        <round-progress
          max=50
          current=20
          color="#69F0F0"
          bgcolor="#eaeaea"
          radius="50"
          stroke="10"
          semi="true"
          rounded="true"
          clockwise="false"
          responsive="false"
          duration="800"
          animation="easeInOutQuart"
          animation-delay="0"
          id="roundprogress-sprint">
          50/20
        </round-progress>



        <div class="summary-stats">
          <span class="percent">50%</span>
        </div>



        <div class="summary-stats">
          <p class="number">0</p>

          <p class="description">
            total<br>
            points
          </p>


        </div>

        <div class="summary-stats">
          <p class="number">0</p>

          <p class="description">
            completed<br>
            points
          </p>


        </div>


        <div class="summary-stats">
          <p class="number">0</p>

          <p class="description">
            open<br>
            tasks
          </p>


        </div>

        <div class="summary-stats">
          <p class="number">0</p>

          <p class="description">
            closed<br>
            tasks
          </p>


        </div>


        <div class="summary-stats">
          <p class="number">0</p>

          <p class="description">
            blocked<br>
            tasks
          </p>


        </div>


        <div class="summary-stats">
          <p class="number">0</p>

          <p class="description">
            power<br>
            dosis
          </p>


        </div>



        <!-- esto lo quitamos --

        <div class="summary-stats">
          <!-- boton que muestra o no el grafico --
          <a ng-show="rowCollectionUserStories.length > 0" class="btn btn-graphic" ng-click="">
            <span class="fa fa-area-chart fa-3x"></span>
          </a>

        </div> -->





      </div>  <!-- end panel body -->
    </div>   <!-- end panel-info -->
  </div>     <!-- end row:: <div ng-if= "tagGroup !== '' " class="row" id="row-settings">
                              (Panel1: borrar, editar, unlink:: settings de grupo) -->
  <!----------------- end cabecera ---------------------------------------------------------->






<!--- grafico demomento lo quitamos -----------------------------------

  <div ng-show="showgraph.show && rowCollectionUserStories.length > 0"
       class="row row-backlog-charts-show-graph">
    <div class="panel panel-info" id="panel-backlog-graphs">


      <div class="panel-body panel-body-backlog-graphs">

        <!-- y aqui meteriamos la grafica -->
        <!-- hay que modificarla en base a los puntos que haya -->


        <!-- .chart-line
        chart-data: series data
        chart-labels: x axis labels
        chart-legend (default: false): show legend below the chart
        chart-options (default: {}): Chart.js options
        chart-series (default: []): series labels
        chart-click (optional): onclick event handler
        chart-hover (optional): onmousemove event handler
        chart-colours (default to global colours): colours for the chart --




        <canvas id="line" class="chart chart-line" chart-data="chartdata"
                chart-labels="labels" chart-legend="false" chart-series="series"
                chart-click="onClickpoints" >
        </canvas>

      </div> <!-- end panel-body --


    </div> <!-- end panel-info --
  </div> <!-- end row-settings1::<div ng-if= "tagGroup !== '' " class="row" id="row-settings1">
                              (Panel1: borrar, editar, unlink:: settings de grupo) -->






  <div class="row row-backlog-sprints">
    <div class="panel panel-info" id="panel-backlog-sprints">




      <!-- dejamos el panel anterior para que se cubra la pantalla -->

      <div class="panel-body panel-body-backlog-sprints" ng-show="rowCollectionSprints.length == 0">

        <div class="panel-sprints-empty">
          <div class="container">
          </div>
        </div>

        <div class="carousel-caption">



          <a class="btn btn-large btn-success" data-toggle="modal" data-target="#newSprintModal" ng-click="initVarsNewSprintModal()">
            <i class="fa fa-plus"></i>
            Add a new sprint
          </a>
        </div>


      </div>







      <!-- ------------ tod esto se muestra si hay sprints:: tabla -------------------- -->
      <div class="panel-body panel-body-backlog-sprints" ng-show="rowCollectionSprints.length > 0">

        <!-- hay que meter container fluid para dividir nivel btn aniadir y la lista -->
        <!-- boton de aniadir userstory -->


        <div class="row row-backlog-sprints-new-btn">
          <div class="panel panel-info" id="panel-backlog-sprints-new-btn">
            <div class="panel-body panel-body-backlog-sprints-new-btn">


              <form>
                <div class="form-group">

                  <!------------------- busquedas para sprints + botones edit, delete ... ------------------------------------>
                  <div class="input-group" ng-show="tagSprint.id == undefined">


                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                    </span>


                    <input type="text" class="form-control searchSprint" placeholder="Search by name" ng-model="searchSprint"/>

                    <!-- no hay seleccionados -->
                    <span ng-show="tableCells.selected.length == 0" class="input-group-btn">
                      <div class="input-group-btn">
                        <button class="btn btn-success" type="button" data-toggle="modal"
                                data-target="#newSprintModal" ng-click="initVarsNewSprintModal()">
                          <i class="fa fa-plus"></i>
                          Add a new sprint
                        </button>
                      </div>
                    </span>


                    <!-- si hay varios seleccionados delete -->
                    <span ng-show="tableCells.selected.length > 1" class="input-group-btn">
                      <div class="input-group-btn">

                        <button class="btn btn-danger" type="button" ng-click="removeSprints()">
                          <i class="fa fa-trash"></i>
                          Delete
                        </button>
                      </div>
                    </span>

                    <!-- hay 1 seleccionado:: editar, borrar -->
                    <span ng-show="tableCells.selected.length ==1" class="input-group-btn">
                      <div class="input-group-btn">
                        <button class="btn btn-info" type="button" data-toggle="modal"
                                data-target="#editSprintModal" ng-click="initVarsEditSprintModal()">

                          <i class="fa fa-pencil"></i>
                          Edit
                        </button>

                        <button class="btn btn-danger" type="button" ng-click="removeSprints()">
                          <i class="fa fa-trash"></i>
                          Delete
                        </button>
                      </div>
                    </span>



                  </div>





                  <!------------------------ busquedas para US + botones ----------------------------------->
                  <div class="input-group" ng-show="tagSprint.id !== undefined">


                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                    </span>



                    <span class="input-group-btn">
                      <oi-select
                        oi-options="item.name for item in comboOptions track by item.name"
                        ng-model="comboOptionsSelected" ng-change="clearValuesofSearchUS(comboOptionsSelected.num)">
                      </oi-select>
                    </span>


                    <input ng-show="comboOptionsSelected.num == 0" type="text" class="form-control searchUS" placeholder="Search by all fields" ng-model="searchUS.$"/>
                    <input ng-show="comboOptionsSelected.num == 1" type="text" class="form-control searchUS" placeholder="Search by subject" ng-model="searchUS.subject"/>

                    <input ng-show="comboOptionsSelected.num == 2" type="text" class="form-control searchUS" placeholder="Search by status" ng-model="searchUS.status"/>
                    <input ng-show="comboOptionsSelected.num == 3" type="text" class="form-control searchUS" placeholder="Search by tags" ng-model="searchTags"/>
                    <!--ng-model="searchUS.tags"-->



                    <!-- no hay US seleccionados -->
                    <span ng-show="tableCells.selected.length == 0" class="input-group-btn">
                      <div class="input-group-btn">

                        <button class="btn btn-success" type="button"
                                ng-show="lookforUS() !== false"
                                data-toggle="modal" data-target="#newUserStorySprintModal">
                          <i class="fa fa-plus"></i>
                          Add a new userstory
                        </button>

                        <button class="btn btn-warning" type="button" ng-click="viewSprintTasksboard()"
                                ng-show="lookforUS() !== false">
                          <i class="fa fa-server"></i>
                          Sprint Taskboard
                        </button>


                      </div>
                    </span>


                    <!-- si hay varios seleccionados -->
                    <span ng-show="tableCells.selected.length > 0" class="input-group-btn">
                      <div class="input-group-btn">
                        <button class="btn btn-warning" type="button"
                                data-toggle="modal" data-target="#changeSprintToUserStoryModal">
                          <i class="fa fa-exchange"></i>
                          Move to sprint
                        </button>
                        <button class="btn btn-info" type="button"
                                ng-click="unsassignedUSfromSprint()">
                          <i class="fa fa-exchange"></i>
                          Move to backlog
                        </button>

                        <button class="btn btn-danger" type="button" ng-click="removeUSs()">
                          <i class="fa fa-trash"></i>
                          Delete
                        </button>
                      </div>
                    </span>



                  </div>
                </div>
              </form>





            </div>
          </div>
        </div>





        <div class="row row-backlog-sprints-list">
          <div class="panel panel-info" id="panel-backlog-sprints-list">
            <div class="panel-body panel-body-backlog-sprints-list">




              <table class="table"
                ng-class="tagSprint.id == undefined ? 'table-without-margin-sprints' : 'table-without-margin-sprints-us'">
                <thead>
                <tr>


                  <!-- esto solo quiero que se muestre cuando no hay sprint seleccionado -->
                  <th class="table-cell01"
                      ng-show="tagSprint.id == undefined" >

                    <input type="checkbox" ng-click="checkAllNone(2)"
                           ng-checked="ischeckedAllCells">

                  </th>


                  <th class="table-cell23">
                    <a ng-click="sortType = 'num'; sortReverse = !sortReverse">
                      Sprints
                      <span ng-show="sortType == 'num'" class="fa"
                            ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'" ng-show="tagSprint.id == undefined"></span>

                      <span ng-show="tableCells.selected.length > 0 && tagSprint.id == undefined"
                            class="badge badge-warning pull-right">{{tableCells.selected.length}}</span>
                    </a>
                  </th>

                  <th class="table-cell23">
                    <a ng-click="sortType = 'startdate'; sortReverse = !sortReverse">
                      Start date
                      <span ng-show="sortType == 'startdate'" class="fa"
                            ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'" ng-show="tagSprint.id == undefined"></span>
                    </a>
                  </th>

                  <th class="table-cell23">
                    <a ng-click="sortType = 'enddate'; sortReverse = !sortReverse">
                      Ending date
                      <span ng-show="sortType == 'enddate'" class="fa"
                            ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'" ng-show="tagSprint.id == undefined"></span>

                    </a>
                  </th>



                </thead>


                <tbody>

                <tr ng-repeat="row in rowCollectionSprints | orderBy:sortType:sortReverse | filter: searchSprint"
                    ng-class="row.selectedCell ? 'cellSelectedClass' : ''"
                    ng-show="row.viewTableUs">




                  <td class="table-cell01" ng-show="tagSprint.id == undefined">
                    <input type="checkbox" data-checklist-model="tableCells.selected" data-checklist-value="row" ng-click="changeCheckedTableCell(row)">

                    <!--cellSelectedClass -->

                  </td>

                  <!--{{message.time | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}-->
                  <td data-ng-click="viewSprintTableUS(row)" class="table-cell23">#{{row.num}} {{row.name}}</td>
                  <td data-ng-click="viewSprintTableUS(row)" class="table-cell23">{{row.startdate | amDateFormat:'ddd, MMM D, YYYY'}} </td>
                  <td data-ng-click="viewSprintTableUS(row)" class="table-cell23">{{row.enddate | amDateFormat:'ddd, MMM D, YYYY'}}</td>


                </tr>
                </tbody>


              </table>









              <!-- tabla US -->
              <table class="table table-without-margin" ng-show="tagSprint.id !== undefined && lookforUS()">
                <thead>

                <tr>


                  <th class="table-cell01">
                    <input type="checkbox" ng-click="checkAllNone(0)"
                           ng-checked="ischeckedAllCells">

                  </th>



                  <th class="table-cell05">
                    <a ng-click="sortType = 'voters'; sortReverse = !sortReverse">
                      Votes
                      <span ng-show="sortType == 'voters'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell23">
                    <a ng-click="sortType = 'num'; sortReverse = !sortReverse">
                      User Stories
                      <span ng-show="sortType == 'num'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                      <span ng-show="tableCells.selected.length > 0"
                            class="badge badge-warning pull-right">{{tableCells.selected.length}}</span>
                    </a>

                  </th>
                  <th class="table-cell1">
                    <a ng-click="sortType = 'status'; sortReverse = !sortReverse">
                      Status
                      <span ng-show="sortType == 'status'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell06">
                    <a ng-click="sortType = 'totalPoints'; sortReverse = !sortReverse">
                      Points
                      <span ng-show="sortType == 'totalPoints'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>

                  </th>
                  <th class="table-cell1">
                    <a ng-click="sortType = 'tags'; sortReverse = !sortReverse">
                      Tags
                      <span ng-show="sortType == 'tags'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                    </a>
                  </th>
                </tr>

                </thead>


                <tbody>

                <!--  | orderBy:sortType:sortReverse |filter:searchUS:strict"
                    ng-show="row.sprint == undefined "
                    ng-class="row.selectedCell ? 'cellSelectedClass' : ''"-->
                <tr ng-repeat="row in rowCollectionUserStories | orderBy:sortType:sortReverse | filter: (comboOptionsSelected.num == 3 ? {tags: searchTags} : searchUS)"
                    ng-show="row.sprint !== undefined && tagSprint.id == row.sprint"
                    ng-class="row.selectedCell ? 'cellSelectedClass' : ''">




                  <td class="table-cell01" ng-class="row.status == 'New' ? 'status-new' :
                              (row.status == 'In progress' ? 'status-in-progress' :
                               (row.status == 'Closed' ? 'status-closed' :'status-ready-for-test'))">
                    <input type="checkbox" data-checklist-model="tableCells.selected" data-checklist-value="row" ng-click="changeCheckedTableCell(row)">

                    <!--cellSelectedClass -->

                  </td>


                  <td data-ng-click="viewDetailsUserstory(row)" class="table-cell05">{{row.voters.length}}</td>
                  <td data-ng-click="viewDetailsUserstory(row)" class="table-cell23"
                      ng-class="row.status == 'Closed' ? 'status-closed' :''">
                    #{{row.num}} {{row.subject}}</td>
                  <td data-ng-click="viewDetailsUserstory(row)" class="table-cell1">{{row.status}}</td>
                  <td data-ng-click="viewDetailsUserstory(row)" class="table-cell06">{{row.totalPoints}}</td>
                  <td data-ng-click="viewDetailsUserstory(row)" class="table-cell1">
                    <span class="label label-info" ng-repeat="tag in row.tags ">{{tag}}</span><br ng-repeat="tag in row.tags">
                  </td>

                </tr>
                </tbody>


              </table>


              <div ng-show="tagSprint.id !== undefined && lookforUS() == false"
                   class = "table-sprints-empty-table-us">


                <div class="panel-sprints-empty">
                  <div class="container">
                  </div>
                </div>

                <div class="carousel-caption" >

                  <a class="btn btn-large btn-success" data-toggle="modal" data-target="#newUserStorySprintModal">
                    <i class="fa fa-plus"></i>
                    Add a new userstory
                  </a>
                </div>
              </div>






            </div> <!-- end panel-body-backlog-userstories-list -->
          </div> <!-- end panel-backlog-userstories-list -->
        </div> <!-- end row-backlog-userstories-list -->




      </div> <!-- end panel-body-backlog-userstories -->

    </div> <!-- panel-info-->
  </div> <!-- end row--->

</div><!-- end row-all-content :: !item.viewinDetail && tagTask.num == undefined"-->

<!------------------------------ end tables Sprint and US ---------------------------------------------->









<!------------------------ view detail US y related tasks ---------------------------------------------->




<!-- vista en detalle de userstory y sus relatedtasks -->
<div class="row row-all-content"  id="row-all-content2"
     ng-show="!item.viewTaskboard && tagSprint !== undefined && tagSprint.id !== undefined
              && tagUserstory !== undefined && tagUserstory.id !== undefined && item.viewinDetail
              && tagTask == -1"
     ng-include="'views/partials/usDetailsFromSprint.html'">
</div> <!--ng-show="item.viewinDetail" vista en detalle -->




<!-------------------------end view detail US y related tasks --------------------------------------------->


<!--------------------------------- view details tasks ------------------------------------------------>
<!--------------------------- con el mismo tenemos
                              que acceder con y sin tagUserstory.id:: por si venimos del
                              viewTaskboard::esta es nuestra variable magica::
                              luego si que asignamos tagUS y lo borramos si quitan nuestra tarea
                              y venimos de ahi
                              !item.viewTaskboard
                              -------------------------------------------------------------->


<div class="row row-all-content" id="row-all-content3"
     ng-show="tagSprint !== undefined && tagSprint.id !== undefined
              && tagUserstory !== undefined && tagUserstory.id !== undefined && item.viewinDetail
              && tagTask !== -1"
     ng-include="'views/partials/taskDetailsFromSprint.html'">

</div>




<!--------------------------------------- end view details tasks ---------------------------------------->




































<!--- ********** MODALS ************ -->


<!------------------------ new US modal ------------------------------------->

<div id="newUserStorySprintModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header" >


        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="initVarsNewUserstoryModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">New User Story</h4>
      </div>

      <div class="modal-body" >


        <div class="alert alert-danger" role="alert" ng-if="modalsError.messageNewUserstoryModal !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewUserstoryModal =''">
            <span aria-hidden="true">&times;</span>
          </button>
          {{modalsError.messageNewUserstoryModal}}

        </div>






        <!-- subject -->
        <div class="form-group">
          <label for="userstorySubject">Subject:</label>
          <input type="text" class="form-control" name="userstorySubjectTxt"
                 id="userstorySubject" placeholder="Enter Userstory Subject..."
                 ng-model="userstory.subject" autofocus>

          <div class="alert alert-danger" role="alert" ng-if="modalsError.messageNewUserstoryRequiredSubModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewUserstoryRequiredSubModal =''">
              <span aria-hidden="true">&times;</span>
            </button>
            {{modalsError.messageNewUserstoryRequiredSubModal}}

          </div>

        </div>



        <!-- points -->
        <div class="form-group">

          <div class="btn-group btn-group-justified">
            <label>UX</label>
            <label>Design</label>
            <label>Back</label>
            <label>Front</label>
          </div>



          <div class="btn-group btn-group-justified">

            <button uib-popover-template="dynamicPopover.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryUX"
                    popover="Popover 1">
              {{userstory.point.ux}}
            </button>

            <button uib-popover-template="dynamicPopoverDes.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryDes"
                    popover="Popover 2">
              {{userstory.point.design}}
            </button>

            <button uib-popover-template="dynamicPopoverFront.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryFront"
                    popover="Popover 3">
              {{userstory.point.front}}
            </button>

            <button uib-popover-template="dynamicPopoverBack.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default" id="userstoryBack"
                    popover="Popover 4">
              {{userstory.point.back}}
            </button>

          </div>




          <br>
          <label class="total-points">Total points: {{
            parseFloat(userstory.point.ux) +
            parseFloat(userstory.point.design) +
            parseFloat(userstory.point.front) +
            parseFloat(userstory.point.back) }}</label>


        </div> <!-- end form-group -->




        <!-- tags (separar con tabulador) -->
        <div class="form-group">
          <label for="userstoryTag"> Tags: </label>
          <br>

          <tags-input ng-model="userstory.tags" display-property="text"
                      placeholder="Tag me.."
                      replace-spaces-with-dashes="false"
                      id="userstoryTag">
          </tags-input>
        </div>



        <!-- descripcion -->
        <div class="form-group">
          <label for="userstoryDescr">Description:</label>
          <textarea class="form-control" id="userstoryDescr"
                    placeholder="Enter description to helps others better understand..."
                    ng-model="userstory.description">
          </textarea>
        </div>


        <!-- requirement:: checkbox type requirement-->
        <div class="form-group requirements">

          <div class="btn-group">
            <label class="btn btn-default" ng-model="userstory.requirement.team" uib-btn-checkbox>Team Requirement</label>
            <label class="btn btn-default" ng-model="userstory.requirement.client" uib-btn-checkbox>Client Requirement</label>
            <label class="btn btn-warning" ng-model="userstory.requirement.blocked" uib-btn-checkbox>Blocked</label>
          </div>

        </div>



        <!-- falta votes ?-->

      </div> <!-- end modal body -->



      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="btn-new-userstory" ng-click="createNewUserstory()"><span class="fa fa-floppy-o">
        </span> Create</button>

        <!-- inicializar variables -->
        <button type="button" class="btn btn-danger" id="btn-new-userstory-close" data-dismiss="modal" ng-click="initVarsNewUserstoryModal()">
          <span class="fa fa-remove"></span> Close</button>

      </div>
    </div>
  </div>
</div>






<!-- ---- New Sprint Modal ---- -->
<div id="newSprintModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header" >

        <!-- hay que cambiar el initVarsNewUserstoryModal() -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="initVarsNewSprintModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">New Sprint</h4>
      </div>

      <div class="modal-body" >


        <div class="alert alert-danger" role="alert" ng-show="modalsError.messageNewSprintModal !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewSprintModal =''">
            <span aria-hidden="true">&times;</span>
          </button>
          {{modalsError.messageNewSprintModal}}

        </div>


        <!-- name -->
        <div class="form-group">
          <label for="sprintName">Name:</label>
          <input type="text" class="form-control" name="sprintName"
                 id="sprintName" placeholder="Enter Sprint Name..."
                 ng-model="sprint.name" autofocus>

          <div class="alert alert-danger" role="alert" ng-show="modalsError.messageNewSprintRequiredNameModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewSprintRequiredNameModal =''">
              <span aria-hidden="true">&times;</span>
            </button>
            <!-- cambiar esto diciendo que necesita que elcampo este completo -->
            {{modalsError.messageNewSprintRequiredNameModal}}

          </div>

        </div>




        <div class="row">

          <div class="col-md-6">
            <label for="sprintStartDate">From:</label>
            <p class="input-group">

              <input type="text" class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="sprint.startdate"
                     is-open="popup1.opened"
                     datepicker-options="dateOptions"
                     ng-required="true"
                     close-text="Close"
                     show-button-bar="false"
                     id ="sprintStartDate"
                     readonly />

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>

          <div class="col-md-6">
            <label for="sprintEndDate">To:</label>
            <p class="input-group">

              <input type="text" class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="sprint.enddate"
                     is-open="popup2.opened"
                     datepicker-options="dateOptionsEnd"
                     ng-required="true"
                     close-text="Close"
                     show-button-bar="false"
                     id ="sprintEndDate"
                     readonly />

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>




        </div>

      </div> <!-- end modal body -->



      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="btn-new-sprint" ng-click="createNewSprint()"><span class="fa fa-floppy-o">
        </span> Create</button>

        <!-- inicializar variables -->
        <button type="button" class="btn btn-danger" id="btn-new-sprint-close" data-dismiss="modal" ng-click="initVarsNewSprintModal()">
          <span class="fa fa-remove"></span> Close</button>

      </div>
    </div>
  </div>
</div>



<!--------------------------------- select sprint to US modal------------------------------------------------>
<!-- hacemos 1 lista de sprints : # num name :start date end date ------------->

<div id="changeSprintToUserStoryModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header" >

        <!-- hay que cambiar el initVarsNewUserstoryModal() -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Move to Sprint</h4>
      </div>

      <div class="modal-body" >


        <!-- puede que no haya sprints creados , en esecaso lo dices -->
        <div class="alert alert-danger" role="alert"
             ng-show="rowCollectionSprints == undefined ||
             rowCollectionSprints == null ||
             rowCollectionSprints == '' ||
             rowCollectionSprints.length < 0 ">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
          Not sprints yet, create a new sprint...

        </div>



        <table class="table table-hover">
          <thead>

          <tr>

            <th class="table-cell23">
              <a ng-click="sortType = 'num'; sortReverse = !sortReverse">
                Sprints
                      <span ng-show="sortType == 'num'" class="fa"
                            ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
              </a>
            </th>

            <th class="table-cell23">
              <a ng-click="sortType = 'startdate'; sortReverse = !sortReverse">
                Start date
                      <span ng-show="sortType == 'startdate'" class="fa"
                            ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
              </a>
            </th>

            <th class="table-cell23">
              <a ng-click="sortType = 'enddate'; sortReverse = !sortReverse">
                Ending date
                      <span ng-show="sortType == 'enddate'" class="fa"
                            ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
              </a>
            </th>

          </thead>




          <tbody>
          <tr ng-repeat="row in rowCollectionSprints | orderBy:sortType:sortReverse"
              ng-show="row.id !== tagSprint.id">
            <!-- row -->
            <td data-ng-click="editSprintUserstory(row)" class="table-cell23">#{{row.num}} {{row.name}}</td>
            <td data-ng-click="editSprintUserstory(row)" class="table-cell23">{{row.startdate | amDateFormat:'ddd, MMM D, YYYY'}} </td>
            <td data-ng-click="editSprintUserstory(row)" class="table-cell23">{{row.enddate | amDateFormat:'ddd, MMM D, YYYY'}}</td>

          </tr>
          </tbody>


        </table>


      </div> <!-- end modal body -->


      <div class="modal-footer">

        <button type="button" class="btn btn-danger" id="btn-closed-choose-sprint" data-dismiss="modal">
          <span class="fa fa-remove"></span> Close</button>

      </div>
    </div>
  </div>
</div>







<!-- ---- Edit Sprint Modal ---- -->
<div id="editSprintModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header" >

        <!-- hay que cambiar el () initVarsEditSprintModal-->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="initVarsEditSprintModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">Edit Sprint</h4>
      </div>

      <div class="modal-body" >


        <div class="alert alert-danger" role="alert" ng-show="modalsError.messageEditSprintModal !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageEditSprintModal =''">
            <span aria-hidden="true">&times;</span>
          </button>
          {{modalsError.messageEditSprintModal}}

        </div>






        <!-- name -->
        <div class="form-group">
          <label for="sprintNameEdit">Name:</label>
          <input type="text" class="form-control" name="sprintName"
                 id="sprintNameEdit" placeholder="Enter Sprint Name..."
                 ng-model="tagSprintTemp.name">

          <div class="alert alert-danger" role="alert" ng-show="modalsError.messageEditSprintRequiredNameModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageEditSprintRequiredNameModal =''">
              <span aria-hidden="true">&times;</span>
            </button>
            <!-- cambiar esto diciendo que necesita que elcampo este completo -->
            {{modalsError.messageEditSprintRequiredNameModal}}

          </div>

        </div>




        <div class="row">

          <div class="col-md-6">
            <label for="tagSprintStartDate">From:</label>
            <p class="input-group">

              <input type="text" class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="tagSprintTemp.startdate"
                     is-open="popupEdit1.opened"
                     datepicker-options="dateEditOptions"
                     ng-required="true"
                     close-text="Close"
                     show-button-bar="false"
                     id ="tagSprintStartDate"
                     readonly />

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEdit1()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>

          <div class="col-md-6">
            <label for="tagSprintEndDate">To:</label>
            <p class="input-group">

              <input type="text" class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="tagSprintTemp.enddate"
                     is-open="popupEdit2.opened"
                     datepicker-options="dateEditOptionsEnd"
                     ng-required="true"
                     close-text="Close"
                     show-button-bar="false"
                     id ="tagSprintEndDate"
                     readonly />

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEdit2()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>




        </div>



      </div> <!-- end modal body -->



      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="btn-edit-sprint" ng-click="editSprint()"><span class="fa fa-floppy-o">
        </span> Edit</button>

        <!-- inicializar variables -->
        <button type="button" class="btn btn-danger" id="btn-edit-sprint-close" data-dismiss="modal" ng-click="initVarsEditSprintModal()">
          <span class="fa fa-remove"></span> Close</button>

      </div>
    </div>
  </div>
</div>



<!-- ---- New Related Task Modal ---- -->
<div id="newTaskSprintModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header" >

        <!-- hay que cambiar el initVarsNewUserstoryModal() -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="initVarsNewRelatedTaskModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">New Task</h4>
      </div>

      <div class="modal-body" >


        <div class="alert alert-danger" role="alert" ng-if="modalsError.messageNewRelatedTaskModal !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewRelatedTaskModal =''">
            <span aria-hidden="true">&times;</span>
          </button>
          {{modalsError.messageNewRelatedTaskModal}}

        </div>






        <!-- subject -->
        <div class="form-group">
          <label for="taskSubject">Subject:</label>
          <input type="text" class="form-control" name="taskSubjectTxt"
                 id="taskSubject" placeholder="Enter Task Subject..."
                 ng-model="task.subject">

          <div class="alert alert-danger" role="alert" ng-if="modalsError.messageNewRelatedTaskRequiredSubModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewRelatedTaskRequiredSubModal =''">
              <span aria-hidden="true">&times;</span>
            </button>
            <!-- cambiar esto diciendo que necesita que elcampo este completo -->
            {{modalsError.messageNewRelatedTaskRequiredSubModal}}

          </div>

        </div>



        <!-- status
        luego poner
        ng-show="tagUserstory.sprint !== null && !== undefined && !== ''"
        -->
        <div class="form-group">
          <oi-select oi-options="item for item in statics.status track by item"
                     ng-model="task.status"
                     required></oi-select>
        </div>



        <!-- descripcion -->
        <div class="form-group">
          <label for="taskDescr">Description:</label>
          <textarea class="form-control" id="taskDescr"
                    placeholder="Enter description to helps others better understand..."
                    ng-model="task.description">
          </textarea>
        </div>




        <div class="form-group requirements-task">
          <div class="btn-group">
            <label type='button' class="btn btn-warning" ng-model="task.requirement.blocked" uib-btn-checkbox>Blocked</label>
            <label type='button' class="btn btn-info" ng-model="task.requirement.iocaine" uib-btn-checkbox>Support</label>

          </div>

        </div>






      </div> <!-- end modal body -->



      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="btn-new-related-task" ng-click="createNewRelatedTaskFromSprint()"><span class="fa fa-floppy-o">
        </span> Create</button>

        <!-- inicializar variables -->
        <button type="button" class="btn btn-danger" id="btn-new-related-task-close" data-dismiss="modal" ng-click="initVarsNewRelatedTaskModal()">
          <span class="fa fa-remove"></span> Close</button>

      </div>
    </div>
  </div>
</div>





