

<div class="panel panel-info" id="panel-detail-userstory">

  <!-- le hacemos flexbox y metemos colums -->
  <div class="panel-body panel-body-detail-userstory" id="panel-body-detail-userstory">

    <!-- esto sería la cabecera con votar, subject y puntos -->
    <!-- tmbn flex pero de rows -->

    <div class="summary-header-detail-userstory-parent">

      <div class="summary-header-detail-userstory">

        <div class="summary-detail-view">

              <span class="votes">{{tagUserstory.voters.length}}
              </span>
          <i ng-click="editVoteUserstory(0)" ng-show="!tagUserstoryTemp.disableVote" class="fa fa-plus"></i>
          <i ng-click="editVoteUserstory(1)" ng-show="tagUserstoryTemp.disableVote" class="fa fa-minus"></i>

        </div>

        <div class="summary-detail-view1">
          <span class="subject">#{{tagUserstory.num}}</span>

        </div>

        <div class="summary-detail-view2">
          <!--<span class="subject">Añadir un userstory con scrum en el canal con scrum diemdo tu llepa</span>-->
              <span class="subject" editable-text="tagUserstory.subject" e-required onbeforesave="editSubjectUserstory($data, tagUserstory)">
                                  {{ tagUserstory.subject || 'empty' }}
                                     </span>
        </div>

        <div class="summary-detail-view3">
              <span class="nextuserstory">
                <i class="fa fa-angle-right fa-lg"></i>
              </span>
        </div>

      </div><!-- end div summary-header-detail-userstory -->


      <div class="summary-detail-body1">
        <div class="created-by">
          <p> Created by
            <a ng-click=""> {{tagUserstory.createdby.username}}
            </a>
          </p>
          <p> {{tagUserstory.datetime | date:'medium'}}</p>
        </div>

        <div>
          <img
            ng-src="http://www.gravatar.com/avatar/{{getHash(tagUserstory.createdby.mail)}}?s=50&d=identicon"
            alt="User Avatar"
            class="avatar" id="img-circle"/>
        </div>

        <div class="view-task-detail-userstory">

          <button class="btn related-tasks" type="button" ng-click ="viewRelatedTasksUserstory()">


            <span ng-click="goBackFromDetailUS()" class="pull-left"
                  aria-hidden="true">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>

              </span>


            Related tasks


            <span ng-show="tagUserstory.tasks !== undefined &&
                                tagUserstory.tasks !== null && tagUserstory.tasks !== '' &&
                                tagUserstory.tasks.length > 0"
                  class="badge badge-warning pull-center">{{tagUserstory.tasks.length}}</span>


            <span
              ng-class="item.viewRelatedTasks ? 'glyphicon glyphicon glyphicon-chevron-up' :'glyphicon glyphicon glyphicon-chevron-down'"
              aria-hidden="true">

            </span>



          </button>
        </div>


      </div>

    </div> <!-- end div summary-header-detail-userstory-parent -->







    <div class="summary-body-detail-userstory animate-show" ng-hide="item.viewRelatedTasks">
      <!-- aqui metemos los datos y ademas metemos tags-->
      <!-- aqui dentro hay que seguir haciendo columnas -->

      <div class="summary-detail-body2">
        <div class="form-group">

          <div class="btn-group btn-group-justified">
            <label>UX</label>
            <label>Design</label>
            <label>Back</label>
            <label>Front</label>
          </div>


          <div class="btn-group btn-group-justified">
            <button uib-popover-template="dynamicPopoverEdit.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default"
                    popover="Popover 1">
              {{tagUserstory.point.ux}}
            </button>

            <button uib-popover-template="dynamicPopoverDesEdit.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default"
                    popover="Popover 2">
              {{tagUserstory.point.design}}
            </button>

            <button uib-popover-template="dynamicPopoverFrontEdit.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default"
                    popover="Popover 3">
              {{tagUserstory.point.front}}
            </button>

            <button uib-popover-template="dynamicPopoverBackEdit.templateUrl" popover-placement="bottom"
                    type="button" class="btn btn-default"
                    popover="Popover 4">
              {{tagUserstory.point.back}}
            </button>
          </div>




          <br>
          <label class="total-points">Total points: {{
            parseFloat(tagUserstory.point.ux) +
            parseFloat(tagUserstory.point.design) +
            parseFloat(tagUserstory.point.front) +
            parseFloat(tagUserstory.point.back) }}</label>


        </div> <!-- end form-group -->


      </div>

      <div class="summary-detail-body3">
        <div class="form-group">
          <label for="userstoryTag"> Tags: </label>
          <br>

          <tags-input id="userstoryTag"
                      ng-model="tagUserstoryTemp.tags" display-property="text"
                      placeholder="Tag me.."
                      replace-spaces-with-dashes="false"
                      on-tag-added="onAddedTag($tag)"
                      on-tag-removed="onRemovedTag($tag)">
          </tags-input>
        </div>
      </div>

      <div class="summary-detail-body4">
        <div class="form-group">
          <label for="userstoryDescr">Description:</label>
          <p id="userstoryDescr" editable-textarea="tagUserstory.description"
             e-required
             onbeforesave="editDescriptionUserstory($data, tagUserstory)">
            {{ tagUserstory.description || 'Enter description to helps others better understand...' }}

          </p>
        </div>
      </div>


      <div class="summary-detail-body5">
        <div class="form-group requirements">

          <div class="btn-group">
            <label type='button' ng-click="editRequirementUserstory(0)" class="btn btn-default" ng-model="tagUserstory.requirement.team" uib-btn-checkbox>Team Requirement</label>
            <label type='button' ng-click="editRequirementUserstory(1)" class="btn btn-default" ng-model="tagUserstory.requirement.client" uib-btn-checkbox>Client Requirement</label>
            <label type='button' ng-click="editRequirementUserstory(2)" class="btn btn-warning" ng-model="tagUserstory.requirement.blocked" uib-btn-checkbox>Blocked</label>
          </div>

        </div>

      </div>



    </div> <!-- end view detail -->







    <!-- start view related tasks viewRelatedTasksUserstory-->

    <div class="summary-body-detail-userstory animate-show" ng-show="item.viewRelatedTasks && tagUserstory.tasks.length == 0">
      <!-- queremos 1 div de carrousel si no hay userstories -->

      <div class="panel-tasks-empty">
        <div class="container">
        </div>
      </div>

      <div class="carousel-caption">
        <a class="btn btn-large btn-success" data-toggle="modal" data-target="#newTaskModal">
          <i class="fa fa-plus"></i>
          Add a new task
        </a>
      </div>


    </div>
    <!-- sto se muestra si no hay tasks --------------------------------------->

    <!-- si hay tasks mostramos 1 tabla --------------------------------------->
    <div class="summary-body-detail-userstory animate-show" id="summary-body-detail-userstory"
         ng-show="item.viewRelatedTasks && tagUserstory.tasks.length > 0" >

      <!--<a class="btn btn-large btn-success" data-toggle="modal" data-target="#newTaskModal">
        <i class="fa fa-plus"></i>
        Add a new task
      </a>-->


      <div class="panel-body panel-body-backlog-tasks-new-btn">
        <form>
          <div class="form-group">
            <div class="input-group">


                      <span class="input-group-btn">
                          <button class="btn btn-primary" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                      </span>

                      <span class="input-group-btn">
                        <oi-select
                          oi-options="item.name for item in comboOptionsTasks track by item.name"
                          ng-model="comboOptionsSelectedTask" ng-change="clearValuesofSearchTask(comboOptionsSelectedTask.num)">
                        </oi-select>
                      </span>


              <input ng-show="comboOptionsSelectedTask.num == 0" type="text" class="form-control searchTask" placeholder="Search by all fields" ng-model="searchTask.$"/>
              <input ng-show="comboOptionsSelectedTask.num == 1" type="text" class="form-control searchTask" placeholder="Search by subject" ng-model="searchTask.subject"/>

              <input ng-show="comboOptionsSelectedTask.num == 2" type="text" class="form-control searchTask" placeholder="Search by status" ng-model="searchTask.status"/>
              <input ng-show="comboOptionsSelectedTask.num == 3" type="text" class="form-control searchTask" placeholder="Search by members that assigned tasks" ng-model="searchTaskAssignedto"/>

              <!-- ng-model="searchTask.assignedto" -->


              <!-- no hay seleccionados -->
                      <span ng-show="tableCells.selected.length == 0" class="input-group-btn">
                        <div class="input-group-btn">
                          <button class="btn btn-success" type="button" data-toggle="modal" data-target="#newTaskModal">
                            <i class="fa fa-plus"></i>
                            Add a new task
                          </button>
                        </div>
                      </span>



                      <span ng-show="tableCells.selected.length > 0" class="input-group-btn">
                        <div class="input-group-btn">
                          <button class="btn btn-danger" type="button" ng-click="removeTasks()">
                            <i class="fa fa-trash"></i>
                            Delete
                          </button>

                        </div>
                      </span>





            </div>
          </div>
        </form>
      </div>


      <table class="table table-without-margin">
        <thead>
        <tr>


          <th class="table-cell01">
            <input type="checkbox" ng-click="checkAllNone(1)"
                   ng-checked="ischeckedAllCells">
          </th>

          <!--
                        <th class="table-cell05">
                          <a href="" ng-click="sortType = 'voters'; sortReverse = !sortReverse">
                            Votes
                            <span ng-show="sortType == 'voters'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                          </a>
                        </th>
                        -->


          <th class="table-cell4">
            <a ng-click="sortType = 'num'; sortReverse = !sortReverse">
              Task
              <span ng-show="sortType == 'num'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>


                  <span ng-show="tableCells.selected.length > 0"
                        class="badge badge-warning pull-left">{{tableCells.selected.length}}</span>
            </a>

          </th>
          <th class="table-cell15">
            <a ng-click="sortType = 'status'; sortReverse = !sortReverse">
              Status
              <span ng-show="sortType == 'status'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
            </a>
          </th>

          <th class="table-cell14">
            <a ng-click="sortType = 'assignedto.username'; sortReverse = !sortReverse">
              Assigned to
              <span ng-show="sortType == 'assignedto.username'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
            </a>
          </th>


        </tr>
        </thead>


        <tbody>


        <!--ng-show="row.sprint == undefined "
        searchTask.status
        searchTaskAssignedto


        filter: (comboOptionsSelected.num == 3 ? FilterFunction : searchUS)
        searchTask


        filter: (comboOptionsSelected.num == 3 ? {prueba : searchTaskAssignedto} : searchTask)
        -->
        <tr
          data-ng-repeat="row in tagUserstory.tasks | orderBy:sortType:sortReverse | filter:searchTask"
          ng-class="row.selectedCell ? 'cellSelectedClass' : ''"
          ng-hide="comboOptionsSelected.num == 3 && !FilterFunction(row)">


          <td class="table-cell01" ng-class="row.status == 'New' ? 'status-new' :
                              (row.status == 'In progress' ? 'status-in-progress' :
                               (row.status == 'Closed' ? 'status-closed' :'status-ready-for-test'))">
            <input type="checkbox" data-checklist-model="tableCells.selected" data-checklist-value="row" ng-click="changeCheckedTableCell(row)">
            <!--cellSelectedClass -->
          </td>



          <td data-ng-click="viewDetailsTask(row, $index)" class="table-cell4"
              ng-class="row.status == 'Closed' ? 'status-closed' : ''">
            #{{row.num}} {{row.subject}}
          </td>
          <td data-ng-click="viewDetailsTask(row,$index)" class="table-cell15">{{row.status}}</td>


          <!-- assignedto es 1 json -->
          <td ng-show="row.assignedto !== undefined && row.assignedto.id !== undefined" data-ng-click="changeTaskAssignedtoWithUnassigned(row, $index)" class="table-cell14">
            <img
              ng-src="http://www.gravatar.com/avatar/{{getHash(row.assignedto.mail)}}?s=50&d=identicon"
              alt="User Avatar"
              class="avatarin"/>
            <p>{{row.assignedto.username}}</p>
          </td>

          <td ng-show="row.assignedto == undefined || row.assignedto.id == undefined" data-ng-click="changeTaskAssignedto(row, $index)" class="table-cell14">
            <img
              ng-src="http://www.gravatar.com/avatar/{{getHash('internalUser@localhost')}}?s=50&d=identicon"
              alt="User Avatar"
              class="avatar"/>
            <p>{{row.assignedto.username || 'Not assigned'}}</p>

          </td>


        </tr>
        </tbody>


      </table>


    </div><!-- summaery-body-detail-uerstory:: tasks -->
    <!-- end view related tasks viewRelatedTasksUserstory -->



  </div>  <!-- end panel body:: flexbox con columns, que en realidad son filas -->
</div>   <!-- end panel-info -->
<!-- </div>     <!-- end row:: row-detail-subject -->







<!------------------------- MODALS ----------------------------------------------------->


<!-- ---- New Related Task Modal ---- -->
<div id="newTaskModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header" >

        <!-- hay que cambiar el initVarsNewUserstoryModal() -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ng-click="initVarsNewRelatedTaskModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">New Task</h4>
      </div>

      <div class="modal-body" >


        <div class="alert alert-danger" role="alert" ng-if="modalsError.messageNewRelatedTaskModal !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewRelatedTaskModal =''">
            <span aria-hidden="true">&times;</span>
          </button>
          {{modalsError.messageNewRelatedTaskModal}}

        </div>






        <!-- subject -->
        <div class="form-group">
          <label for="taskSubject">Subject:</label>
          <input type="text" class="form-control" name="taskSubjectTxt"
                 id="taskSubject" placeholder="Enter Task Subject..."
                 ng-model="task.subject" autofocus>

          <div class="alert alert-danger" role="alert" ng-if="modalsError.messageNewRelatedTaskRequiredSubModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="modalsError.messageNewRelatedTaskRequiredSubModal =''">
              <span aria-hidden="true">&times;</span>
            </button>
            <!-- cambiar esto diciendo que necesita que elcampo este completo -->
            {{modalsError.messageNewRelatedTaskRequiredSubModal}}

          </div>

        </div>



        <!-- status
        luego poner
        ng-show="tagUserstory.sprint !== null && !== undefined && !== ''"
        -->
        <div class="form-group">
          <label for="taskStatus">Status:</label>
          <oi-select oi-options="item for item in statics.status track by item"
                     ng-model="task.status"
                     id="taskStatus"
                     required></oi-select>
        </div>



        <!-- descripcion -->
        <div class="form-group">
          <label for="taskDescr">Description:</label>
          <textarea class="form-control" id="taskDescr"
                    placeholder="Enter description to helps others better understand..."
                    ng-model="task.description">
          </textarea>
        </div>




        <div class="form-group requirements-task">
          <div class="btn-group">
            <label type='button' class="btn btn-warning" ng-model="task.requirement.blocked" uib-btn-checkbox>Blocked</label>
            <label type='button' class="btn btn-info" ng-model="task.requirement.iocaine" uib-btn-checkbox>Support</label>

          </div>

        </div>






      </div> <!-- end modal body -->



      <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="btn-new-related-task" ng-click="createNewRelatedTask()"><span class="fa fa-floppy-o">
        </span> Create</button>

        <!-- inicializar variables -->
        <button type="button" class="btn btn-danger" id="btn-new-related-task-close" data-dismiss="modal" ng-click="initVarsNewRelatedTaskModal()">
          <span class="fa fa-remove"></span> Close</button>

      </div>
    </div>
  </div>
</div>
