<div class="modal-header">
  <h3 class="modal-title">New Answer</h3>
</div>
<div class="modal-body">
  <form>
    <fieldset class="form-group">
      <label>Add your answer:</label>
      <text-angular ng-model="answer"></text-angular>
    </fieldset>
  </form>
  <div class="text-danger" ng-show="errorMessage">
    <strong>{{errorMessage}}</strong>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
</div>
