<div class="modal-header">
  <h3 class="modal-title">Create Question</h3>
</div>
<div class="modal-body">
  <form>
    <fieldset class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" ng-model="title">
    </fieldset>
    <fieldset class="form-group">
      <label>Ask your question:</label>
      <text-angular ng-model="question"></text-angular>
    </fieldset>
  </form>
  <div class="text-danger" ng-show="errorMessage">
    <strong>{{errorMessage}}</strong>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
</div>
