
<div class="content">


 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" id="menu">

                <li class="sidebar-brand">

          <a href=""><img id="avatar" src="images/yeoman.png" class="profile-image img-circle">
            {{username}}
          </a>
        </li>
        <li class="active">
          <a class="btn btn-primary" href="" aria-expanded="true">Groups<i class="fa fa-group fa-fw"></i></a>

          <ul aria-expanded="true" class="emphasis cgroups">

            <li ng-repeat="group in groups" ng-if="groups.length > 0">
              <a ng-click="selectGroup(group)">
                {{group.groupName}}
              </a></li>

            <!----  add group ------>
            <li>
              <a href="" class=""><span class="fa fa-plus"></span><span class=""> </span>Add new group</a>
              <ul aria-expanded="false" class="emphasis" id="ulNewGroup" name="ulNewGroup">
                <li><input class="form-control" type="text" placeholder="Group Name" id="groupName" ng-model="group.groupName"></li>
                <li><a class="btn btn-primary" type="input" href="" ng-click="createNewGroup(group)"><i class="fa fa-floppy-o"></i></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-------separator------->
        <li class="activeChannels">
          <a class="btn btn-primary" href="" aria-expanded="false">Channels<i class="fa fa-comment fa-fw"></i></a>
          <ul aria-expanded="false">
            <li class="activeChannelsPublic active">
              <a href="" class="btn btn-danger" aria-expanded="false">Public<span class="fa fa-chevron-down"></span></a>
              <ul class="emphasis" aria-expanded="false">
                <li ng-repeat="channel in publicChannels" ng-if="publicChannels.length > 0">
                  <a ng-click="selectChannel(channel)">
                  {{channel.channelName}}
                </a></li>
              </ul>
            </li>
            </li>
            <li>
              <a href="" class="btn btn-danger">Private<span class="fa fa-chevron-down"></span></a>
              <ul class="emphasis">

                <li ng-repeat="channel in privateChannels" ng-if="privateChannels.length > 0"><a
                  ng-click="selectChannel(channel)">
                  {{channel.channelName}}
                </a></li>
              </ul>
            </li>
            <!----  add channel ------>
            <li>
              <a href="" class=""><span class="fa fa-plus"></span><span class=""> </span>Add new channel</a>
              <ul aria-expanded="false" class="emphasis" id="ulNewChannel" name="ulNewChannel">
                <li><input class="form-control" type="text" placeholder="Channel Name..." id="channelName" ng-model="channel.channelName"></li>
                <li><input class="form-control" type="text" placeholder="Channel Type..." id="channelType" ng-model="channel.channelType"></li>
                <li><a class="btn btn-primary" type="input" href="" ng-click="createNewChannel(channel)"><i class="fa fa-floppy-o"></i></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-------separator------->
        <li class="activeMembers">
          <a class="btn btn-primary" href="" aria-expanded="false">Members<i class="fa fa-user fa-fw"></i></a>

          <ul aria-expanded="true" class="emphasis">
            <!-- dependiendo si esta en online un icono u otro::: fa fa-heart-o || fa fa-heart -->

            <li ng-repeat="member in members" ng-if="members.length > 1" ng-show= "member.id != userid"><a ng-click=""><span
              class="fa fa-heart-o"></span>
              {{member.username}}
            </a></li>


            <!----  invite user ------>
            <li><a href="" class="c-align-left"><span class="fa fa-plus"></span><span class=""> </span>Invite new
              user</a></li>
          </ul>
        </li>

      </ul>
    </div>


    <a href="#menu-toggle" class="btn btn-default glyphicon glyphicon-th-list" id="menu-toggle"></a>

    <!--	 <a href="" class="btn btn-default glyphicon glyphicon-cog" id="menu-toggle2"></a>  -->


    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">


          <div class="panel panel-info">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-comment"></span> Chat
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <ul class="dropdown-menu slidedown">
                  <li><a href=""><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                  <li><a href=""><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                  <li><a href=""><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                  <li><a href=""><span class="glyphicon glyphicon-time"></span>
                    Away</a></li>
                  <li class="divider"></li>
                  <li><a href=""><span class="glyphicon glyphicon-off"></span>
                    Sign Out</a></li>
                </ul>
              </div>
            </div>


            <div ng-if="error" class="alert alert-danger" id="alert" role="alert">
              <strong>¡Oh snap!</strong> {{error}}.
              <a ng-click="logout()" class="alert-link">Login Again</a>
            </div>


            <div class="panel-body">
              <ul class="chat">
                <li class="text-left" ng-show="listaMensajes.length > 0"><strong>>>>ESTATICO</strong></li>

                <li ng-show="listaMensajes.length > 0" class="left clearfix">
                          <span class="chat-img pull-left">
                              <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle"/>
                          </span>

                  <div class="chat-body clearfix">
                    <div class="header">
                      <strong class="primary-font">c-moro</strong>
                      <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>14 mins ago
                      </small>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                      dolor, quis ullamcorper ligula sodales.
                    </p>
                  </div>
                </li>
                <li ng-show="listaMensajes.length > 0" class="right clearfix">
                          <span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle"/>
                        </span>

                  <div class="chat-body clearfix">
                    <div class="header">
                      <small class="text-muted">
                        <span class="glyphicon glyphicon-time"></span>13 mins ago
                      </small>
                      <strong class="pull-right primary-font">1izpena</strong>
                    </div>
                    <p class="text-left">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                      dolor, quis ullamcorper ligula sodales.
                    </p>
                  </div>
                </li>
                <li ng-show="listaMensajes.length > 0" class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle"/>
                        </span>

                  <div class="chat-body clearfix">
                    <div class="header">
                      <strong class="primary-font">c-moro</strong>
                      <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>14 mins ago
                      </small>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                      dolor, quis ullamcorper ligula sodales.
                    </p>
                  </div>
                </li>
                <li ng-show="listaMensajes.length > 0" class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle"/>
                        </span>

                  <div class="chat-body clearfix">
                    <div class="header">
                      <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                      <strong class="pull-right primary-font">1izpena</strong>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                      dolor, quis ullamcorper ligula sodales.
                    </p>
                  </div>
                </li>
<br><br>
<li ng-show="listaMensajes.length > 0" class="text-left"><strong>>>>MENSAJES CENTRADOS</strong></li>
                <li ng-repeat="msg in listaMensajes"
                    ng-class="($storage.id==msg.user.id) ? 'right clearfix' : 'left clearfix'">
                          <span ng-class="($storage.id==msg.user.id) ? 'chat-img pull-right' : 'chat-img pull-left'">
                            <img
                              ng-src="http://placehold.it/50/{{($storage.id!=msg.user.id)?'55C1E7':'FA6F57'}}/fff&text={{msg.user.username | limitTo:2 | uppercase }}"
                              alt="User Avatar" class="img-circle"/>
                          </span>

                  <div class="chat-body clearfix">
                    <div class="header" ng-show="$storage.id!=msg.user.id">
                      <strong class="primary-font">{{msg.user.username}}</strong>
                      <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>
                        <span am-time-ago="msg.date"></span>
                      </small>
                    </div>
                    <div class="header" ng-show="$storage.id==msg.user.id">
                      <small class="text-muted">
                        <span class="glyphicon glyphicon-time"></span>
                        <span am-time-ago="msg.date"></span>
                      </small>
                      <strong class="pull-right primary-font">{{msg.user.username}}</strong>
                    </div>
                    <p ng-show="msg.messageType=='TEXT'">
                      {{msg.text}}
                    </p>

                    <p ng-show="msg.messageType=='FILE'">
                      DESCARGAR FICHERO {{msg.text}}
                    </p>
                  </div>
                </li>
                <br><br>
                <li ng-show="listaMensajes.length > 0" class="text-left"><strong>>>>MENSAJES IZQUIERDA y
                  DERECHA</strong></li>

                <li ng-repeat="msg in listaMensajes"
                    ng-class="($storage.id==msg.user.id) ? 'right clearfix' : 'left clearfix'">
                          <span ng-class="($storage.id==msg.user.id) ? 'chat-img pull-right' : 'chat-img pull-left'">
                            <img
                              ng-src="http://placehold.it/50/{{($storage.id!=msg.user.id)?'55C1E7':'FA6F57'}}/fff&text={{msg.user.username | limitTo:2 | uppercase }}"
                              alt="User Avatar" class="img-circle"/>
                          </span>

                  <div class="chat-body clearfix">
                    <div class="header text-left" ng-show="$storage.id!=msg.user.id">
                      <strong class="primary-font">{{msg.user.username}}</strong>
                      <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>
                        <span am-time-ago="msg.date"></span>
                      </small>
                    </div>
                    <div class="header text-left" ng-show="$storage.id==msg.user.id">
                      <small class="text-muted">
                        <span class="glyphicon glyphicon-time"></span>
                        <span am-time-ago="msg.date"></span>
                      </small>
                      <strong class="pull-right primary-font">{{msg.user.username}}</strong>
                    </div>
                    <p class="text-left" ng-show="msg.messageType=='TEXT'">
                      {{msg.text}}
                    </p>

                    <p class="text-left" ng-show="msg.messageType=='FILE'">
                      DESCARGAR FICHERO {{msg.text}}
                    </p>
                  </div>
                </li>
                <br><br>
                <li ng-show="listaMensajes.length > 0" class="text-left"><strong>>>>MENSAJES IZQUIERDA</strong></li>

                <li ng-repeat="msg in listaMensajes"
                    class="left clearfix">
                          <span class="chat-img pull-left">
                            <img
                              ng-src="http://placehold.it/50/{{($storage.id!=msg.user.id)?'55C1E7':'FA6F57'}}/fff&text={{msg.user.username | limitTo:2 | uppercase }}"
                              alt="User Avatar" class="img-circle"/>
                          </span>

                  <div class="chat-body clearfix">
                    <div class="header text-left">
                      <strong class="primary-font">{{msg.user.username}}</strong>
                      <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>
                        <span am-time-ago="msg.date"></span>
                      </small>
                    </div>
                    <p class="text-left" ng-show="msg.messageType=='TEXT'">
                      {{msg.text}}
                    </p>

                    <p class="text-left" ng-show="msg.messageType=='FILE'">
                      DESCARGAR FICHERO {{msg.text}}
                    </p>
                  </div>
                </li>
                <br><br>

              </ul>
            </div>
            <div class="panel-footer">
              <div class="input-group">

			<span class="input-group-btn">

			   <div class="dropup">
           <button type="button" class="btn btn-success glyphicon glyphicon-plus btn-sm" id="btn-chat-choose"
                   data-toggle="dropdown" ng-disabled="!channelSelected" >
           </button>

           <ul class="dropdown-menu slidedown">
             <li>
               <input type="file" id="uploadFile" name="uploadFile"
                      file="file" upload-fn="uploadFile()" style="display: none"/>
               <a id="uploadHref">
                 <span class="glyphicon glyphicon-file"></span>Upload a file
               </a>
             </li>

             <li class="divider"></li>
             <li><a href=""><span class="glyphicon glyphicon-question-sign">
		                    </span>Create a question</a></li>
           </ul>

         </div>
                        </span>


                <input id="btn-input" type="text" class="form-control input-sm"
                       placeholder="{{(channelSelected)?'Type your message here...':'Select a channel ...'}}"
                       ng-model="text"/>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat"
                                    ng-disabled="!channelSelected" ng-click="sendText()">
                              Send
                            </button>
                        </span>
              </div>
            </div>


          </div>
          <!-- /#panel panel-info -->


        </div>
        <!-- /#row -->
      </div>
      <!-- /#container-fluid -->
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


</div>

<script src="scripts/myscripts.js"></script>
<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  $("#menu").metisMenu2({

  });

  // Upload file using href
  $("#uploadHref").click(function () {
    $("#uploadFile").trigger('click');
  });






</script>


<link rel="stylesheet" ng-href="styles/chat2.css">


<!---------- este es necesario -------------------------->
<!---------- formato -------------------------->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<!---------- iconos -------------------------->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">




