
<div class="chatContainer">


 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" >
            <ul class="sidebar-nav" id="menu" ng-hide="error">

                <li class="sidebar-brand">

                    <a href=""><img id="avatar" src="images/yeoman.png" class="profile-image img-circle">
                      {{username}}
                    </a>
                </li>



        <li class="activeInvitations" ng-show="invitations.length > 0">
          <a class="btn btn-warning" href="" aria-expanded="true">Invitations<i class="fa fa-exclamation-triangle fa-fw"></i></a>
          <ul aria-expanded="true" class="emphasis">
            <li ng-repeat="invitation in invitations" ng-if="invitations.length > 0">
              {{invitation.groupname}}


              <div class="btn-group">
                <a ng-click="acceptGroup(invitation)" class="btn btn-success fa fa-thumbs-o-up"></a>
                <a ng-click="refuseGroup(invitation)" class="btn btn-danger fa fa-thumbs-o-down"></a>
              </div>

            </li>


          </ul>
        </li>




        <li class="active">
          <a class="btn btn-primary" href="" aria-expanded="true">Groups<i class="fa fa-group fa-fw"></i></a>
          <ul aria-expanded="true" class="emphasis cgroups">
            <li ng-repeat="group in groups" ng-if="groups.length > 0">
              <span class="input-group-btn pull-left">
                <div class="dropdown">
                  <button type="button" id="btn-group-settings" name="btn-group-settings" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <span><i class="fa fa-gear"></i></span>
                  </button>
                  <ul class="dropdown-menu slidedown">
                    <li><a href="" class="fa fa-pencil-square-o" data-toggle="modal" data-target="#editGroupModal" ng-click="selectGroup(group)"> Edit group</a></li>
                  </ul>
                </div>
              </span>
              <a ng-click="selectGroup(group)">
                {{group.groupName}}
              </a></li>
            <!----  add group ------>
            <li>
              <a href="" class="" data-toggle="modal" data-target="#newGroupModal"><span class="fa fa-plus"></span> Add new Group</a>
            </li>
          </ul>
        </li>
        <!----separator------>
        <li class="activeChannels">
          <a class="btn btn-primary" href="" aria-expanded="false" ng-show= "tagGroup !==undefined">Channels<i class="fa fa-comment fa-fw"></i></a>
          <ul aria-expanded="false">
            <li class="activeChannelsPublic active">
              <a href="" class="btn btn-danger" aria-expanded="false">Public<span class="fa fa-chevron-down"></span></a>
              <ul class="emphasis" aria-expanded="false">
                <li ng-repeat="channel in publicChannels" ng-if="publicChannels.length > 0">
                  <span class="input-group-btn pull-left">
                    <div class="dropdown">
                      <button type="button" id="btn-public-channel-settings" name="btn-public-channel-settings" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <span><i class="fa fa-gear"></i></span>
                      </button>
                      <ul class="dropdown-menu slidedown">
                        <li><a href="" class="fa fa-pencil-square-o" data-toggle="modal" data-target="#editChannelModal" ng-click="selectChannel(channel)"> Edit channel</a></li>
                        <li><a href="" class="fa fa-users" data-toggle="modal" data-target="#channelMemberInfoModal" ng-click="selectChannel(channel)"> Members</a></li>
                        <li><a href="" class="fa fa-times" data-toggle="modal" data-target="#deleteChannelModal" ng-click="selectChannel(channel)"> Delete channel</a></li>
                        <li><a href="" class="fa fa-user-times" data-toggle="modal" data-target="#deleteUserFromChannelModal" ng-click="selectChannel(channel)"> Delete user</a></li>
                        <li><a href="" class="fa fa-user-times" data-toggle="modal" data-target="#unsuscribeFromChannelModal" ng-click="selectChannel(channel)"> Unsuscribe</a></li>
                        <li><a href="" class="fa fa-user-plus" data-toggle="modal" data-target="#addUserToChannelModal" ng-click="selectChannel(channel)"> Add user</a></li>
                      </ul>
                    </div>
                  </span>
                  <a ng-click="selectChannel(channel)">
                    {{channel.channelName}}
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" class="btn btn-danger">Private<span class="fa fa-chevron-down"></span></a>
              <ul class="emphasis">
                <li ng-repeat="channel in privateChannels" ng-if="privateChannels.length > 0">
                  <span class="input-group-btn pull-left">
                    <div class="dropdown">
                      <button type="button" id="btn-private-channel-settings" name="btn-private-channel-settings" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" ng-click="selectChannel(channel)">
                        <span><i class="fa fa-gear"></i></span>
                      </button>
                      <ul class="dropdown-menu slidedown">
                        <li><a href="" class="fa fa-pencil-square-o" data-toggle="modal" data-target="#editChannelModal" ng-click="selectChannel(channel)"> Edit channel</a></li>
                        <li><a href="" class="fa fa-users" data-toggle="modal" data-target="#channelMemberInfoModal" ng-click="selectChannel(channel)"> Members</a></li>
                        <li><a href="" class="fa fa-times" data-toggle="modal" data-target="#deleteChannelModal" ng-click="selectChannel(channel)"> Delete channel</a></li>
                        <li><a href="" class="fa fa-user-times" data-toggle="modal" data-target="#deleteUserFromChannelModal" ng-click="selectChannel(channel)"> Delete user</a></li>
                        <li><a href="" class="fa fa-user-times" data-toggle="modal" data-target="#unsuscribeFromChannelModal" ng-click="selectChannel(channel)"> Unsuscribe</a></li>
                        <li><a href="" class="fa fa-user-plus" data-toggle="modal" data-target="#addUserToChannelModal" ng-click="selectChannel(channel)"> Add user</a></li>
                      </ul>
                    </div>
                  </span>
                  <a ng-click="selectChannel(channel)">
                    {{channel.channelName}}
                  </a>
                </li>
              </ul>
            </li>
            <!----  add channel ------>
            <li>
              <a href="" class="" data-toggle="modal" data-target="#newChannelModal"><span class="fa fa-plus"></span> Add new channel</a>
            </li>
          </ul>
        </li>
        <!-------separator------>
        <li class="activeMembers">
          <a href="" class="btn btn-primary" aria-expanded="false" ng-show= "tagGroup !==undefined">Direct Messages<i class="fa fa-user fa-fw"></i></a>

          <ul aria-expanded="true" class="emphasis">
            <!-- dependiendo si esta en online un icono u otro::: fa fa-heart-o || fa fa-heart -->

            <li ng-repeat="member in members" ng-if="members.length > 1" ng-show= "member.id != userid">
              <a ng-click="searchDirectChannel(member)">
                <span ng-class="(isConnected(member.id))?'fa fa-heart':'fa fa-heart-o'"></span>
                {{member.username}}
              </a>
            </li>


            <!----  invite user ------>
            <li><a href="" class="c-align-left"><span class="fa fa-plus"></span><span class=""> </span> Invite new
              user</a></li>
          </ul>
        </li>

      </ul>
    </div>

<!--
    <a href="#menu-toggle" class="btn btn-default glyphicon glyphicon-th-list" id="menu-toggle"></a>

    <!--	 <a href="" class="btn btn-default glyphicon glyphicon-cog" id="menu-toggle2"></a>  -->


    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
       <!-- <div class="row"> -->

        <div class="row">
    		 



        <!-- si hay error -->
			<div ng-if="error" class="jumbotron" id="jumboalert">
	            <h1>¡Oh snap!</h1>
	            <p>{{error}}</p>


	            <p><a ng-click="logoutLogin()" class="btn btn-danger btn-lg glyphicon glyphicon-log-in"></a></p>
			</div>



		<!-- si no hay error -->
		<div ng-show="!error" ng-class="class1" id="col8">    
    
      		<!--Sidebar content-->

          <div class="panel panel-info" id="panel-info">
            
            <div  class="panel-heading" id="panel-heading">
    

                <a href="#menu-toggle" class="glyphicon glyphicon-comment" id="menu-toggle"></a>
               {{tagGroup.groupName}}

               <a href="" class="" id="menu-tag" ng-if= "tagChannel !==undefined"> #{{tagChannel.channelName}}</a>


              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <ul class="dropdown-menu slidedown">
                  <li class="dropdown-header">My status</li>

                  <li><a href=""><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                  <li><a href=""><span class="glyphicon glyphicon-minus-sign">
                            </span>Busy</a></li>
                  <li><a href=""><span class="glyphicon glyphicon-time"></span>
                    Away</a></li>

                <!--Groups settings---->
                <li class="divider" ng-if= "tagGroup !==undefined"></li>
                <li class="dropdown-header" ng-if= "tagGroup !==undefined">Group Settings</li>


                  <li ng-if= "tagGroup !==undefined"><a href=""><span class="glyphicon glyphicon-edit">
                            </span>Edit</a></li>


                  <li ng-if= "tagGroup !==undefined"><a href=""><span class="glyphicon glyphicon-user"></span>
                    Show members</a></li>


                  <li ng-if= "tagGroup !==undefined"><a href=""><span class="glyphicon glyphicon-eye-open"></span>
                    Details</a></li>


                  <li ng-if= "tagGroup !==undefined"><a href=""><span class="glyphicon glyphicon-remove"></span>
                    Unsuscribe</a></li>

                  <li ng-if= "tagGroup !==undefined"><a href=""><span class="glyphicon glyphicon-trash">
                            </span>Remove</a></li>






                  <!--Channels settings---->
                <li class="divider" ng-if= "tagChannel !==undefined"></li>
                <li class="dropdown-header" ng-if= "tagChannel !==undefined">Channel Settings</li>



                  <li ng-if= "tagChannel !==undefined"><a href=""><span class="glyphicon glyphicon-edit">
                            </span>Edit</a></li>


                  <li ng-if= "tagChannel !==undefined"><a href=""><span class="glyphicon glyphicon-user"></span>
                    Show members</a></li>


                  <li ng-if= "tagChannel !==undefined"><a href=""><span class="glyphicon glyphicon-eye-open"></span>
                    Details</a></li>


                  <li ng-if= "tagChannel !==undefined"><a href=""><span class="glyphicon glyphicon-remove"></span>
                    Unsuscribe</a></li>

                  <li ng-if= "tagChannel !==undefined"><a href=""><span class="glyphicon glyphicon-trash">
                            </span>Remove</a></li>


                  <!---siempre-->

                  <li class="divider"></li>
                  <li><a ng-click="logout()"><span class="glyphicon glyphicon-off"></span>
                    Sign Out</a></li>
                </ul>
              </div>


                <div class="btn-group pull-right">
                
                  <a ng-click="changeSearchNav()" id="changesearch"><span class="glyphicon glyphicon-option-vertical"></span>
                   </a>

                   <!-- 
                      <a ng-click="changeSearchNav()" id="changesearch" type="button" class="btn btn-default btn-xs dropdown-toggle" >
                      <span class="glyphicon glyphicon-option-vertical"></span>
                    </a>
                    -->    
                </div>



            </div>




            <div class="panel-body" scroll-bottom-on-last="listaMensajes">
              <ul class="chat">
                <li ng-repeat="msg in listaMensajes" send-last
                    ng-class="($storage.id==msg.user.id) ? 'right clearfix' : 'left clearfix'">
                  <hr ng-if="showUserInfo($index)">
                  <span ng-class="($storage.id==msg.user.id) ? 'chat-img pull-right' : 'chat-img pull-left'"
                        ng-if="showUserInfo($index)">
                    <img
                      ng-src="http://placehold.it/50/{{($storage.id!=msg.user.id)?'55C1E7':'FA6F57'}}/fff&text={{msg.user.username | limitTo:2 | uppercase }}"
                      alt="User Avatar" class="img-circle"/>
                  </span>

                  <div class="chat-body clearfix">
                    <div class="header text-left" ng-if="$storage.id!=msg.user.id && showUserInfo($index)">
                      <strong class="username">{{msg.user.username}}</strong>
                      <small class="date" >
                        <span class="glyphicon glyphicon-time"></span>
                        <span am-time-ago="msg.date"></span>
                      </small>
                    </div>
                    <div class="header text-right" ng-if="$storage.id==msg.user.id && showUserInfo($index)">
                      <small class="date" >
                        <span class="glyphicon glyphicon-time"></span>
                        <span am-time-ago="msg.date"></span>
                      </small>
                      <strong class="pull-right username">{{msg.user.username}}</strong>
                    </div>
                    <p ng-if="msg.messageType=='TEXT'"
                       ng-class="($storage.id==msg.user.id) ? 'text-right' : 'text-left'">
                      {{msg.text}}
                    </p>

                    <p ng-if="msg.messageType=='FILE'"
                      ng-class="($storage.id==msg.user.id) ? 'text-right' : 'text-left'">
                      <a ng-href="#" ng-click="getDownloadLink(msg.text, $event)">
                        <span class="glyphicon glyphicon-file" style="font-size: 30px;"></span>{{msg.text}}
                      </a>

                    </p>
                  </div>
                </li>
                <hr>
              </ul>
            </div>
            <div class="panel-footer" id="panel-footer">
              <form name="sendMessageForm">
                <div class="input-group">
                <span class="input-group-btn">
                   <div class="dropup">
                     <button type="button" class="btn btn-success glyphicon glyphicon-plus btn-sm" id="btn-chat-choose"
                             data-toggle="dropdown" ng-disabled="!channelSelected" >
                     </button>

                     <ul class="dropdown-menu slidedown">
                       <li>
                         <input type="file" id="uploadFile" name="uploadFile"
                                file="file" upload-fn="uploadFile()" style="display: none"/>
                         <a id="uploadHref">
                           <span class="glyphicon glyphicon-file"></span>Upload a file
                         </a>
                       </li>
                       <li class="divider"></li>
                       <li>
                         <a href="">
                          <span class="glyphicon glyphicon-question-sign"></span>Create a question
                         </a>
                       </li>
                     </ul>
                   </div>
                </span>
                <input id="btn-input" type="text" class="form-control input-sm"
                       placeholder="{{(channelSelected)?'Type your message here...':'Select a channel ...'}}"
                       ng-model="text"/>
                <span class="input-group-btn">
                    <button type=submit class="btn btn-warning btn-sm" id="btn-chat"
                            ng-disabled="!channelSelected" ng-click="sendText()">
                              Send
                    </button>
                </span>
              </div>
              </form>
            </div>


          </div>
          <!-- /#panel panel-info -->

          </div>
        <!-- /#col-md-8 -->



        <div ng-show="!error && navsearch" class="col-xs-5 col-sm-5 col-md-4 col-lg-4" id="col4">
        		
          <div class="panel panel-info" id="panel-info2">
            
            <div  class="panel-heading" id="panel-heading2">

            	<a href="" class="glyphicon glyphicon-search" id="searchTag"></a>
               

				<input type="text" id="search_terms" class="search_input search_input_highlighted" placeholder="Search" autocomplete="off" value="" maxlength="250">

             

              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
                <ul class="dropdown-menu slidedown">
                  <li class="dropdown-header">Type Filter</li>

                  <li><a href=""><span class="glyphicon glyphicon-user">
                            </span>Members</a></li>
                  <li><a href=""><span class="glyphicon glyphicon-star">
                            </span>Favorites</a></li>
                  <li><a href=""><span class="glyphicon glyphicon-file">
                  	        </span>Files</a></li>

                  <li><a href=""><span class="glyphicon glyphicon-tag">
                  	        </span>Mentions</a></li>
                  
                
                </ul>
              </div>
            </div>


            <div class="panel-body" id="panel-body2">
              
            </div>

      	</div>
        <!-- /#col-md-4 -->






        </div>
        <!-- /#fluid row -->
      </div>
      <!-- /#container-fluid -->
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


</div>

<!-- MODALS -->
<!-- New Group Modal -->
<div id="newGroupModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Group</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="groupNameTxt">Group Name:</label>
          <input type="text" class="form-control" name="groupNameTxt" id="groupNameTxt" placeholder="Enter Group Name..." ng-model="group.groupName">
        </div>
        <div>
          <button type="submit" class="btn btn-success" id="btn-new-group" ng-click="createNewGroup(group)"><span class="fa fa-floppy-o"></span> Create</button>
          <button type="button" class="btn btn-success" id="btn-new-group-reset" ng-click="resetNewGroup()"><span class="fa fa-refresh"></span> Reset</button>
          <button type="button" class="btn btn-success" id="btn-new-group-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
        </div>
      </div>
      <div class="modal-footer">
        <div class="alert alert-danger fade in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="error1">
          <button type="button" class="close"  aria-label="Close" ng-click="error1=0"><span aria-hidden="true">&times;</span>{{message1}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Group Modal -->
<div id="editGroupModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Group</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="editGroupNameTxt">New Group Name:</label>
          <input type="text" class="form-control" name="editGroupNameTxt" id="editGroupNameTxt" placeholder="Enter New Group Name..." ng-model="group.groupName">
        </div>
        <div>
          <button type="submit" class="btn btn-success" id="btn-edit-group" ng-click="editGroup(group)"><span class="fa fa-floppy-o"></span> Save</button>
          <button type="button" class="btn btn-success" id="btn-edit-group-reset" ng-click="resetEditGroup()"><span class="fa fa-refresh"></span> Reset</button>
          <button type="button" class="btn btn-success" id="btn-edit-group-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
        </div>
      </div>
      <div class="modal-footer">
        <div class="alert alert-danger fade in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="error1">
          <button type="button" class="close"  aria-label="Close" ng-click="error1=0"><span aria-hidden="true">&times;</span>{{message1}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New Channel Modal -->
<div id="newChannelModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Channel</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="channelNameTxt">Channel Name:</label>
          <input type="text" class="form-control" name="channelNameTxt" id="channelNameTxt" placeholder="Enter Channel Name..." ng-model="channel.channelName">
        </div>
        <div class="form-group">
          <label for="channelTypeTxt">Channel Type (PUBLIC/PRIVATE): </label>
          <input type="text" class="form-control" name="channelTypeTxt" id="channelTypeTxt" placeholder="Enter Channel Type..." ng-model="channel.channelType">
        </div>
        <div>
          <button type="submit" class="btn btn-success" id="btn-new-channel" ng-click="createNewChannel(channel)"><span class="fa fa-floppy-o"></span> Create</button>
          <button type="button" class="btn btn-success" id="btn-new-channel-reset" ng-click="resetNewChannel()"><span class="fa fa-refresh"></span> Reset</button>
          <button type="button" class="btn btn-success" id="btn-new-channel-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
        </div>
      </div>
      <div class="modal-footer">
        <div class="alert alert-danger fade in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="error1">
          <button type="button" class="close"  aria-label="Close" ng-click="error1=0"><span aria-hidden="true">{{message1}} &times;</span></button>
        </div>
      </div>
      </div>
    </div>
  </div>


<!-- Edit Channel Modal -->
<div id="editChannelModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Channel</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="editChannelNameTxt">New Channel Name:</label>
          <input type="text" class="form-control" name="editChannelNameTxt" id="editChannelNameTxt" placeholder="Enter New Channel Name..." ng-model="channel.channelName">
        </div>
        <div>
          <button type="submit" class="btn btn-success" id="btn-edit-channel" ng-click="editChannel(channel)"><span class="fa fa-floppy-o"></span> Save</button>
          <button type="button" class="btn btn-success" id="btn-edit-channel-reset" ng-click="resetEditChannel()"><span class="fa fa-refresh"></span> Reset</button>
          <button type="button" class="btn btn-success" id="btn-edit-channel-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
        </div>
      </div>
      <div class="modal-footer">
        <div class="alert alert-danger fade in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="error1">
          <button type="button" class="close"  aria-label="Close" ng-click="error1=0"><span aria-hidden="true">&times;</span>{{message1}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Channel Modal -->
<div id="channelMemberInfoModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Channel Members</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <span><label>Members: </label></span>
        </div>
        <div>
          <button type="button" class="btn btn-success" id="btn-channel-member-info-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
        </div>
      </div>
      <div class="modal-footer">
        <div class="alert alert-danger fade in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="error1">
          <button type="button" class="close"  aria-label="Close" ng-click="error1=0"><span aria-hidden="true">&times;</span>{{message1}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Unsuscribe from channel Modal -->
<div id="unsuscribeFromChannelModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <span><label>¿Do you really want to unsuscribe from this channel? </label></span>
        </div>
        <div>
          <button type="button" class="btn btn-success" id="btn-unsuscribe-channel-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
          <button type="submit" class="btn btn-danger" id="btn-unsuscribe-channel-accept" ng-click="unsuscribeFromChannel(channel)"><span class="fa fa-floppy-o"></span> Unsuscribe</button>
        </div>
      </div>
      <div class="modal-footer">
        <div class="alert alert-danger fade in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="error1">
          <button type="button" class="close"  aria-label="Close" ng-click="error1=0"><span aria-hidden="true">&times;</span>{{message1}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- delete channel Modal -->
<div id="deleteChannelModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <span><label>¿Do you really want to delete this channel? </label></span>
        </div>
        <div>
          <button type="button" class="btn btn-success" id="btn-delete-channel-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
          <button type="submit" class="btn btn-danger" id="btn-delete-channel-accept" ng-click="deleteChannel(channel)"><span class="fa fa-floppy-o"></span> Delete</button>
        </div>
      </div>
      <div class="modal-footer">
        <div class="alert alert-danger fade in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="error1">
          <button type="button" class="close"  aria-label="Close" ng-click="error1=0"><span aria-hidden="true">&times;</span>{{message1}}</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Delete user From Channel Modal -->
<div id="deleteUserFromChannelModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete User</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <span><label>Please select a member to delete: </label></span>
        </div>
        <div>
          <button type="button" class="btn btn-success" id="btn-delete-user-from-channel-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
          <button type="submit" class="btn btn-danger" id="btn-delete-user-from-channel-accept" ng-click="deleteUserFromChannel(channel)"><span class="fa fa-floppy-o"></span> Delete</button>
        </div>
      </div>
      <div class="modal-footer">
        <div class="alert alert-danger fade in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="error1">
          <button type="button" class="close"  aria-label="Close" ng-click="error1=0"><span aria-hidden="true">&times;</span>{{message1}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add user to Channel Modal -->
<div id="addUserToChannelModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add User</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <span><label>Please select a member to add: </label></span>
        </div>
        <div>
          <button type="button" class="btn btn-success" id="btn-add-user-from-channel-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
          <button type="submit" class="btn btn-success" id="btn-add-user-from-channel-accept" ng-click="addUserToChannel(channel)"><span class="fa fa-floppy-o"></span> Add</button>
        </div>
      </div>
      <div class="modal-footer">
        <div class="alert alert-danger fade in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="error1">
          <button type="button" class="close"  aria-label="Close" ng-click="error1=0"><span aria-hidden="true">&times;</span>{{message1}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="scripts/myscripts.js"></script>
<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  $("#menu").metisMenu2({

  });

  // Upload file using href
  $("#uploadHref").click(function () {
    $("#uploadFile").trigger('click');
  });


  $("#changesearch").click(function (e) {
    e.preventDefault();
    console.log("entro en jquery");
    


    /*class="col-xs-7 col-sm-7 col-md-8 col-lg-8"*/
  });


  //New channel modal management







</script>


<link rel="stylesheet" ng-href="styles/chat2.css">


<!---------- este es necesario -------------------------->
<!---------- formato -------------------------->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<!---------- iconos -------------------------->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">




