
<div class="chatContainer">


 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" >
           <!-- <ul class="sidebar-nav" id="menu" ng-hide="error"> -->
              <ul class="sidebar-nav" id="menu" >
                <li class="sidebar-brand">

                    <a href=""><img id="avatar" src="images/yeoman.png" class="profile-image img-circle">
                      {{username}}
                    </a>
                </li>



        <li class="activeInvitations" ng-show="invitations.length > 0">
          <a class="btn btn-warning" href="" aria-expanded="true">Invitations<i class="fa fa-bell fa-fw"></i></a>
          <ul aria-expanded="true" class="emphasis">
            <li ng-repeat="invitation in invitations" ng-if="invitations.length > 0">
              {{invitation.groupName}}


              <div class="btn-group">
                <a ng-click="acceptGroup(invitation, $index)" class="btn btn-success fa fa-thumbs-o-up"></a>
                <a ng-click="refuseGroup(invitation, $index)" class="btn btn-danger fa fa-thumbs-o-down"></a>
              </div>

            </li>


          </ul>
        </li>




        <li class="active">
          <a class="btn btn-primary" href="" aria-expanded="true">Groups<i class="fa fa-group fa-fw"></i></a>
          <ul aria-expanded="true" class="emphasis cgroups" id="grouplist">
            <li ng-repeat="group in groups" ng-if="groups.length > 0">

              <a ng-click="selectGroup(group)">

                {{group.groupName}}
              </a></li>
            <!----  add group ------>
            <li>
              <a href="" class="" data-toggle="modal" data-target="#newGroupModal"><span class="fa fa-plus"></span> Add new Group</a>
            </li>
          </ul>
        </li>


        <!----separator------>
        <li class="activeChannels" ng-show= "tagGroup !== ''">
          <a class="btn btn-primary" href="" aria-expanded="false" >Channels<i class="fa fa-comment fa-fw"></i></a>
          <ul aria-expanded="false">
            <li class="activeChannelsPublic active">
              <a href="" class="btn btn-danger" aria-expanded="false">Public<span class="fa fa-chevron-down"></span></a>
              <ul class="emphasis" aria-expanded="false">
                <li ng-repeat="channel in publicChannels" ng-if="publicChannels.length > 0">
                  <span class="input-group-btn pull-left">
                    <div class="dropdown">
                      <button type="button" id="btn-public-channel-settings" name="btn-public-channel-settings" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <span><i class="fa fa-gear"></i></span>
                      </button>
                      <ul class="dropdown-menu slidedown">
                        <li><a href="" class="fa fa-pencil-square-o" data-toggle="modal" data-target="#editChannelModal" ng-click="selectChannel(channel)"> Edit channel</a></li>
                        <li><a href="" class="fa fa-users" data-toggle="modal" data-target="#channelMemberInfoModal" ng-click="selectChannel(channel)"> Members</a></li>
                        <li><a href="" class="fa fa-times" data-toggle="modal" data-target="#deleteChannelModal" ng-click="selectChannel(channel)"> Delete channel</a></li>
                        <li><a href="" class="fa fa-user-times" data-toggle="modal" data-target="#deleteUserFromChannelModal" ng-click="selectChannel(channel)"> Delete user</a></li>
                        <li><a href="" class="fa fa-user-times" data-toggle="modal" data-target="#unsuscribeFromChannelModal" ng-click="selectChannel(channel)"> Unsuscribe</a></li>
                        <li><a href="" class="fa fa-user-plus" data-toggle="modal" data-target="#addUserToChannelModal" ng-click="selectChannel(channel)"> Add user</a></li>
                      </ul>
                    </div>
                  </span>
                  <a ng-click="selectChannel(channel)">
                    {{channel.channelName}}
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" class="btn btn-danger">Private<span class="fa fa-chevron-down"></span></a>
              <ul class="emphasis">
                <li ng-repeat="channel in privateChannels" ng-if="privateChannels.length > 0">
                  <span class="input-group-btn pull-left">
                    <div class="dropdown">
                      <button type="button" id="btn-private-channel-settings" name="btn-private-channel-settings" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" ng-click="selectChannel(channel)">
                        <span><i class="fa fa-gear"></i></span>
                      </button>
                      <ul class="dropdown-menu slidedown">
                        <li><a href="" class="fa fa-pencil-square-o" data-toggle="modal" data-target="#editChannelModal" ng-click="getChannelMembers()"> Edit channel</a></li>
                        <li><a href="" class="fa fa-users" data-toggle="modal" data-target="#channelMemberInfoModal" ng-click="selectChannel(channel)"> Members</a></li>
                        <li><a href="" class="fa fa-times" data-toggle="modal" data-target="#deleteChannelModal" ng-click="selectChannel(channel)"> Delete channel</a></li>
                        <li><a href="" class="fa fa-user-times" data-toggle="modal" data-target="#deleteUserFromChannelModal" ng-click="selectChannel(channel)"> Delete user</a></li>
                        <li><a href="" class="fa fa-user-times" data-toggle="modal" data-target="#unsuscribeFromChannelModal" ng-click="selectChannel(channel)"> Unsuscribe</a></li>
                        <li><a href="" class="fa fa-user-plus" data-toggle="modal" data-target="#addUserToChannelModal" ng-click="selectChannel(channel)"> Add user</a></li>
                      </ul>
                    </div>
                  </span>
                  <a ng-click="selectChannel(channel)">
                    {{channel.channelName}}
                  </a>
                </li>
              </ul>
            </li>
            <!----  add channel ------>
            <li>
              <a href="" class="" data-toggle="modal" data-target="#newChannelModal"><span class="fa fa-plus"></span> Add new channel</a>
            </li>
          </ul>
        </li>
        <!-------separator------>
        <li class="activeMembers" ng-show= "tagGroup !== ''">
          <a href="" class="btn btn-primary" aria-expanded="false">Direct Messages<i class="fa fa-user fa-fw"></i></a>

          <ul aria-expanded="true" class="emphasis">
            <!-- dependiendo si esta en online un icono u otro::: fa fa-heart-o || fa fa-heart -->

            <li ng-repeat="member in members" ng-if="members.length > 1" ng-show= "member.id != userid">
              <a ng-click="searchDirectChannel(member)">
                <span ng-class="(isConnected(member.id))?'fa fa-heart':'fa fa-heart-o'"></span>
                {{member.username}}
              </a>
            </li>


            <!----  invite user ------>
            <li><a href="" class="c-align-left"><span class="fa fa-plus"></span><span class=""> </span> Invite new
              user</a></li>
          </ul>
        </li>

      </ul>
    </div>

<!--
    <a href="#menu-toggle" class="btn btn-default glyphicon glyphicon-th-list" id="menu-toggle"></a>

    <!--	 <a href="" class="btn btn-default glyphicon glyphicon-cog" id="menu-toggle2"></a>  -->


    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
       <!-- <div class="row"> -->

        <div class="row">




		<!-- si no hay error -->
		<!--<div ng-show="!error" ng-class="class1" id="col8"> -->
        <div ng-class="class1" id="col8">

      		<!--Sidebar content-->

          <div class="panel panel-info" id="panel-info">

            <div  class="panel-heading" id="panel-heading">

             <div class="container-fluid panel-container">


                <div class="col-xs-1">
                      <a ng-href="#menu-toggle"
                      class="glyphicon glyphicon-th-list" id="menu-toggle">
                      </a>
                </div>


                <div class="col-xs-10 text-center ">
                    <a id="tagGroup" ng-click="showGrouptoEdit(tagGroup)">

                      {{tagGroup.groupName}}
                    </a>
                    <a ng-click="" class="" id="menu-tag" ng-if= "tagChannel !== '' ">
                      #{{tagChannel.channelName}}
                    </a>
                </div>

                <div class="col-xs-1" id="btnviewright">

                <!-- de momento no se usa, es el que abre el contenedor de busqueda -->

                <!--  <a ng-click="changeSearchNav()" id="changesearch"><span class="glyphicon glyphicon-option-vertical"></span>
                   </a> -->

                </div>

            </div>  <!-- container-fluid panel-container -->

            </div> <!-- panel-heading -->



            <!-- si no hemos seleccionado canal se muestra otro panel (settings grupo) -->
            <div ng-if= "tagChannel == '' " class="panel-body" id="panel-body1">

                <div ng-if= "tagGroup !== '' " class="row" id="row-settings">
                    <div ng-if= "tagGroup !== '' " class="panel panel-info" id="panel-set">


                          <div class="panel-heading" id="panel-heading-settings">

                               <div class="container-fluid panel-container">

                                      <div class="col-xs-1">
                                         <h3 class="panel-title">Settings </h3>
                                           <!-- <h3 ng-click="#menu-toggle" class="glyphicon glyphicon-th-list" id="menu-toggle"></a>    -->
                                      </div>


                              </div>  <!-- container-fluid panel-container -->


                         </div> <!-- end panel-heading-settings  -->


                        <div class="panel-body" id="panel-settings">
                            <div class="container-fluid panel-container">

                                <div class="col-xs-5 col-sm-3 col-md-3">
                                  <p>
                                     <span editable-text="tagGroup.groupName" e-form="textBtnForm" e-required onbeforesave="checkGroupName($data, tagGroup)">
                                  {{ tagGroup.groupName || 'empty' }}
                                     </span>
                                    </p>
                                </div>



                                 <div class="col-xs-7 col-sm-9 col-md-9 " id="btneditgroup">

                                      <div class="btn-group" role="group" aria-label="">
                                        <button type="button" class="btn btn-info" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible || adminGroup.id != userid">
                                                  <span class="fa fa-pencil fa-fw"></span>
                                        </button>

                                        <!--  de momento si el usuario es el admin,
                                              no se puede salir hasta que no gestionemos eso
                                        -->
                                        <button type="button" class="btn btn-warning"
                                        data-toggle="modal" data-target="#unsuscribeFromGroupModal"
                                         ng-hide="textBtnForm.$visible || adminGroup.id == userid">
                                                  <span class="fa fa-chain-broken fa-fw"></span>

                                   </button>


                                        <!-- falta implementar, tambien modal -->
                                        <button type="button" class="btn btn-danger"
                                        data-toggle="modal" data-target="#deleteGroupModal"
                                        ng-hide="textBtnForm.$visible || adminGroup.id != userid">
                                                  <span class="fa fa-trash fa-fw"></span>
                                        </button>

                              </div>

                    </div>


                            </div>  <!-- container-fluid panel-container -->

                        </div> <!-- end panel-body -->

                    </div>   <!-- end panel-info -->
                 </div>     <!-- end row -->


                 <div ng-if= "tagGroup !== '' " class="row" id="row-settings1">
                    <div ng-if= "tagGroup !== '' " class="panel panel-info" id="panel-set1">

                      <div class="panel-heading" id="panel-heading-settings">

                               <div class="container-fluid panel-container">

                                      <div class="col-xs-11">
                                          <h3 class="panel-title">Team Directory
                                        <span class="badge">{{membersSettings.length}}</span>
                                        </h3>
                                      </div>


                                      <!-- xsi queremos poner las opciones en el lateral

                                      <div class="col-xs-1" id="btnviewright">

                                          <a data-toggle="dropdown"><span class="glyphicon  glyphicon-cog"></span>
                                          </a>

                                          <ul class="dropdown-menu slidedown">
                                                <li class="dropdown-header">Members Actions</li>

                                                <li><a ng-click="setSettingsOptions(0)"><span class="fa fa-search fa-fw">
                                                          </span>Search</a></li>

                                                <li><a ng-click="setSettingsOptions(1)"><span class="fa fa-user-plus fa-fw">
                                                          </span>Add</a></li>
                                                <li><a ng-click="setSettingsOptions(2)"><span class="fa fa-user-times fa-fw">
                                                          </span>Remove</a></li>

                                       </ul>

                                      </div>
                                      -->

                              </div>  <!-- container-fluid panel-container -->

                         </div> <!-- end panel-heading-settings  1-->


                              <div class="panel-body" id="panel-settings">

                                  <div class="container-fluid panel-container">

                                      <div class="col-xs-8 col-xs-offset-2 text-center">

                                      <!-- me falta hacer el remove dentro de los grid -->

                                        <div class="input-group input-group-unstyled">
                                             <span ng-click="setSettingsOptions(0)" class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>


                                            <input ng-model="searchText" type="text" class="form-control" placeholder="{{searchinputplaceholder}}"/>

                                            <span ng-if="adminGroup.id == userid" ng-click="setSettingsOptions(1)" class="input-group-addon" id="btnadduser">
                                                <i class="fa fa-user-plus"></i>
                                            </span>

                                            <span ng-if="adminGroup.id == userid" ng-click="setSettingsOptions(2)" class="input-group-addon" id="btnremoveuser" >
                                                <i class="fa fa-user-times"></i>
                                            </span>

                                </div>

                                      </div>


                                      <div class="col-xs-2" id="btnviewright">
                                      </div>

                                  </div>  <!-- container-fluid panel-container -->


                              </div> <!-- panel-settings(panel-body) -->



                               <div class="col-xs-8 col-xs-offset-2 text-center" ng-if="membersSettings.length == 0">
                                      <div class="alert alert-warning" id="alertnotusers"role="alert" ng-if="membersSettings.length == 0">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="messageNewGroupModal=''">
                                                      <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h3>Not users yet</h3>
                                      </div>
                                </div>


                              <div class="container-fluid panel-container" id="containermembersettings" ng-if="membersSettings.length > 0">


                                      <ul class="list-group" id="list-group">

<!--ng-class="$index%3 != 0? 'col-md-offset-1': ''"
    falta que me devuelva los usuarios que no estan añadidos
    cambiar la metodologia de options a 0 y 1 -->


<!--
                                      <li ng-click=
                                      "(option == 1) ? inviteUserToGroup(member) : ((option == 2) ? removeUserFromGroup(member) :  null)"
                                      class="list-group-item"
                                      ng-class="members.length > 2 ? 'col-lg-4': 'col-lg-12'"
                                      ng-repeat="member in membersSettings | filter:searchText" ng-if="members.length > 0">



                                      data-toggle="modal" data-target="#unsuscribeFromGroupModal"

-->

<!--
                                      <li data-toggle="modal"
                                      data-toggle="(option == 1) ? 'modal' : ((option == 2) ? modal :  '')"
                                      data-target="#add-removeuserFromGroupModal"
-->
<!--
ng-disabled="checkinvitations(member)
ng-class="{'disabled':condition}"-->
                                      <li  ng-class="{'disabled':member.isinvited || adminGroup.id == member.id}" ng-click="(option == 1) ? inviteUserToGroup(member) : ((option == 2) ? removeUserFromGroup(member) :  null)"
                                      class="list-group-item"
                                      ng-class="membersSettings.length > 2 ? 'col-lg-4': 'col-lg-12'"
                                      ng-repeat="member in membersSettings | filter:searchText" ng-if="membersSettings.length > 0">

                                      <!-- si options = 1 add / options = 2 remove -->
                                               <img ng-src="http://placehold.it/50/{{member.color}}/fff&text={{member.username | limitTo:2 | uppercase }}"
                                                        alt="User Avatar" class="img-circle" id="img-circle"/>

                                                        <span ng-if="adminGroup.id == member.id"class="label label-primary" id="labeladmin">Admin</span>

                                                        <span ng-if="member.isinvited == 1" class="label label-primary" id="labeladmin">Invited</span>

                                                        <p ng-bind-html="highlight(member.username, searchText)">{{member.username}}
                                                        </p>

                                                        <p ng-bind-html="highlight(member.mail, searchText)">{{member.mail}}</p>


                                      </li>


                                    </ul>
                                     <!--  <div class="col-md-4">
                                      </div>
                                      -->



                                  </div>  <!-- container-fluid panel-container -->



                    </div> <!-- panel-set1 (team directory)-->

                 </div> <!-- row-settings -->



            </div> <!--  panel-body1 -->






            <div ng-if= "tagChannel !== '' " class="panel-body" id="panel-body" scroll-bottom-on-last="listaMensajes">
              <ul class="chat">
                <li ng-repeat="msg in listaMensajes" send-last
                    ng-class="{'internal-message':isInternalMessage($index)}"
                    name="{{msg.id}}" id="{{msg.id}}"
                    class="left clearfix">
                  <hr ng-if="showUserInfo($index)">
                  <span class="chat-img pull-left"
                        ng-if="showUserInfo($index)">
                    <img
                      ng-src="http://placehold.it/50/{{($storage.id!=msg.user.id)?'55C1E7':'FA6F57'}}/fff&text={{msg.user.username | limitTo:2 | uppercase }}"
                      alt="User Avatar" class="img-circle"/>
                  </span>

                  <div class="chat-body clearfix">
                    <div class="header text-left" ng-if="showUserInfo($index)">
                      <strong class="username">{{msg.user.username}}</strong>
                      <small class="date" >
                        <span class="glyphicon glyphicon-time"></span>
                        <span am-time-ago="msg.date"></span>
                      </small>
                    </div>

                    <p ng-if="isInternalMessage($index)" class="text-left">

                      <span bind-html-compile="getInternalMessage($index)"></span>
                    </p>
                    <p ng-if="msg.messageType=='TEXT' && !isInternalMessage($index)" class="text-left">
                      {{msg.text}}
                    </p>
                    <p ng-if="msg.messageType=='FILE'" class="text-left">
                      {{msg.text}}
                      <br ng-if="msg.text">
                      <a ng-href="#" ng-click="getDownloadLink(msg.filename, $event)">
                        <span class="glyphicon glyphicon-file" style="font-size: 30px;"></span>{{msg.filename}}
                      </a>
                      <br>
                    </p>
                    <uib-accordion ng-if="msg.messageType=='QUESTION'"
                      class="question-panels text-left" close-others="false" >
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title"><span class="question-title"> QUESTION:</span> {{msg.title}}</h4>
                        </div>
                        <div class="panel-collapse">
                          <div class="panel-body">
                            <p>
                              <span ng-bind-html="msg.text"></span>
                            </p>

                          </div>
                        </div>
                      </div>
                      <uib-accordion-group ng-repeat="answer in msg.answers" is-open="status.open">
                        <uib-accordion-heading>
                          <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                          <span class="question-title"> ANSWER {{$index+1}}:</span>
                          <strong class="username">{{answer.user.username}}</strong>
                          <small class="date">
                            <span class="glyphicon glyphicon-time"></span>
                            <span am-time-ago="answer.date"></span>
                          </small>
                        </uib-accordion-heading>
                        <p ng-bind-html="answer.text"></p>
                      </uib-accordion-group>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="" ng-click="newAnswer(msg.id)">
                              <span class="fa fa-plus-square-o"></span>
                              <span class="question-new-answer"> Add new answer </span>
                            </a>
                          </h4>
                        </div>
                      </div>

                    </uib-accordion>

                  </div>
                </li>
                <hr ng-if="listaMensajes.length > 0">
              </ul>
            </div>
            <div ng-show= "tagChannel !== '' " class="panel-footer" id="panel-footer">
              <form name="sendMessageForm">
                <div class="input-group">
                <span class="input-group-btn">
                   <div class="dropup">
                     <button type="button" class="btn btn-success glyphicon glyphicon-plus btn-sm" id="btn-chat-choose"
                             data-toggle="dropdown" ng-disabled="!channelSelected" >
                     </button>

                     <ul class="dropdown-menu slidedown">
                       <li>
                         <input type="file" id="uploadFile" name="uploadFile"
                                file="file" upload-fn="confirmUploadFile()" style="display: none"/>
                         <a id="uploadHref" >
                           <span class="glyphicon glyphicon-file"></span>Upload a file
                         </a>
                       </li>
                       <li class="divider"></li>
                       <li>
                         <a ng-click="createQuestion()">
                          <span class="glyphicon glyphicon-question-sign"></span>Create a question
                         </a>
                       </li>
                     </ul>
                   </div>
                </span>
                <input id="btn-input" type="text" class="form-control input-sm"
                       placeholder="{{(channelSelected)?'Type your message here...':'Select a channel ...'}}"
                       ng-model="text"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-warning btn-sm" id="btn-chat"
                            ng-disabled="!channelSelected" ng-click="sendText()">
                              Send
                    </button>
                </span>
              </div>
              </form>
            </div>


          </div>
          <!-- /#panel panel-info -->


          </div>
        <!-- /#col-md-8 -->



<!--        <div ng-show="!error && navsearch" class="col-xs-5 col-sm-5 col-md-4 col-lg-4" id="col4"> -->

<!-- contenedor de busquedas:: actualmente comentado -->

<div ng-show="navsearch" class="col-xs-5 col-sm-5 col-md-4 col-lg-4" id="col4">

          <div class="panel panel-info" id="panel-info2">

            <div  class="panel-heading" id="panel-heading2">

            	<a href="" class="glyphicon glyphicon-search" id="searchTag"></a>


				<input type="text" id="search_terms" class="search_input search_input_highlighted" placeholder="Search" autocomplete="off" value="" maxlength="250">



              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
                <ul class="dropdown-menu slidedown">
                  <li class="dropdown-header">Type Filter</li>

                  <li><a href=""><span class="glyphicon glyphicon-user">
                            </span>Members</a></li>
                  <li><a href=""><span class="glyphicon glyphicon-star">
                            </span>Favorites</a></li>
                  <li><a href=""><span class="glyphicon glyphicon-file">
                  	        </span>Files</a></li>

                  <li><a href=""><span class="glyphicon glyphicon-tag">
                  	        </span>Mentions</a></li>


                </ul>
              </div>
            </div>


            <div class="panel-body" id="panel-body2">

            </div>

      	</div>
        <!-- /#col-md-4 -->






        </div>
        <!-- /#fluid row -->
      </div>
      <!-- /#container-fluid -->
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


</div>

  <!-- MODALS -->

  <!--********** Notification deleting ********* -->


<!--  #add-removeuserFromGroupModal       -->

<!--
<div id="add-removeuserFromGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content
      <div class="modal-content">
        <div class="modal-header">

            <!-- options 1 add -->
            <!-- options 2 remove
            <h4 ng-show="option == 1" class="modal-title" id="adduserLabel">Adding User Notification</h4>
            <h4 ng-show="option == 2" class="modal-title" id="removeuserLabel">Deleting User Notification</h4>

        </div>


        <div class="modal-body">

            <p ng-show="option == 1">Do you really want to add this user to group?</p>
            <p ng-show="option == 2">Do you really want to remove this user from group?</p>
<!--
            <div class="alert alert-danger fade in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="errorUnsuscribeFromChannelModal">
                      <button type="button" class="close"  aria-label="Close" ng-click="errorUnsuscribeFromGroupModal=0"><span aria-hidden="true">&times;</span>{{messageUnsuscribeFromChannelModal}}</button>
            </div>


        </div>
        <div class="modal-footer">
         <button type="button" class="btn btn-danger" id="btn-unsuscribe-group-close" data-dismiss="modal"><span class="fa fa-remove"></span></button>
         <button type="submit" class="btn btn-success" id="btn-unsuscribe-group-accept"

         ng-click="(option == 1) ? inviteUserToGroup(member) : removeUserFromGroup(member)"><span class="fa fa-check"></span></button>



        </div>

      </div>
    </div>
  </div>

-->


<!--    errorGroupModal  -->
<div id="errorGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="deleteLabel">Error Notification</h4>

        </div>


        <div class="modal-body">
          <div class="alert alert-danger" role="alert">
                {{errorG}}
          </div>
        </div>


        <div class="modal-footer">
         <button type="button" class="btn btn-success" id="btn-ok" data-dismiss="modal" ng-click="errorG=''"><span class="fa fa-check"> Close</span></button>

        </div>

      </div>
    </div>
  </div>



<!--    deleteGroupModal  -->
<div id="deleteGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Delete Group Notification</h4>

        </div>


        <div class="modal-body">
            <p>Do you really want to remove this group?</p>
        </div>


        <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-click="removeGroup()"><span class="fa fa-trash-o"> Remove</span></button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"> Close</span></button>
        </div>

      </div>

    </div>
</div>




 <!-- Unsuscribe from group Modal -->
  <div id="unsuscribeFromGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Unsuscribe Notification</h4>

        </div>


        <div class="modal-body">

            <p>Do you really want to unsuscribe from this group?</p>

        </div>

        <div class="modal-footer">

         <button type="submit" class="btn btn-success" ng-click="unsuscribeFromGroup()"><span class="fa fa-chain-broken"> Unsuscribe</span></button>
         <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-remove"> Close</span></button>

        </div>

      </div>
    </div>
  </div>




  <!-- New Group Modal -->
  <div id="newGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->

      <div class="modal-content">
        <div class="modal-header" >
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            ng-click="messageNewGroupModal=''; removeInput()">
                    <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Add New Group</h4>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="groupNameTxt">Group Name:</label>
            <input type="text" class="form-control" name="groupNameTxt" id="groupNameTxt" placeholder="Enter Group Name..." ng-model="group.groupName">

            <div class="alert alert-danger" role="alert" ng-if="messageNewGroupModal !== ''">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="messageNewGroupModal=''">
                        <span aria-hidden="true">&times;</span>
                </button>

             {{messageNewGroupModal}}

            </div>
          </div>
        </div>


        <div class="modal-footer">

            <button type="submit" class="btn btn-success" id="btn-new-group" ng-click="createNewGroup(group)"><span class="fa fa-floppy-o"></span> Create</button>

            <button type="button" class="btn btn-danger" id="btn-new-group-close" data-dismiss="modal" ng-click="messageNewGroupModal=''; removeInput()"><span class="fa fa-remove"></span> Close</button>

        </div>
      </div>
    </div>
  </div>


<!--***************** hasta aqui uso ***********************************-->




  <!-- New Channel Modal -->
  <div id="newChannelModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Channel</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="channelNameTxt">Channel Name:</label>
            <input type="text" class="form-control" name="channelNameTxt" id="channelNameTxt" placeholder="Enter Channel Name..." ng-model="channel.channelName">
          </div>
          <div class="form-group">
            <span><label>Select Channel Type: </label></span>
            <br>
            <select ng-model="channel.channelType">
              <option value="PRIVATE"><span><label> PRIVATE </label></span></option>
              <option value="PUBLIC"><span><label> PUBLIC </label></span></option>
            </select>
          </div>
          <div class="alert alert-danger" role="alert" ng-if="messageNewChannelModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="messageNewChannelModal=''">
              <span aria-hidden="true">&times;</span>
            </button>
            {{messageNewChannelModal}}
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <button type="submit" class="btn btn-success" id="btn-new-channel" ng-click="createNewChannel(channel)"><span class="fa fa-floppy-o"></span> Create</button>
            <button type="button" class="btn btn-success" id="btn-new-channel-reset" ng-click="resetNewChannel()"><span class="fa fa-refresh"></span> Reset</button>
            <button type="button" class="btn btn-success" id="btn-new-channel-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Edit Channel Modal -->
  <div id="editChannelModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Channel</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="editChannelNameTxt">New Channel Name:</label>
            <input type="text" class="form-control" name="editChannelNameTxt" id="editChannelNameTxt" placeholder="Enter New Channel Name..." ng-model="channel.channelName">
          </div>
          <div>
            <button type="submit" class="btn btn-success" id="btn-edit-channel" ng-click="editChannel(channel)"><span class="fa fa-floppy-o"></span> Save</button>
            <button type="button" class="btn btn-success" id="btn-edit-channel-reset" ng-click="resetEditChannel()"><span class="fa fa-refresh"></span> Reset</button>
            <button type="button" class="btn btn-success" id="btn-edit-channel-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
          </div>
        </div>
        <div class="modal-footer">
          <div class="alert alert-danger fade in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="errorEditChannelModal">
            <button type="button" class="close"  aria-label="Close" ng-click="errorEditChannelModal=0"><span aria-hidden="true">{{messageEditChannelModal}} &times;</span></button>
            {{messageEditChannelModal}}
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Users in channel Modal -->
  <div id="channelMemberInfoModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Channel Members</h4>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <span><label>Members: </label></span>
            <ul aria-expanded="true" class="emphasis">
              <li ng-repeat="mem in channelMembers" class="list-group-item">
                {{mem.username}}
              </li>
            </ul>
          </div>
          <div>
            <button type="button" class="btn btn-success" id="btn-channel-member-info-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
          </div>
        </div>
        <div class="modal-footer">
          <div class="alert alert-danger" role="alert" ng-if="messageChannelMemberInfoModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="messageChannelMemberInfoModal=''">
              <span aria-hidden="true">&times;</span>
            </button>

            {{messageChannelMemberInfoModal}}

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Unsuscribe from channel Modal -->
  <div id="unsuscribeFromChannelModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-group">
            <span><label>¿Do you really want to unsuscribe from this channel? </label></span>
            <br>
          </div>
          <div>
            <button type="button" class="btn btn-success" id="btn-unsuscribe-channel-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
            <button type="submit" class="btn btn-danger" id="btn-unsuscribe-channel-accept" ng-click="unsuscribeFromChannel()"><span class="fa fa-floppy-o"></span> Unsuscribe</button>
          </div>
        </div>
        <div class="modal-footer">
          <div class="alert alert-danger" role="alert" ng-if="messageUnsuscribeFromChannelModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="messageUnsuscribeFromChannelModal=''">
              <span aria-hidden="true">&times;</span>
            </button>

            {{messageUnsuscribeFromChannelModal}}

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- delete channel Modal -->
  <div id="deleteChannelModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-group">
            <span><label>¿Do you really want to delete this channel? </label></span>
          </div>
          <div>
            <button type="button" class="btn btn-success" id="btn-delete-channel-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
            <button type="submit" class="btn btn-danger" id="btn-delete-channel-accept" ng-click="deleteChannel(channel)"><span class="fa fa-floppy-o"></span> Delete</button>
          </div>
        </div>
        <div class="modal-footer">
          <div class="alert alert-danger" role="alert" ng-if="messageDeleteChannelModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="messageDeleteChannelModal=''">
              <span aria-hidden="true">&times;</span>
            </button>

            {{messageDeleteChannelModal}}

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Delete user From Channel Modal -->
  <div id="deleteUserFromChannelModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete User</h4>
        </div>
        <div class="modal-body">
          <span><label>Select a user to delete: </label></span>
            <select ng-model="selectedUser">
              <option ng-repeat="me in channelMembers" value="{{me.id}}">
                {{me.username}}
              </option>
            </select>
          <div>
            <button type="button" class="btn btn-success" id="btn-delete-user-from-channel-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
            <button type="submit" class="btn btn-danger" id="btn-delete-user-from-channel-accept" ng-click="deleteUserFromChannel(selectedUser)"><span class="fa fa-floppy-o"></span> Delete</button>
          </div>
        </div>
        <div class="modal-footer">
          <div class="alert alert-danger" role="alert" ng-if="messageDeleteUserFromChannelModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="messageDeleteUserFromChannelModal=''">
              <span aria-hidden="true">&times;</span>
            </button>

            {{messageDeleteUserFromChannelModal}}

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add user to Channel Modal -->
  <div id="addUserToChannelModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add User</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <span><label>Select a user to add: </label></span>
            <select ng-model="selectedUser">
              <option ng-repeat="memb in members" value="{{memb.id}}" ng-show= "memb.id != userid">
                {{memb.username}}
              </option>
            </select>
          </div>
          <div>
            <button type="button" class="btn btn-success" id="btn-add-user-from-channel-close" data-dismiss="modal"><span class="fa fa-remove"></span> Close</button>
            <button type="submit" class="btn btn-success" id="btn-add-user-from-channel-accept" ng-click="addUserToChannel(selectedUser)"><span class="fa fa-floppy-o"></span> Add</button>
          </div>
        </div>
        <div class="modal-footer">
          <div class="alert alert-danger" role="alert" ng-if="messageAddUserToChannelModal !== ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="messageAddUserToChannelModal=''">
              <span aria-hidden="true">&times;</span>
            </button>

            {{messageAddUserToChannelModal}}

          </div>
        </div>
      </div>
    </div>
  </div>

<script src="scripts/myscripts.js"></script>
<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  $("#menu").metisMenu2({

  });

  // Upload file using href
  $("#uploadHref").click(function () {
    $("#uploadFile").trigger('click');
  });


  $("#changesearch").click(function (e) {
    e.preventDefault();
    console.log("entro en jquery");



    /*class="col-xs-7 col-sm-7 col-md-8 col-lg-8"*/
  });


  //New channel modal management







</script>


<link rel="stylesheet" ng-href="styles/chat2.css">


<!---------- este es necesario -------------------------->
<!---------- formato -------------------------->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<!---------- iconos -------------------------->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

