<link rel="stylesheet" ng-href="styles/login.css">
<div class="container-fluid header1">
    <div class="filter"></div>
  <img class="image-header" src="images/header/header.jpg">
</div>
<div class="login-container container">
  <div class="jumbotron">
    <div class="container" ng-controller="LoginCtrl">
        <h2>login</h2><hr/>
      <div class="col-md-6 col-md-offset-3 text-center">
      <form class="form-horizontal" ng-submit="login(user)">
      <!--  <div class="form-group">
          <div class="col-md-offset-2 col-md-5">
            <img class="form-logo" src="images/logos/simple-black.png">
            <p><h3 class="title">Login</h3> & have fun !</p>
        </div></div>-->
        <div class="alert alert-danger fade in col-md-12 alert-dismissible ng-hide has-feedback" role="alert" ng-show="error">
          <button type="button" class="close"  aria-label="Close" ng-click="error=0"><span aria-hidden="true">&times;</span></button>
          <h4><strong>Error!</strong></h4> {{message}}
        </div>
        <div class="form-group form-group-lg">
          <div class="col-md-12">
            <input type="email" name="mail" class="form-control" id="email" placeholder="Email" ng-model="user.mail" ng-required="true">
            <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
          </div>
        </div>
        <div class="form-group form-group-lg">
          <div class="col-md-12">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" ng-required="true">
              <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
          </div>
        </div>
        <div class="form-group form-group-lg">
          <a ng-click="goTo('/remember')" class="col-md-12 ">Have you forgotten your password?</a>
        </div>
        <!--
        <p class="col-md-offset-5 col-md-4 text-danger" ng-show="error">{{message}}</p>
        -->
        <button type="submit" class="btn btn-primary btn-lg">Access</button>
      </form></div>
    </div>
    <hr/>
    <div class="social-icon container text-center" ng-controller="LoginScl">
      <div class="col-md-6 col-md-offset-3 text-center">
        <img src='../images/icons/facebook.png' ng-click="social('facebook')">
        <img src='../images/icons/linkedin.png' ng-click="social('linkedin')">
        <img src='../images/icons/github.png' ng-click="social('github')">
         <img src='../images/icons/google.png' ng-click="social('google')">
    </div></div>
  </div>
</div>
