<link href="styles/only-index.css" rel="stylesheet">
<video autoplay loop poster="" id="bgvid" muted>
<source src="media/back.mp4" type="video/mp4">
</video>
<div id="filter"></div>
<div class="wrapper container-fluid">

<section class="text-center blocks">
<div class="row">
<div class="col-sm-2 col-sm-offset-3  block1">
<p class="title">Forum</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
<button class="btn btn-default" type="submit">Forum</button>
</div>
<div class="col-sm-2 block2">
<p class="title">Chat</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
<button class="btn btn-default" type="submit">Chat</button>
</div>
<div class="col-sm-2 block3">
<p class="title">App</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
<button class="btn btn-default" type="submit">App</button>
</div></div>
</section>
<footer>
<div class="container-fluid">
<div class="col-sm-1 col-xs-1">
  <img src="images/mean.png">
</div></div>
</footer>
</div>
