<div class="jumbotron forumjumbo">
  <div class=" flex-container animation-element bounce-up cf">
    <img class="img-responsive col-md-7 col-xs-7" src="../../images/pantalla.png">
    <div class="flex-column col-md-5 col-xs-5">
      <label class="descargaMessage">Accede a nuestro foro!!</label>
      <a ng-click="goTo('/login')" type="button" class="btn btn-danger btn-lg">Entrar al Foro</a>
    </div>
  </div>
</div>

<div class="jumbotron chatjumbo">
  <div class=" flex-container animation-element bounce-up cf">
    <img class="img-responsive col-md-7 col-xs-7" src="../../images/trabajoengrupo.png">
    <div class="flex-column col-md-5 col-xs-5">
      <label class="descargaMessage">Trabaja en grupo en nuestro sistema!!</label>
      <a ng-click="goTo('/login')" type="button" class="btn btn-danger btn-lg">Entrar al Chat</a>
    </div>
  </div>
</div>

<div class="jumbotron mobilejumbo">
  <div class=" flex-container animation-element bounce-up cf">
      <img class="img-responsive img-movil col-md-7 col-xs-7" src="../../images/movil.png">
      <div class="flex-column col-md-5 col-xs-5">
        <label class="descargaMessage ">Descarga nuestra APP!!</label>
        <a type="button" class="btn btn-danger btn-lg">Descargar</a>
      </div>
    </div>
</div>
