
<div class="container">
  <form name="message.uploadForm" ng-submit=>

    <label>User ID</label><input type="text" id="userid" ng-model="message.data.userid"/>
    <br>
    <label>Channel ID</label><input type="text" id="channelid" ng-model="message.data.channelid" />
    <br>
    <label>Group ID</label><input type="text" id="groupid" ng-model="message.data.groupid" />
    <input type=button onclick="javascript:joinGroup();" value="Join Group">
    <br>

    <label >Texto del mensaje</label>
    <br>
    <textarea ng-model="message.data.text" rows="3" cols="80"/>
    <input type=button  ng-click="message.sendText()" value="Enviar">
    <br>
    <br>
    <br>
    <label >Subir fichero</label>
    <!-- uploadFile: path completo al fichero. NO lo utilizamos en el controlador -->
    <!-- upload.fileName: dentro del scope del controlador. La directiva lo carga con el nombre del fichero (sin ruta) -->
    <input type="file" name="uploadFile" file="message.data.filename" required />
    <br>
     <input type=button ng-click="message.sendDocument()" value="Subir fichero">
  </form>
  <br>
  <table>
    <tr ng-repeat="msg in message.listaMensajes">
      <td style="padding: 5px 15px">{{$index}}</td>
      <td style="padding: 5px 15px">{{msg._id}}</td>
      <td style="padding: 5px 15px">{{msg.messageType}}</td>
      <td style="padding: 5px 15px">{{msg.messageType == 'TEXT' ? msg.content.text : msg.content.path }}</td>
    </tr>
  </table>

</div>
