<div class="login-container container" ng-controller="LoginCtrl">
  <div class="jumbotron">
    <div class="container">
      <h3 class="page-header">Register new user</h3>
      <form class="form-horizontal" name="register.registerForm" novalidate="" ng-model-options="{ updateOn: 'blur'}">
        <div class="col-sm-offset-2 col-sm-10 alert alert-danger small"
             ng-show="register.errorMessage||
                     (register.registerForm.mail.$invalid && register.registerForm.mail.$dirty) ||
                     (register.registerForm.username.$invalid && register.registerForm.username.$dirty) ||
                     (register.registerForm.password.$invalid && register.registerForm.password.$dirty)">
          <ul>
            <li ng-show="register.errorMessage">{{register.errorMessage}}</li>
            <li ng-show="(register.registerForm.$submitted || register.registerForm.mail.$touched) &&
                          register.registerForm.mail.$error.required">Email required</li>
            <li ng-show="(register.registerForm.$submitted || register.registerForm.mail.$touched) &&
                          register.registerForm.mail.$error.email">Email format error</li>
            <li ng-show="(register.registerForm.$submitted || register.registerForm.username.$touched) &&
                          register.registerForm.username.$error.required">Username required</li>
            <li ng-show="(register.registerForm.$submitted || register.registerForm.username.$touched) &&
                          register.registerForm.username.$error.minlength">Username is less than 5 characters</li>
            <li ng-show="(register.registerForm.$submitted || register.registerForm.password.$touched) &&
                          register.registerForm.password.$error.required">Password required</li>
            <li ng-show="(register.registerForm.$submitted || register.registerForm.password.$touched) &&
                          register.registerForm.password.$error.minlength">Password is less than 8 characters</li>
          </ul>
        </div>
        <div class="form-group"
             ng-class="{'has-error': (register.registerForm.$submitted || register.registerForm.mail.$touched) &&
                                      register.registerForm.mail.$invalid}">
          <label class="col-sm-2 control-label" for="mail">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="mail" name="mail" placeholder=""
                   ng-model="register.user.mail" required="">
          </div>
        </div>
        <div class="form-group"
             ng-class="{'has-error': (register.registerForm.$submitted || register.registerForm.username.$touched) &&
                                      register.registerForm.username.$invalid}">
          <label class="col-sm-2 control-label" for="username">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="username" placeholder=""
                   ng-model="register.user.username" required="" minlength="5">
          </div>
        </div>
        <div class="form-group"
             ng-class="{'has-error': (register.registerForm.$submitted || register.registerForm.password.$touched) &&
                                      register.registerForm.password.$invalid}">
          <label class="col-sm-2 control-label" for="password">Password</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="password" name="password" placeholder=""
                   ng-model="register.user.password" required="" minlength="8">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary"
                    ng-click="register.register()" >Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<link rel="stylesheet" ng-href="styles/login.css">
