<link rel="stylesheet" ng-href="styles/login.css">
<link rel="stylesheet" ng-href="styles/remember.css">
<div class="container-fluid header1">
    <div class="filter"></div>
  <img class="image-header" src="images/header/header.jpg">
</div>
<div class="login-container container" >
  <div class="jumbotron">
    <h2 class="page-header">register</h2>
    <p>By registering an account, you will have access to your own private forum or chat</p>
    <div class="container text-center">
      <form class="form-horizontal" name="register.registerForm" novalidate="" ng-model-options="{ updateOn: 'blur'}">
        <div class="row">
          <div class="col-md-offset-3 col-md-6  alert alert-danger small text-left"
             ng-show="register.errorMessage||
                     (register.registerForm.mail.$invalid && (register.registerForm.$submitted || register.registerForm.mail.$dirty)) ||
                     (register.registerForm.username.$invalid && (register.registerForm.$submitted || register.registerForm.username.$dirty)) ||
                     (register.registerForm.password.$invalid && (register.registerForm.$submitted || register.registerForm.password.$dirty))">
          <ul>
            <li ng-show="register.errorMessage">{{register.errorMessage}}</li>
            <li ng-show="(register.registerForm.$submitted || register.registerForm.mail.$touched) &&
                          register.registerForm.mail.$error.required">Email required</li>
            <li ng-show="(register.registerForm.$submitted || register.registerForm.mail.$touched) &&
                          register.registerForm.mail.$error.email">Email format error</li>
            <li ng-show="(register.registerForm.$submitted || register.registerForm.username.$touched) &&
                          register.registerForm.username.$error.required">Username required</li>
            <li ng-show="(register.registerForm.$submitted || register.registerForm.password.$touched) &&
                          register.registerForm.password.$error.required">Password required</li>
          </ul>
        </div>
        </div>
        <div class="form-group  has-feedback"
             ng-class="{'has-error': (register.registerForm.$submitted || register.registerForm.mail.$touched) &&
                                      register.registerForm.mail.$invalid}">
          <div class="col-md-6 col-md-offset-3">
            <input type="email" class="form-control" id="mail" name="mail" placeholder="Email"
                   ng-model="register.user.mail" strict-email-format required="">
                   <i class="glyphicon glyphicon-user form-control-feedback"></i>
          </div>
        </div>
        <div class="form-group has-feedback"
             ng-class="{'has-error': (register.registerForm.$submitted || register.registerForm.username.$touched) &&
                                      register.registerForm.username.$invalid}">
          <div class="col-md-6 col-md-offset-3">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                   ng-model="register.user.username" required="" >
                   <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
          </div>
        </div>
        <div class="form-group has-feedback"
             ng-class="{'has-error': (register.registerForm.$submitted || register.registerForm.password.$touched) &&
                                      register.registerForm.password.$invalid}">
          <div class="col-md-6 col-md-offset-3">
            <input type="text" class="form-control" id="password" name="password" placeholder="Password"
                   ng-model="register.user.password" required="" >
                     <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
          </div>
        </div>
        <br />
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-4">
            <button class="btn btn-primary"
                    ng-click="register.register()" >Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<link rel="stylesheet" ng-href="styles/register.css">
