<div id="wrapper">
	<div ng-include="'views/menuForo.html'"></div>
	<div id="page-content-wrapper">
		<div class="container-fluid" ng-controller="ForoCtrl" data-ng-init="getTags()">
			<div class="container-fluid boton-menu">
		        <a ng-href="#menu-toggle"
		           class="glyphicon glyphicon-th-list" id="menu-toggle">
		        </a>
		    </div>
			<div class="row container-fluid">
				<div class="col-md-8 headLeft">
					<div class="col-md-6">
						<h1>Forum Tags</h1>
					</div>
					<div class="ui-widget search col-md-6">
				  		<label for="tags">Tags: </label>
				  		<input id="tags" ng-model="searchTag">
					</div>
				</div>
				<div class="col-md-4 headRight">
					<form id="custom-search-form" class="form-search form-horizontal">
			            <div class="input-append span12">
			                <input type="text" class="search-query mac-style" placeholder="Search">
			                 <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
			            </div>
		            </form>
				</div>
				<div class="alert alert-danger fade in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="error">
		          <button type="button" class="close"  aria-label="Close" ng-click="error=0"><span aria-hidden="true">&times;</span></button>
		          <h4><strong>Error!</strong></h4> {{message}}
		        </div>
		        <div class="alert alert-success fade in in col-md-offset-4 col-md-4 alert-dismissible ng-hide" role="alert" ng-show="success">
		          <button type="button" class="close"  aria-label="Close" ng-click="success=0"><span aria-hidden="true">&times;</span></button>
		          	{{message}}
		        </div>
			</div>
			<div class="tags-content">
				<div class="container-fluid">
					<div class="col-md-3 col-xs-4 tagbutton" ng-repeat="tag in tags | filter:searchTag">
            <button class="btn" ng-click="questionsByTag(tag._id)">{{tag.text}} ({{tag.tagQuestions.length}})</button></div>
				</div>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" ng-href="styles/foro.css" >
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

